@import "../var.less";

@bonjou-caribbean-h2-color: #00A5B6;
@bonjou-caribbean-cta-background: @bonjou-caribbean-h2-color;

&.bonjou-caribbean {
    @media screen and (max-width: 431px) {}

    h2 {
        color: @bonjou-caribbean-h2-color !important;
    }

    div {
        a {
            background: @bonjou-caribbean-cta-background;
            color: @slideshow-cta-color;
        }
    }
}