@import "../var.less";
@slideshow-font-color: #47363D;
@slideshow-h3-color: @slideshow-font-color;
@slideshow-p-color: @slideshow-font-color;
@slideshow-cta-color: #fff;
@slideshow-cta-background: #F1FF50;

.slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;

  .glide__bullets {
    @media screen and (max-width: 431px) {
      bottom: 5vw;
    }

    bottom: 1vw;
    width: 100%;
    text-align: center;

    button {
      @media screen and (max-width: 431px) {
        // background-color: #FA8180 !important;
      }

      background: #A36452 !important;

      &:hover,
      &.glide__bullet--active {
        @media screen and (max-width:431px) {
          // background-color: #F1FF50 !important;
          border: none !important;
        }

        background: #4765A1 !important;
        border: none !important;
      }
    }
  }

  div {
    &.the-content {
      @media screen and (max-width: 431px) {
        width: 100%;
        left: 0;
        top: 11vw;
        transform: translateX(0);
      }

      top: 50%;
      width: auto;
      left: 70%;
      transform: translate(0%, -50%);
      text-align: center;
      position: absolute;

      div {

        a {
          @media screen and (max-width: 1679px) {
            // width: 20.6vw;
          }

          @media screen and (max-width: 431px) {
            // width: 77vw;
          }

          // width: 346px;
          // background: @tiered-skirted-twirl-cta-background;
          color: @slideshow-cta-color;
        }
      }

      @import 'jambo-kenya.less';
      @import 'bonjou-caribbean.less';
      @import 'hola-mexico.less';
      @import 'xin-chao-southeast-asia.less';
      // @import 'yasou-mediterranean.less';


      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 2.6vw;
          line-height: 3vw;
        }

        @media screen and (max-width: 431px) {
          font-size: 10vw;
          line-height: 10vw;
          margin: 0 0 4vw;
        }

        @media screen and (max-width:320px) {
          // margin: 4% 0 0;
        }

        text-align: center;
        // letter-spacing: 4px;
        // text-transform: uppercase;
        color: @slideshow-font-color;
        font-size: 44px;
        line-height: 46px;
        font-family: @birdie;
        margin: 0 0 1vw;
      }

      h3 {
        @media screen and (max-width: 1679px) {
          font-size: 1vw;
          // line-height: 2vw;
        }

        @media screen and (max-width: 431px) {
          font-size: 4vw;
          margin: 0 0 4vw;
        }

        color: @slideshow-h3-color;
        font-family: @gilroyb;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0 0 1vw;
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.3vw;
          line-height: 2vw;
        }

        @media screen and (max-width: 431px) {
          font-size: 4vw;
          line-height: 6vw;
          margin: 0 0 4vw;
        }

        text-align: center;
        margin: 10% auto;
        color: @slideshow-p-color;
        text-transform: none;
        font-size: 22px;
        line-height: 33px;
        width: 100%;
        font-family: @souv;
        // text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
      }

      div {
        @media screen and (max-width: 431px) {
          margin: 2vw 0 0;
        }

        a {
          @media screen and (max-width: 1679px) {
            width: 17vw;
          }

          @media screen and (max-width: 431px) {
            // background: #F19C01;
            width: 52vw;
          }

          font-family: @gilroyb;
          color: @slideshow-cta-color;
          background: @slideshow-cta-background;
          width: 272px;
        }
      }
    }
  }
}