@import "../var.less";
@xin-chao-southeast-asia-h2-color: #599FA4;
@xin-chao-southeast-asia-cta-background: @xin-chao-southeast-asia-h2-color;


&.xin-chao-southeast-asia {
    @media screen and (max-width: 431px) {}

    h2 {
        color: @xin-chao-southeast-asia-h2-color !important;
    }

    div {
        a {
            background: @xin-chao-southeast-asia-cta-background;
            color: @slideshow-cta-color;
        }
    }
}