@import "../var.less";

@yasou-mediterranean-h2-color: #3E6590;
@yasou-mediterranean-cta-background: @yasou-mediterranean-h2-color;

&.yasou-mediterranean {
    @media screen and (max-width: 431px) {}

    h2 {
        color: @yasou-mediterranean-h2-color !important;
    }

    div {
        a {
            background: @yasou-mediterranean-cta-background;
            color: @slideshow-cta-color;
        }
    }
}