@import "../var.less";

@c1-font-color: #47363D;
@c1-h2-color: #47363D;
@c1-p-color: #47363D;
@c1-cta-color: #fff;
@c1-cta-background: #47363D;

.c1 {
    position: relative;
    width: 100%;

    div {
        &.the-content {
            @media screen and (max-width: 430px) {
                width: 100%;
                transform: translate(0);
                top: 30vw;
                left: 0;
            }

            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            width: auto;
            left: 5%;
            text-align: center;

            img {
                @media screen and (max-width: 1679px) {
                    width: 39vw;
                }
                @media screen and (max-width: 430px) {
                    width: 78vw;
                    margin: 0 auto;
                }

                width: 660px;
            }

            p {
                @media screen and (max-width: 1679px) {
                    font-size: 1.5vw;
                    line-height: 2vw;
                    margin: 2vw 0;
                }

                @media screen and (max-width: 430px) {
                    font-size: 5vw;
                    line-height: 6vw;
                    margin: 90vw 0 4vw;
                    color: #fff;
                }

                color: @c1-p-color;
                text-align: center;
                font-family: @souv;
                font-size: 24px;
                line-height: 32px;
                margin: 40px 0;
            }

            div {


                a {
                    @media screen and (max-width: 1679px) {
                        width: 18vw;
                    }
                    @media screen and (max-width: 430px) {
                        width: 70vw;
                    }

                    background: @c1-cta-background;
                    color: @c1-cta-color;
                    width: 300px;
                }
            }
        }
    }
}