@import "../var.less";
@c3-first-font-color: #fff;
@c3-first-cta-color: #fff;
@c3-first-cta-background: #F28AAC;
@c3-second-font-color: #FFF;
@c3-second-cta-color: #fff;
@c3-second-cta-background: #A93F6C;
@c3-third-font-color: #FFF;
@c3-third-cta-color: #fff;
@c3-third-cta-background: #4D685E;


.c3 {
  @media screen and (max-width: 1679px) {
    // column-gap: 3vw;
  }

  @media screen and (max-width: 430px) {
    flex-wrap: wrap !important;
    // background: #E8C3CA;
    // padding: 0 0 1vw;
  }

  display: flex;
  flex-wrap: nowrap !important;
  // padding: 2vw 0;
  text-align: center;
  // column-gap: 60px;
  // flex-wrap: wrap;

  div {

    &.first,
    &.second,
    &.third {
      @media screen and (max-width:1679px) {
        // padding: 1vw;
      }

      @media screen and (max-width: 430px) {
        // padding: 6vw;
        flex-basis:100%;
      }

      text-align: center;
      box-sizing: border-box;
      flex-basis: 34%;
      // padding: 1.7vw;
      padding: 0;
      position: relative;

      a {
        text-decoration: none;
        color: @c3-first-font-color;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 2.9vw;
          // line-height: 4vw;
        }

        @media screen and (max-width:430px) {
          font-size: 10vw;
          margin: 4vw 0 4vw;
        }

        font-family: @souv;
        font-size: 48px;
        line-height: normal;
        // letter-spacing: 0.1rem;
        color: @c3-first-font-color;
        margin: 1vw 0 1vw;
        // text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
        text-align:center;
      }

      .the-content {
        @media screen and (max-width: 1679px) {
          // padding: 0 0 0 2vw;
        }

        @media screen and (max-width: 430px) {
          bottom: 9vw;
        }

        margin: 0;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 3vw;

        div {
          @media screen and (max-width: 430px) {}

          margin: 0;

          a {
            color: @c3-first-cta-color;
            background: @c3-first-cta-background;
          }

        }
      }
    }

    &.first {
      @media screen and (max-width: 430px) {}

      // order: 2;

      .the-content {
        @media screen and (max-width: 1679px) {}

        @media screen and (max-width: 430px) {}



        h2 {
          @media screen and (max-width: 430px) {}

        }

        div {
          @media screen and (max-width: 430px) {}

          a {
            @media screen and (max-width:1679px) {
              width: 17vw;
            }

            @media screen and (max-width: 430px) {
              width: 66vw;
            }

            color: @c3-first-cta-color;
            background: @c3-first-cta-background;
            width: 281px;
            // margin: 0 0 20%;

          }
        }
      }
    }

    &.second {
      @media screen and (max-width: 430px) {}

      // order: 1;

      h2 {
        @media screen and (max-width:430px) {}

        // color: @c3-second-font-color;
      }

      .the-content {
        @media screen and (max-width: 430px) {}

        div {
          @media screen and (max-width: 430px) {}

          a {
            @media screen and (max-width:1679px) {}

            @media screen and (max-width: 430px) {}

            color: @c3-second-cta-color;
            background: @c3-second-cta-background;
            // width: 290px;

          }
        }
      }
    }

    &.third {
      @media screen and (max-width: 430px) {}

      // order: 1;

      h2 {
        @media screen and (max-width:430px) {}

        // color: @c3-second-font-color;
      }

      .the-content {
        @media screen and (max-width: 430px) {}

        div {
          @media screen and (max-width: 430px) {}

          a {
            @media screen and (max-width:1679px) {}

            @media screen and (max-width: 430px) {}

            color: @c3-third-cta-color;
            background: @c3-third-cta-background;
            // width: 290px;

          }
        }
      }
    }

  }
}