.customer-service-2 {
  font-size: 1rem;
}

.shipping-tables {
  width: 100%;
}

.shipping-tables td {
  border: 1px solid;
  padding: 1rem;
}

.shipping-tables th {
  border: 1px solid;
  padding: 1rem;
}