.mobile {
  display: none;
}

@media screen and (max-width:414px) {
  .mobile {
    display: block;
  }
}

@media screen and (max-width:414px) {
  .desktop {
    display: none !important;
  }
}

.ref {
  position: absolute;
  opacity: .5;
  top: 8.8%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

@media screen and (max-width:414px) {
  .ref {
    top: 11%;
    left: 0;
    transform: translateX(0);
  }
}

.content-wrap {
  display: flex;
  flex-wrap: wrap;
  background: #282B54;
  padding: 4% 0;
}

@media screen and (max-width:414px) {
  .content-wrap {
    padding: 11% 0;
  }
}

.content-wrap div {
  text-align: center;
}

@media screen and (max-width:414px) {
  .content-wrap div.first,  .content-wrap div.second {
    flex-basis: 100% !important;
  }
}

.content-wrap div.first {
  flex-basis: 39%;
}

.content-wrap div.first h1 {
  margin: 5.5% 0 0;
}

@media screen and (max-width:414px) {
  .content-wrap div.first h1 {
    margin: 0;
  }
}

.content-wrap div.first h1 span {
  display: block;
}

.content-wrap div.first h1 span.spread {
  font-family: souvenirstd-light;
  color: #8EDBC9;
  margin: 0 0 1%;
}

@media screen and (max-width:1679px) {
  .content-wrap div.first h1 span.spread {
    font-size: 2.2vw;
  }
}

@media screen and (max-width:414px) {
  .content-wrap div.first h1 span.spread {
    font-size: 34px;
    line-height: 41px;
  }
}

.content-wrap div.first h1 span.giveaway {
  font-family: gilroy-bold;
  color: #FDD3E9;
  letter-spacing: .1em;
  font-size: 60px;
}

@media screen and (max-width:1679px) {
  .content-wrap div.first h1 span.giveaway {
    font-size: 3.6vw;
  }
}

@media screen and (max-width:414px) {
  .content-wrap div.first h1 span.giveaway {
    font-size: 59px;
  }
}

.content-wrap div.first p {
  font-family: gilroy-regular;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 0 4%;
  letter-spacing: .04em;
}

@media screen and (max-width:1679px) {
  .content-wrap div.first p {
    font-size: 1.2vw;
    line-height: 1.4vw;
  }
}

@media screen and (max-width:414px) {
  .content-wrap div.first p {
    margin: 0 0 6%;
    font-size: 20px;
    line-height: 24px;
  }
}

.content-wrap div.first p span {
  color: #FDD3E9;
  font-family: gilroy-bold;
  font-size: 20px;
  text-decoration: none;
}

@media screen and (max-width:1679px) {
  .content-wrap div.first p span {
    font-size: 1.2vw;
  }
}

@media screen and (max-width:414px) {
  .content-wrap div.first p span {
    font-size: 18px;
  }
}

.content-wrap div.first p.prep {
  margin: 4.5% auto 0;
}

@media screen and (max-width:414px) {
  .content-wrap div.first p.prep {
    margin: 11% 0 0;
  }
}

.content-wrap div.first p.official {
  color: #FDD3E9;
}

.content-wrap div.first p.official a {
  color: #FDD3E9;
  font-family: gilroy-bold;
  letter-spacing: .2em;
  text-decoration: none;
}

@media screen and (max-width:1679px) {
  .content-wrap div.first p.official a {
    font-size: 1.3vw;
  }
}

@media screen and (max-width:414px) {
  .content-wrap div.first p.official a {
    font-size: 20px;
  }
}

.content-wrap div.first p.fine-print {
  font-size: 14px;
  font-style: italic;
  margin: 1% 0 0;
  line-height: 20px;
}

@media screen and (max-width:1679px) {
  .content-wrap div.first p.fine-print {
    font-size: .9vw;
    line-height: 1.2vw;
  }
}

@media screen and (max-width:414px) {
  .content-wrap div.first p.fine-print {
    font-size: 14px;
    line-height: 18px;
  }
}

.content-wrap div.first a {
  color: #8EDBC9;
  font-family: gilroy-bold;
  font-size: 22px;
  line-height: 21px;
  text-decoration: none;
  letter-spacing: .2em;
  text-transform: uppercase;
}

@media screen and (max-width:1679px) {
  .content-wrap div.first a {
    font-size: 1.3vw;
  }
}

@media screen and (max-width:414px) {
  .content-wrap div.first a {
    font-size: 21px;
  }
}

.content-wrap div.first a.enter-to-win {
  font-family: gilroy-bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .2em;
  color: #282B54;
  background: #8EDBC9;
  text-transform: uppercase;
  padding: 2% 5% 1.5%;
  margin: 7% 0 6.5%;
  display: inline-block;
}

@media screen and (max-width:1679px) {
  .content-wrap div.first a.enter-to-win {
    font-size: 1.2vw;
  }
}

@media screen and (max-width:414px) {
  .content-wrap div.first a.enter-to-win {
    margin: 10% 0;
    padding: 3% 9%;
    font-size: 20px;
  }
}

.content-wrap div.second {
  flex-basis: 61%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width:414px) {
  .content-wrap div.second {
    padding: 11% 5% 0;
  }
}

.content-wrap div.second div:first-of-type {
  flex-basis: 36%;
}

@media screen and (max-width:414px) {
  .content-wrap div.second div:first-of-type {
    flex-basis: 100%;
    margin: 0 0 7%;
  }
}

.content-wrap div.second div:last-of-type {
  flex-basis: 64%;
  padding: 0 3.6%;
}

@media screen and (max-width:414px) {
  .content-wrap div.second div:last-of-type {
    flex-basis: 100%;
    padding: 0;
  }
}

.content-wrap div.second div:last-of-type img.desktop:first-of-type {
  display: inline-block;
  margin: 0 0 6%;
}

.content-wrap div.second div:last-of-type img.mobile.this-margin {
  margin: 0 0 6%;
}

.this-form {
  background: #F8F8F8;
  padding: 4.5% 0;
}

@media screen and (max-width:414px) {
  .this-form {
    padding: 17.5% 0;
  }
}

.this-form form {
  width: 50%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 1.9%;
}

@media screen and (max-width:414px) {
  .this-form form {
    width: 100%;
    left: 0;
    transform: translateX(0);
    padding: 0 5%;
  }
}

.this-form form div {
  flex-basis: 50%;
  margin: 0 0 3.9%;
}

@media screen and (max-width:414px) {
  .this-form form div {
    flex-basis: 100%;
    margin: 0 0 9%;
  }
}

.this-form form p {
  font-family: gilroy-regular;
  font-size: 16px;
  line-height: 21px;
  flex-basis: 100%;
  letter-spacing: .04em;
}

@media screen and (max-width:1679px) {
  .this-form form p {
    font-size: 1.1vw;
    line-height: 1.1vw;
  }
}

@media screen and (max-width:414px) {
  .this-form form p {
    font-size: 3.9vw;
    line-height: 4.1vw;
  }
}