.box-ajax-none {
	display: none;
}

.site-content-bg-wrapper {
	background: none !important;
}

@import "classes.less";
@import "glide/glide.less";
@import "shop-slideshow/shop-slideshow.less";

.the-wrap {

	.c1,
	.c2,
	.c3,
	.c4,
	.c5,
	.c6,
	.shop-slideshow {
		opacity: 0;
		transition: all 1s;
	}

	@import "c1/c1.less";
	@import "c2/c2.less";
	@import "c3/c3.less";
	@import "c4/c4.less";
	@import "c5/c5.less";
	@import "c6/c6.less";
}

@import "overrides.less";