@red: #FF1744;
@pink: #ee696d;
@bluish: #00A5B6;

.panel.panel-3 {
    align-items: center;
}

.mega-menu-img {
  width: 100%;
  max-width: 100%;
  padding: 0 !important;
  box-sizing: border-box;
}

.mega-img-container {
  display: flex !important;

  img {
    width: 346px;
  }
}

.off.select.tees {
  color: @bluish !important;
  font-family: gilroy-bold !important;

  &:hover {
    &::before {
      background-color: @bluish !important;
    }
  }
}

.the.perfect.presents.event {
  font-family: gilroy-bold !important;
}
.bf {
  color: @red !important;

  &:hover {
    &::before {
      background-color: @red !important;
    }
  }
}