.content-wrap {
  padding: 1rem;
  box-sizing: border-box;
}

.content-wrap p {
  font-size: 1rem;
}

.content-wrap form span.error {
  display: none;
  color: red;
  text-transform: uppercase;
  font-family: gilroy-bold;
}

.content-wrap form button,.content-wrap form input,.content-wrap form label {
  display: block;
  margin: 0 0 1%;
  font-size: 1rem;
}

@media screen and (max-width:414px) {
  .content-wrap form button,  .content-wrap form input,  .content-wrap form label {
    margin: 0 0 4%;
  }
}

.content-wrap form label {
  font-family: gilroy-regular;
  color: #47363D;
}

.content-wrap form input {
  background: #EDEBEC;
  border: none;
  width: 370px;
  height: 55px;
  box-sizing: border-box;
  padding: 0 0 0 1rem;
}

@media screen and (max-width:414px) {
  .content-wrap form input {
    width: 100%;
  }
}

.content-wrap form input[type="radio"] {
  width: 30px;
  height: 30px;
  border-radius: 2em;
}

.content-wrap form input[type="radio"]::after {
  content: attr(value);
  font-family: gilroy-regular;
  position: relative;
  left: 170%;
  top: 10%;
}

.content-wrap form input[type="radio"]:checked {
  background: #47363D;
}

.content-wrap form input[type="radio"]:checked::after {
  background: none;
  border: none;
  border-radius: 0;
}

.content-wrap form .processing {
  display: none;
}

.content-wrap form .sent {
  color: #39B54A;
  display: none;
}