@souv: souvenirstd-light;
@gilroyb: gilroy-bold;
@gilroybl: gilroy-black;
@master: 'MasterWorks';
@kalakala: 'Kalakala';
@kindnessr: 'KindnessMatters-Regular';
@kindnesss: 'KindnessMattersSolid';
@gilroyr: gilroy-regular;
@color: #0959A3;
@background: #FDF5F2;