@import "var.less";
@year-20-color1: #47363D;
@year-20-color2: #FDF5F2;
@year-20-font-color: @year-20-color2;
@year-20-cta-color: @year-20-color1;
@year-20-cta-background: @year-20-color2;
@year-20-background: @year-20-color1;

.year-20 {
  @media screen and (max-width:428px) {}
  position: relative;
  width: 100%;
  background: @year-20-background;

  a {
    @media screen and (max-width:1679px) {
      height: 12vw;
    }
    @media screen and (max-width:428px) {
      flex-wrap: wrap;
      height: 100vw;
      align-items: normal;
    }
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 200px;

    div {
      @media screen and (max-width:428px) {
        flex-basis: 100% !important;
        display: flex;
        justify-content: center;

        &:first-of-type {
          align-items: flex-end;
        }

        &:nth-of-type(2) {
          align-items: center;
        }

        &:last-of-type {
          align-items: flex-start;
        }
      }

      &:first-of-type {
        img {
          @media screen and (max-width: 1679px) {
            width: 29vw;
          }
          @media screen and (max-width: 428px) {
            width: 85vw;
          }
          width: 496px;
        }
      }

      &:nth-of-type(2) {
        align-items: center;
        flex-basis: 41%;
      }

      &:last-of-type {
        flex-basis: 24%;
      }
      flex-basis: 34%;
    }

    h2 {
      @media screen and (max-width: 1679px) {
        font-size: 2.6vw;
        line-height: 2.5vw;
        letter-spacing: 0.15vw;
      }
      @media screen and (max-width:428px) {
        font-size: 10vw;
        line-height: 10vw;
        letter-spacing: 1vw;
      }
      font-family: @souv;
      color: @year-20-font-color;
      font-size: 43px;
      line-height: 39px;
      letter-spacing: 4px;
      // text-transform: capitalize;
      span {
        @media screen and (max-width: 1679px) {
          font-size: 1vw;
          line-height: 1.6vw;
          letter-spacing: 0.2vw;
        }
        @media screen and (max-width:428px) {
          font-size: 4vw;
          line-height: 7vw;
          letter-spacing: 1vw;
        }
        display: block;
        font-family: @gilroyb;
        color: @year-20-font-color;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
    }

    p {
      @media screen and (max-width: 1679px) {
        font-size: 1.1vw;
        line-height: 1.8vw;
      }
      @media screen and (max-width:428px) {
        font-size: 4vw;
        line-height: 7vw;
      }
      font-family: @souv;
      color: @year-20-font-color;
      font-size: 18px;
      line-height: 30px;
      // letter-spacing: 4px;
      // text-transform: capitalize;
    }

    .cta-border {
      @media screen and (max-width: 1679px) {
        width: 16vw;
      }
      @media screen and (max-width: 428px) {
        width: 63vw;
      }
      background: @year-20-cta-background;
      color: @year-20-cta-color;
      width: 271px;
    }
  }
}