@import "var.less";
@c1-font-color: #fff;
@c1-h2-color: #fff;
@c1-h3-color: #fff;
@c1-p-color: #fff;

@c1-promo-h2-color: #F1FF50;
@c1-promo-h3-color: #fff;
@c1-promo-cta-color: #fff;
@c1-promo-cta-background:  #044E72;

@c1-5-h2-color: #fff;
@c1-5-h3-color: #fff;
@c1-5-cta-color: #fff;
@c1-5-cta-background: #99B6D6;

@c1-1-h2-color: #2967B0;
@c1-1-h3-color: #fff;
@c1-1-cta-color: #2967B0;
@c1-1-cta-background: #fff;

@c1-2-h2-color: #fff;
@c1-2-h3-color: #fff;
@c1-2-cta-color: #fff;
@c1-2-cta-background: #584F92;

@c1-3-h2-color: #F1FF50;
@c1-3-h3-color: #fff;
@c1-3-cta-color: #fff;
@c1-3-cta-background: #FA8180;

@c1-4-h2-color: #2967B0;
@c1-4-h3-color: #fff;
@c1-4-cta-color: #fff;
@c1-4-cta-background: #2967B0;

.c1 {
  @media screen and (max-width: 1679px) {
    min-height: 51vw !important;
  }

  @media screen and (max-width: 430px) {
    min-height: 210vw !important;
  }

  position: relative;
  width: 100%;
  overflow: hidden;
  min-height:880px !important;

  .glide__bullets {
    @media screen and (max-width: 430px) {
      bottom: 9vw;
    }

    bottom: 1vw;
    width: 100%;
    text-align: center;

    button {
      background-color: #FA8180 !important;

      &:hover {
        background: #F1FF50 !important;
        border: none !important;
      }
    }
  }

  div {
    &.the-content {
      @media screen and (max-width: 430px) {
        width: 100%;
        left: 0;
        top: 11vw;
        transform: translateX(0);
      }

      position: absolute;

      div {
        a {
          @media screen and (max-width: 1679px) {
            width: 14vw;
          }

          @media screen and (max-width: 430px) {
            width: 42vw;
          }

          width: 238px;
        }
      }

      &.content-promo {
        @media screen and (max-width: 430px) {
          top: 11vw;
          width: 100%;
          left: 0;
          transform: translate(0);
        }

        top: 33%;
        width: auto;
        left: 9%;
        transform: translate(0%, 0%);
        text-align: center;



        h3,
        p {
          @media screen and (max-width: 430px) {
            // color:#fff;
          }

          // color: #2967B0;
        }

        h3 {
          @media screen and (max-width: 430px) {
            // font-size: 3vw;
          }

          color: @c1-promo-h3-color;
        }

        h2 {
          @media screen and (max-width: 430px) {
            // letter-spacing: 0;
          }

          color: @c1-promo-h2-color;
          text-transform:capitalize;
          letter-spacing: 0;
        }

        div {

          &.the-grid {
            @media screen and (max-width: 430px) {
              // grid-template-columns: repeat(2, 1fr);
              // grid-template-rows: repeat(3, 1fr);
              // column-gap: 6%;
              // row-gap: 20%;
            }

            // grid-template-columns: repeat(6, 1fr);
            // grid-template-rows: repeat(1, 1fr);
            // column-gap: 2%;
            // row-gap: 0;
          }

          &.cta-5th {
            margin: 8% 0 0 0;
          }

          a {
            @media screen and (max-width: 1679px) {
              // width: 12.1vw;
            }

            @media screen and (max-width: 430px) {
              // width: 42vw;
            }

            // width: 203px;
            color: @c1-promo-cta-color;
            background: @c1-promo-cta-background;
          }
        }
      }


      &.content-5 {
        @media screen and (max-width: 430px) {
          top: 11vw;
          width: 100%;
          left: 0;
          transform: translate(0);
        }

        top: 49%;
        width: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;



        h3,
        p {
          @media screen and (max-width: 430px) {
            // color:#fff;
          }

          // color: #2967B0;
        }

        h3 {
          @media screen and (max-width: 430px) {
            // font-size: 3vw;
          }

          color: @c1-5-h3-color;
        }

        h2 {
          @media screen and (max-width: 430px) {
            // letter-spacing: 0;
            line-height: 11vw;
            font-size: 10vw;
          }

          color: @c1-5-h2-color;
          text-transform:capitalize;
          letter-spacing: 0;
        }

        div {

          &.cta-5th {
            margin: 8% 0 0 0;
          }

          a {
            @media screen and (max-width: 1679px) {
              // width: 22vw;
            }

            @media screen and (max-width: 430px) {
              width: 42vw;
            }

            // width: 370px;
            color: @c1-5-cta-color;
            background: @c1-5-cta-background;
          }
        }
      }


      &.content-1 {
        @media screen and (max-width: 430px) {
          top: 11vw;
          width: 100%;
          left: 0;
          transform: translate(0);
        }

        top: 50%;
        width: auto;
        left: 9%;
        transform: translate(0%, -50%);
        text-align: center;



        h3,
        p {
          @media screen and (max-width: 430px) {
            // color:#fff;
          }

          // color: #2967B0;
        }

        h3 {
          color: @c1-1-h3-color;
        }

        h2 {
          color: @c1-1-h2-color;
        }

        div {
          a {
            @media screen and (max-width: 1679px) {
              // width: 14vw;
            }

            @media screen and (max-width: 430px) {
              // width: 54vw;
              background: @c1-1-cta-color;
              color: @c1-1-cta-background;
            }

            // width: 288px;
            color: @c1-1-cta-color;
            background: @c1-1-cta-background;
          }
        }
      }

      &.content-2 {
        @media screen and (max-width: 430px) {
          width: 100%;
          left: 0;
          top: 11vw;
          transform: translateX(0);
        }

        top: 50%;
        width: 50%;
        left: -5%;
        transform: translate(0%, -50%);
        text-align: center;

        h3 {
          color: @c1-2-h3-color;
        }

        h2 {
          color: @c1-2-h2-color;
        }

        div {
          a {
            @media screen and (max-width: 1679px) {
              width: 22vw;
            }

            @media screen and (max-width: 430px) {
              width: 86vw;
            }

            width: 370px;
            color: @c1-2-cta-color;
            background: @c1-2-cta-background;
          }
        }
      }

      &.content-3 {
        @media screen and (max-width: 430px) {
          width: 100%;
          left: 0;
          top: 11vw;
          transform: translateX(0);
        }

        top: 50%;
        width: 50%;
        left: 50%;
        transform: translate(0%, -50%);
        text-align: center;

        h3 {
          color: @c1-3-h3-color;
        }

        h2 {
          color: @c1-3-h2-color;
        }

        div {

          a {
            @media screen and (max-width: 1679px) {
              //   width: 22vw;
            }

            @media screen and (max-width: 430px) {
              width: 61vw;
            }

            // width: 359px;
            color: @c1-3-cta-color;
            background: @c1-3-cta-background;
          }
        }
      }

      &.content-4 {
        @media screen and (max-width: 430px) {
          width: 100%;
          left: 0;
          top: 11vw;
          transform: translateX(0);
        }

        top: 50%;
        width: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h3 {
          color: @c1-4-h3-color;
        }

        h2 {
          color: @c1-4-h2-color;
        }

        div {

          a {
            @media screen and (max-width: 1679px) {
              width: 17vw;
            }

            @media screen and (max-width: 430px) {
              width: 71vw;
            }

            width: 276px;
            color: @c1-4-cta-color;
            background: @c1-4-cta-background;
          }
        }
      }

      a,
      h3,
      h2,
      p {}

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 3.2vw;
          line-height: 4vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 7vw;
          margin: 0 0 8vw;
        }

        @media screen and (max-width:320px) {
          // margin: 4% 0 0;
        }

        text-align: center;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: @c1-h2-color;
        font-size: 54px;
        line-height: 65px;
        font-family: @gilroyb;
        margin: 0 0 1vw;
      }

      h3 {
        @media screen and (max-width: 1679px) {
          font-size: 1.1vw;
          line-height: 1.6vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 4.2vw;
          margin: 0 0 8vw;
          color: #fff;
        }

        color: @c1-h3-color;
        font-family: @gilroyb;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0 0 1vw;
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 2vw;
          line-height: 2.4vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 6vw;
          line-height: 7.4vw;
          margin: 0 0 8vw;
          display: none;
        }

        text-align: center;
        margin: 4% auto;
        color: @c1-p-color;
        text-transform: none;
        font-size: 32px;
        line-height: 39px;
        width: 100%;
        font-family: @gilroyb;
        text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
      }

      div {
        @media screen and (max-width: 430px) {
          margin: 2vw 0 0;
        }

        a {
          @media screen and (max-width: 1679px) {
            // width: 23vw;
          }

          @media screen and (max-width: 430px) {
            // background: #F19C01;
            // width: 90vw;
          }

          font-family: @gilroyb;
          color: @c1-1-cta-color;
          background: @c1-1-cta-background;

        }
      }
    }
  }
}