@import "var.less";
@c1-font-color: #fff;
@c1-h2-color: #fff;
@c1-p-color: #fff;
@c1-cta-color: #fff;
@c1-cta-background: #078EC8;

.c1 {
  position: relative;
  width: 100%;

  div {
    &.the-content {
      @media screen and (max-width: 428px) {
        width: 100%;
        left: 0;
        top: 0;
        transform: translateX(0);
      }
      position: absolute;
      top: 50%;
      width: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      a,
      a,
      h2,
      p {
        // color: @c1-font-color;
        font-family: @souv;
        margin: 0 auto;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 4.8vw;
          line-height: 4.8vw;
        }
        @media screen and (max-width: 428px) {
          // font-size: 9vw;
          // margin: 0;
          line-height: 11vw;
          font-size: 35px;
          color: #fff;
          margin: 3% 0;
          // display: none;
        }
        @media screen and (max-width:320px) {
          // margin: 4% 0 0;
        }
        // margin: 5% 0 0;
        text-transform: none;
        color: @c1-h2-color;
        line-height: 76px;
        // font-family: @souv;
        font-family: @gilroyb;
        font-size: 70px;
        margin: 0 0 1vw;
        // letter-spacing: 0.25em;
        span {
          @media screen and (max-width: 1679px) {
            font-size: 1.23vw;
            letter-spacing: 0.4vw;
          }
          @media screen and (max-width:428px) {
            font-size: 18px;
            letter-spacing: 1.4vw;
          }
          font-family: @gilroyb;
          font-size: 20px;
          display: block;
          letter-spacing: 6px;
          margin: 0 0 1%;
        }
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.4vw;
          line-height: 2vw;
        }
        @media screen and (max-width: 428px) {
          font-size: 4vw;
          line-height: 6vw;
          width: 100%;
          margin: 2% auto;
          // display: none;
          text-shadow: none;
        }
        @media screen and (max-width: 320px) {
          font-size: 15px;
          line-height: 17px;
        }
        margin: 4% auto;
        color: @c1-p-color;
        text-transform: none;
        font-size: 24px;
        line-height: 34px;
        width: 100%;
        font-family: @gilroyr;
        text-shadow: 0 0 14px rgba(0,0,0,0.15);
      }

      div {
        a {
          @media screen and (max-width: 1679px) {
            // width: 23vw;
          }
          @media screen and (max-width: 428px) {
            // background: #F19C01;
            // width: 90vw;
          }
          font-family: @gilroyb;
          color: @c1-cta-color;
          background: @c1-cta-background;
          // width: 383px;
          &.cta1 {
            @media screen and (max-width: 428px) {}
          }

          &.cta2 {
            @media screen and (max-width: 428px) {}
          }

          &.cta3 {
            @media screen and (max-width: 428px) {}
          }

          &.cta4 {
            @media screen and (max-width: 428px) {}
          }

          &.cta5 {
            @media screen and (max-width: 1679px) {}
            @media screen and (max-width: 428px) {}
          }

          &.cta6 {
            @media screen and (max-width: 428px) {}
          }
        }
      }
    }
  }
}