@import "var.less"; // @import "promo1.less";
@c1-font-color: #FFF;
@c1-cta-color: #Fff;

.c1 {
  position: relative;
  width: 100%;

  div {
    &.the-content {
      @media screen and (max-width: 414px) {
        width: 100%;
        left: 0;
        top: 16%;
      }
      position: absolute;
      top: 36%;
      width: 29%;
      left: 36%;
      text-align: center;

      a,
      a,
      h2,
      p {
        color: #fff;
        font-family: @souv;
        margin: 0 auto;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 2.3vw;
          line-height: 2.4vw;
        }
        @media screen and (max-width: 414px) {
          font-size: 9vw;
          margin: 0;
          line-height: 9vw;
          // color: #6DA99D;
        }
        margin: 5% 0 0;
        text-transform: none;
        color: @c1-cta-color;
        font-size: 38px;
        line-height: 40px;
        font-family: @gilroyb;
      }

      p {
        @media screen and (max-width: 414px) {
          display: none;
        }
        margin: 9% auto 0;
        text-transform: none;
        letter-spacing: 0;
        width: 78%;
      }

      div {
        @media screen and (max-width: 414px) {
          margin: 0;
        }
        margin: 8% 0 0;
        text-align: center;

        div {
          @media screen and (max-width: 414px) {
            margin: 0 0 5%;
          }
        }

        a {
          @media screen and (max-width: 414px) {
            // color: #009FC3;
          }
          font-family: @gilroyb;
          color: @c1-cta-color;

          span {
            @media screen and (max-width: 414px) {
              display: none;
            }
          }

          &.cta1 {
            @media screen and (max-width: 414px) {
              left: -2%;
            }
            left: -3%;
          }

          &.cta2 {
            @media screen and (max-width: 414px) {
              left: 2%;
            }
            left: 3%;
          }

          &.cta3 {
            @media screen and (max-width: 414px) {
              left: -2%;
            }
            left: -3%;
          }

          &.cta4 {
            @media screen and (max-width: 414px) {
              left: 2%;
            }
            left: 3%;
          }

          &.cta5 {
            @media screen and (max-width: 414px) {
              left: -2%;
            }
            left: -3%;
          }

          &.cta6 {
            @media screen and (max-width: 414px) {
              left: 2%;
            }
            left: 3%;
          }
        }
      }
    }
  }
}