@import "var.less";
@c2-first-font-color: #fff;
@c2-first-cta-color: #fff;
@c2-first-cta-background: #00ACD0;
@c2-second-font-color: #fff;
@c2-second-cta-color: #fff;
@c2-second-cta-background: #4654AB;
@c2-third-font-color: #fff;
@c2-third-cta-color: #fff;
@c2-third-cta-background: #FFB499;

.c2 {
  @media screen and (max-width: 428px) {
    flex-wrap: wrap;
    padding: 0;
    // background: @background;
  }
  display: flex;
  text-align: center;
  // flex-wrap: wrap;
  div {
    &.first,
    &.second,
    &.third {
      @media screen and (max-width:428px) {
        padding: 0;
      }
      text-align: center;
      padding: 0;
      box-sizing: border-box;
      flex-basis: 33%;
      position: relative;

      a {
        text-decoration: none;
      }

      .the-content {
        @media screen and (max-width:428px) {
          margin: 10% 0 0 !important;
          bottom: 10%;
        }
        // margin: 7% 0 0;
        position: absolute;
        bottom: 9%;
        width: 100%;

        h2 {
          @media screen and (max-width: 1679px) {
            font-size: 3.6vw;
            // line-height: 1.6vw;
          }
          @media screen and (max-width:428px) {
            font-size: 36px;
            line-height: 28px;
            // margin: 8% 0 10%;
            // margin: 0;
          }
          font-family: @gilroyb;
          font-size: 60px;
          line-height: 28px;
          letter-spacing: 0.1rem;
          margin: 0 0 7%;
          text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
          // text-transform: uppercase;
        }

        div {
          @media screen and (max-width:428px) {}
          margin: 0;

          a {
            @media screen and (max-width: 1679px) {
              // width: 17.5vw;
            }
            @media screen and (max-width:428px) {
              // width: 68vw;
            }
            // width: 292px;
          }
        }
      }
    }

    &.first {
      @media screen and (max-width:428px) {
        flex-basis: 100% !important;
      }
      flex-basis: 50% !important;

      .the-content {
        h2 {
          @media screen and (max-width:428px) {}
          color: @c2-first-font-color;
        }

        div {
          a {
            @media screen and (max-width:1679px) {
              width: 23vw;
            }
            @media screen and (max-width:428px) {
              width: 89vw;
            }
            color: @c2-first-cta-color;
            background: @c2-first-cta-background;
            width: 383px;

            &.cta1 {}

            &.cta2 {}

            &.cta3 {}
          }
        }
      }
    }

    &.second {
      @media screen and (max-width: 428px) {
        padding: 0;
        margin: 0;
        background: #fff;
        flex-basis: 100% !important;
      }
      flex-basis: 50% !important;

      .the-content {
        h2 {
          color: @c2-second-font-color;
        }

        div {
          a {
            @media screen and (max-width:1679px) {
              width: 23vw;
            }
            @media screen and (max-width:428px) {
              width: 89vw;
            }
            color: @c2-second-cta-color;
            background: @c2-second-cta-background;
            width: 383px;

            &.cta1 {
              @media screen and (max-width: 428px) {}
            }

            &.cta2 {
              @media screen and (max-width: 428px) {}
            }
          }
        }
      }
    }

    &.third {
      // flex-basis: 33%;
      .the-content {
        h2 {
          color: @c2-third-font-color;
        }

        div {
          a {
            color: @c2-third-cta-color;
            background: @c2-third-cta-background;

            &.cta1 {}

            &.cta2 {}
          }
        }
      }
    }
  }
}