@import "var.less";
@c2-first-font-color: #F598A2;
@c2-first-cta-color: #F598A2;
@c2-second-font-color: #74AC92;
@c2-second-cta-color: #74AC92;

.c2 {
  @media screen and (max-width: 414px) {
    flex-wrap: wrap;
    padding: 0;
    background: @background;
  }
  display: flex;
  padding: 0 0 0.8%;
  text-align: center;
  flex-wrap: wrap;

  div {
    &.first,
    &.second,
    &.third {
      text-align: center;
      padding: 0 1.5%;
      box-sizing: border-box;

      a {
        text-decoration: none;
      }

      .the-content {
        h2 {
          @media screen and (max-width: 1679px) {
            font-size: 1.6vw;
            line-height: 1.6vw;
          }
          @media screen and (max-width:414px) {
            font-size: 24px;
            line-height: 28px;
            margin: 8% 0 10%;
          }
          font-family: @gilroyb;
          font-size: 30px;
          line-height: 28px;
          letter-spacing: 0.25em;
          text-transform: uppercase;
          margin: 7% 0;
        }

        div {
          a {
            span {
              @media screen and (max-width: 414px) {
                display: none;
              }
            }
          }
        }
      }
    }

    &.first {
      @media screen and (max-width: 414px) {
        padding: 5%;
      }
      flex-basis: 33%;
      padding: 2.5% 1% 0;

      .the-content {
        @media screen and (max-width: 414px) {
          padding: 8% 0;
          width: 100%;
        }
        padding: 7% 0 0;

        a,
        h2 {
          margin: 0;
        }

        h2 {
          @media screen and (max-width: 414px) {
            width: 100%;
            margin: 0 auto;
          }
          color: @c2-first-font-color;
        }

        div {
          @media screen and (max-width: 414px) {
            margin: 9% 0 0;
          }
          margin: 5% 0 0;

          a {
            color: @c2-first-cta-color;

            &.cta1 {
              left: -5%;
            }

            &.cta2 {
              left: 0;
            }

            &.cta3 {
              left: 5%;
            }
          }
        }
      }
    }

    &.second {
      @media screen and (max-width: 414px) {
        padding: 6% 0 0;
        position: relative;
      }
      flex-basis: 67%;
      padding: 2.6% 1% 0;

      .the-content {
        @media screen and (max-width: 414px) {
          padding: 0;
          position: absolute;
          top: 11.5%;
          width: 100%;
        }
        padding: 3% 0 0;

        a,
        h2 {
          margin: 0;
        }

        h2 {
          color: @c2-second-font-color;
        }

        div {
          @media screen and (max-width: 414px) {
            margin: 7.5% 0 0;
          }
          margin: 3% 0 0;

          a {
            color: @c2-second-cta-color;

            span {
              @media screen and (max-width: 414px) {
                display: none;
              }
            }

            &.cta1 {
              @media screen and (max-width: 414px) {
                left: -3%;
              }
              left: -1%;
            }

            &.cta2 {
              @media screen and (max-width: 414px) {
                left: 3%;
              }
              left: 1%;
            }
          }
        }
      }
    }
  }
}