@import "var.less";
@c4-font-color: #47363D;
@c4-cta-color: #fff;
@c4-cta-background: #2967B0;
@c4-first-font-color: #fff;
@c4-first-cta-color: #fff;
@c4-first-cta-background: #2CAC96;
@c4-second-font-color: #fff;
@c4-second-cta-color: #fff;
@c4-second-cta-background: #2CAC96;
@c4-third-font-color: #FFF;
@c4-third-cta-color: #fff;
@c4-third-cta-background: #BF9353;

.c4 {
  @media screen and (max-width: 431px) {
    flex-wrap: wrap;
    // background: #E8C3CA;
    padding: 0;
    min-height: auto !important;
  }

  // display: flex;
  padding: 0;
  text-align: center;
  position: relative;

  // flex-wrap: wrap;
  div {

    &.the-content {
      @media screen and (max-width: 431px) {
        width: 100%;
        top: 76%;
        left: 0;
        transform: translate(0);
      }

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h3 {
        @media screen and (max-width:431px) {
          font-size: 4vw;
          margin: 0 0 8vw;
        }

        color: @c4-font-color;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 5vw;
          line-height: 5vw;
        }
        @media screen and (max-width:431px) {
          font-size: 9vw;
          margin: 0 0 8vw;
        }

        font-size: 80px;
        line-height: 80px;
        color: @c4-font-color;
        margin: 0 0 1vw;
      }

      a {
        background: @c4-cta-background;

        &:hover {
          color: #fff;
        }
      }
    }

    &.first,
    &.second,
    &.third {
      @media screen and (max-width:1679px) {
        padding: 1vw;
      }

      text-align: center;
      box-sizing: border-box;
      flex-basis: 34%;
      // flex-basis: 50%;
      padding: 0 1vw;
      position: relative;

      a {
        text-decoration: none;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 3.3vw;
          // line-height: 1.6vw;
        }

        @media screen and (max-width:431px) {
          font-size: 8.5vw;
          line-height: 10.5vw;
        }

        font-family: @gilroyb;
        font-size: 54px;
        line-height: 44px;
        letter-spacing: 0.1rem;
        color: @c4-first-font-color;
        margin: 0 0 3%;
        text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
      }

      .the-content {
        @media screen and (max-width: 431px) {
          bottom: 10%;
        }

        margin: 0;
        position: absolute;
        bottom: 13%;
        width: 100%;

        h2 {
          @media screen and (max-width: 1679px) {
            // font-size: 1.6vw;
            // line-height: 1.6vw;
          }

          @media screen and (max-width:431px) {}

          // font-family: @gilroyb;
          // font-size: 30px;
          // line-height: 28px;
          // letter-spacing: 0.25em;
          // text-transform: uppercase;
          margin: 0 0 5%;
        }

        div {
          @media screen and (max-width: 431px) {}

          @media screen and (max-width: 376px) {}

          margin: 0;
          grid-template-rows: 0;

          a {
            @media screen and (max-width:1679px) {
              // width: 14vw;
            }

            @media screen and(max-width: 431px) {
              // width: 57vw;
            }

            // left: -2vw;
            // width: 242px;
          }
        }
      }
    }

    &.first {
      @media screen and (max-width: 431px) {
        // background: #FDF5F2;
        position: relative;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
      }

      flex-basis: 50%;
      // order:2;

      &>a {
        @media screen and (max-width:431px) {
          width: 100%;
          display: inline-block;
          order: 2;
        }

        img {
          &.mobile {
            @media screen and (max-width:431px) {
              display: inline;
            }
          }
        }
      }

      .the-content {
        @media screen and (max-width: 431px) {}

        h2 {
          @media screen and (max-width: 431px) {
            margin: 0 0 4%;
          }

          @media screen and (max-width: 375px) {
            width: 100%;
          }

          @media screen and (max-width: 321px) {
            margin: 22% 0 3%;
          }

          color: @c4-first-font-color;
        }

        div {
          @media screen and (max-width: 431px) {
            margin: 0;
          }

          @media screen and (max-width: 375px) {}

          a {
            @media screen and (max-width:1679px) {}

            @media screen and (max-width:1024px) {}

            @media screen and (max-width: 431px) {}

            color: @c4-first-cta-color;
            background: @c4-first-cta-background;

            // width: 243px;
            &.cta1 {
              @media screen and (max-width:431px) {}
            }

            &.cta2 {
              @media screen and (max-width:431px) {}
            }

            &.cta3 {
              @media screen and (max-width:431px) {}
            }

            &.cta4 {
              @media screen and (max-width:431px) {}
            }
          }
        }
      }
    }

    &.second {
      @media screen and (max-width: 431px) {
        padding: 0;
      }

      flex-basis: 50%;
      // order:1;

      h2 {
        @media screen and (max-width:431px) {}

        color: @c4-second-font-color;
      }

      .the-content {
        @media screen and (max-width: 431px) {}

        // top: 9%;

        // h2 {
        //   @media screen and (max-width: 1679px){
        //     font-size: 3vw;
        //   }
        //   @media screen and (max-width: 431px){
        //     font-size: 8.5vw;
        //   }
        //   font-size: 48px;
        // }

        h2 {
          @media screen and (max-width:1679px) {
            font-size: 3vw;
            line-height: 4.5vw;
          }

          @media screen and (max-width:431px) {
            font-size: 6vw;
            line-height: 8vw;
          }

          font-size: 50px;
          line-height: 74px;
          color: @c4-second-font-color;
          text-shadow: 1px 1px 13px #7f7f7f;
        }


        p {
          @media screen and (max-width: 1679px) {
            font-size: 2.2vw;
            line-height: 2.6vw;
          }

          @media screen and (max-width: 431px) {
            font-size: 4.8vw;
            line-height: 6vw;
          }

          font-size: 36px;
          line-height: 43px;
          margin: 0 0 50%;
        }

        div {
          @media screen and (max-width: 431px) {
            margin: 0;
          }

          a {
            @media screen and (max-width: 1679px) {
              // width: 19.5vw;
            }

            @media screen and (max-width: 431px) {
              // width: 53.5vw;
            }

            color: @c4-second-cta-color;
            background: @c4-second-cta-background;
            // width: 328px;

            // width: 243px;
            &.cta1 {
              @media screen and (max-width: 431px) {}
            }

            &.cta2 {
              @media screen and (max-width: 431px) {}
            }

            &.cta3 {
              @media screen and (max-width: 431px) {}
            }

            &.cta4 {
              @media screen and (max-width: 431px) {}
            }
          }
        }
      }
    }

    &.third {
      @media screen and (max-width: 431px) {
        background: @background;
      }

      .the-content {
        @media screen and (max-width: 431px) {}

        h2 {
          color: @c4-third-font-color;
        }

        div {
          @media screen and (max-width: 431px) {}

          a {
            @media screen and (max-width:1679px) {}

            @media screen and (max-width:431px) {}

            color: @c4-third-cta-color;
            background-color: @c4-third-cta-background;

            // width: 243px;
            &.cta1 {}

            &.cta2 {}
          }
        }
      }
    }
  }
}