@import "var.less";
@c5-font-color: #4765A1;
@c5-cta-color: #4765A1;

.c5 {
    display: flex;
    flex-wrap: wrap;
    position: relative;


    .the-content {
        @media screen and (max-width: 414px) {
            width: 100%;
            right: 0;
            top: 5.8%;
        }

        position: absolute;
        top: 32%;
        text-align: center;
        margin: 0;
        width: 26%;
        left: 50%;
        transform: translateX(-50%);


        h2 {
            @media screen and (max-width: 1679px) {
                font-size: 2.4vw;
                line-height: 2.2vw;
            }

            @media screen and (max-width: 414px) {
                font-size: 10vw;
                width: 100%;
                margin: 0 auto;
                line-height: 10vw;
            }

            margin: 0;
            font-size: 40px;
            line-height: 28px;
            letter-spacing: 0;
            font-family: gilroy-bold;
            color:@c5-font-color;
        }

        p {
            @media screen and (max-width: 1679px) {
                font-size: 1.3vw;
                line-height: 1.5vw;
            }

            @media screen and (max-width: 414px) {
                font-size: 5vw;

                line-height: 7vw;
                margin: 97.7% auto 0;
                width: 79%;
            }

            margin: 10% 0 0;
            font-size: 22px;
            line-height: 27px;
            font-family: gilroy-regular;
        }


        p,
        a,
        span {
            @media screen and (max-width: 414px) {
                // color: #fff;
            }

            color: @c5-font-color;

        }

        a {
            color: @c5-cta-color;

            span {
                @media screen and (max-width: 414px) {
                    display: none;
                }
            }
        }

        div {
            @media screen and (max-width: 414px) {
                margin: 5% 0 0;
            }

            margin: 8% 0 0;

        }
    }

}