@import "var.less";
@c6-first-font-color: #fff;
@c6-first-cta-color: #fff;
@c6-second-font-color: #fff;
@c6-second-cta-color: #fff;

.c6 {
  @media screen and (max-width: 414px) {
    padding: 0;
    background: none;
  }
  display: flex;
  flex-wrap: wrap;
  // background: @c4-background;
  div {
    &.first,
    &.second {
      @media screen and (max-width: 414px) {
        // padding: 11% 5% 0%;
        background: none !important;
        margin: 0;
      }
      padding: 0;
      position: relative;
      text-align: center;
      flex-basis: 50%;
    }

    &.the-content {
      @media screen and (max-width: 414px) {
        width: 100%;
        right: 0;
        top: 0;
        margin: 10% 0 0 !important;
      }
      position: absolute;
      top: 50%;
      text-align: center;
      margin: 0;
      width: 100%;

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 3.6vw;
          // line-height: 1.6vw;
        }
        @media screen and (max-width: 414px) {
          font-size: 40px;
          line-height: 28px;
          margin: 4% 0;
        }
        color: @c6-first-font-color;
        font-family: @souv;
        text-transform: capitalize;
        font-size: 60px;
        letter-spacing: 0;
      }

      a,
      p,
      span {
        @media screen and (max-width: 414px) {
          // color: #fff;
        }
      }

      a {
        span {
          @media screen and (max-width: 414px) {
            // display: none;
          }
        }
      }

      div {
        @media screen and (max-width: 414px) {
          margin: 5% 0 8% 0 !important;
        }
        margin: 5% 0 0;
      }
    }

    &.first {
      @media screen and (max-width: 414px) {
        padding: 0;
      }
      // padding: 4.9% 1% 0;
      .the-content {
        @media screen and (max-width: 414px) {
          margin: 6.5% 0 0;
          top: 45%;
        }
        top: 57%;

        h2 {
          @media screen and (max-width: 414px) {
            width: 95%;
            margin: 0 auto;
          }
          color: @c6-first-font-color;
        }

        div {
          @media screen and (max-width: 414px) {
            margin: 7% 0 0;
          }
          // margin: 3.5% 0 0;
          a {
            color: @c6-first-cta-color;

            &.cta1 {
              // left: -5%;
            }

            &.cta2 {
              // left: 5%;
            }
          }
        }
      }
    }

    &.second {
      @media screen and (max-width: 414px) {
        padding: 0;
        // background: @background;
      }
      // padding: 4.8% 1% 0;
      .the-content {
        @media screen and (max-width: 414px) {
          margin: 6% 0 0;
          top: 8%;
        }
        top: 17%;

        h2 {
          @media screen and (max-width: 1679px) {
            font-size: 40px;
            line-height: 40px;
          }
          @media screen and (max-width: 414px) {}
          color: @c6-second-font-color;
          font-size: 90px;
          line-height: 90px;
        }

        div {
          @media screen and (max-width: 414px) {
            margin: 9% 0 0;
          }
          // margin: 3.2% 0 0;
          &.mobile {
            margin: 6% 0 0;

            div {
              margin: 0 0 6%;

              a {
                // color: #F5FF00;
                &.cta1,
                &.cta4 {
                  // left: -8%;
                }

                &.cta3,
                &.cta5 {
                  // left: 8%;
                }
              }
            }
          }

          a {
            @media screen and (max-width: 414px) {
              margin: 0;
            }
            color: @c6-second-cta-color;
            // margin: 0 2% 0 0;
            &.cta1 {
              // left: 0;
            }
          }
        }
      }
    }
  }
}