@import "var.less"; // @import "promo1.less";
@graphics-font-color: #3862AA;
@graphics-cta-color: #2967B0;
@graphics-background: #D5AC38;

.graphics {
  @media screen and (max-width:430px) {
    padding: 8% 0;
    background: #FDF5F2;
  }

  padding: 3% 0;

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 2.4vw;
    }

    @media screen and (max-width:430px) {
      font-size: 7.5vw;
      line-height: 9vw;
      margin: 0 0 6%;
    }

    @media screen and (max-width:320px) {
      font-size: 36px;
    }

    font-family: @gilroyb;
    color: @graphics-font-color;
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 3%;

    // letter-spacing: 0.25em;
    // text-transform: capitalize;
    span {
      @media screen and (max-width:430px) {
        display: block;
      }

      position: relative;

      a {
        @media screen and (max-width:430px) {
          left: 0;
          top: 0;
        }

        color: @graphics-font-color;
        left: 3%;
        //top: -20%;
        top: -.5vh;
      }
    }
  }

  div {
    @media screen and (max-width: 430px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 6%;
      row-gap: 1%;
    }

    // display: flex;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);

    a {
      @media screen and (max-width: 430px) {
        flex-basis: 50%;
        padding: 0 4%;
        margin: 0 0 10%;
      }

      flex-basis: 25%;
      // padding: 0 2%;
      text-decoration: none;

      img {}

      span {
        color: @graphics-cta-color;
        margin: 10% 0 0;

        &.mobile {
          @media screen and (max-width: 430px) {
            display: inline-block;
          }
        }
      }
    }
  }
}