@import "var.less"; // @import "promo1.less";
@graphics-font-color: #3862AA;
@graphics-cta-color: #2967B0;
@graphics-background: #D5AC38;

.graphics {
  @media screen and (max-width:414px) {
    padding: 4% 0;
    background: #FDF5F2;
  }
  padding: 3% 0;

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 3vw;
    }
    @media screen and (max-width:414px) {
      font-size: 40px;
      line-height: 44px;
      margin: 0 0 6%;
    }
    @media screen and (max-width:320px) {
      font-size: 36px;
    }
    font-family: @gilroyb;
    color: @graphics-font-color;
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 3%;
    // letter-spacing: 0.25em;
    // text-transform: capitalize;
  }

  div {
    @media screen and (max-width: 414px) {
      flex-wrap: wrap;
    }
    display: flex;
    text-align: center;

    a {
      @media screen and (max-width: 414px) {
        flex-basis: 50%;
        padding: 0 4%;
        margin: 0 0 10%;
      }
      flex-basis: 25%;
      padding: 0 2%;

      img {}

      span {
        color: @graphics-cta-color;
        margin: 10% 0 0;
      }
    }
  }
}