@import "var.less";

.hp {
  background: #fff;

  .first,
  .second {
    @media screen and (max-width: 428px) {
      flex-basis: 100% !important;
    }
    flex-basis: 50%;
  }

  .third {
    @media screen and (max-width: 428px) {
      flex-basis: 100% !important;
    }
    flex-basis: 33%;
  }

  .fourth {
    @media screen and (max-width: 428px) {
      flex-basis: 100% !important;
    }
    flex-basis: 24%;
  }

  h2,
  h3,
  p {
    margin: 0;
  }

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 3.1vw;
      line-height: 3.6vw;
    }
    @media screen and (max-width: 428px) {
      font-size: 7.7vw;
    }
    font-family: @souv;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    // letter-spacing: 0.01em;
    // text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
    color: #FFFFFF;
  }

  h3 {
    @media screen and (max-width: 1679px) {
      font-size: 1.2vw;
      line-height: 1.6vw;
    }
    @media screen and (max-width: 428px) {
      font-size: 3.6vw;
    }
    font-family: @gilroyb;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  p {
    @media screen and (max-width: 1679px) {
      font-size: 1.1vw;
      line-height: 1.3vw;
      // letter-spacing: 0.6vw;
    }
    // @media screen and (max-width: 810px) {
    //   font-size: 2.9vw;
    //   line-height: 4.1vw;
    // }
    @media screen and (max-width: 428px) {
      // font-size: 4vw !important;
      // line-height: 6vw !important;
    }
    font-family: @souv;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    // letter-spacing: 0.01em;
    color: #FFFFFF;
  }
}