@import "var.less"; // @import "promo1.less";
@na-font-color: #5777A7;
@na-cta-color: #5777A7;
@na-cta-background: #FDDED6;
@na-background: #FDDED6;

.new-arrivals {
  position: relative;
  width: 100%;
  background: @na-background;

  div {
    &.the-content {
      @media screen and (max-width: 414px) {
        width: 100%;
        left: 0;
        top: 16%;
        flex-wrap: wrap;
        padding: 6% 0;
      }
      position: relative;
      text-align: center;
      display: flex;
      padding: 2.7% 0;
      flex-wrap: wrap;
      align-items: baseline;

      a,
      a,
      h2,
      p {
        color: @na-font-color;
        font-family: @souv;
        margin: 0 auto;
      }

      img {
        &.mobile {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 2vw;
          // line-height: 2.4vw;
        }
        @media screen and (max-width: 414px) {
          font-size: 9vw;
          margin: 3% 0;
          line-height: 9vw;
          flex-basis: 100%;
          text-align: center;
        }
        margin: 0;
        text-transform: none;
        font-size: 36px;
        line-height: 40px;
        flex-basis: 51%;
        letter-spacing: 1px;
        text-align: right;
        font-family: @gilroyb;

        img {
          @media screen and (max-width: 414px) {
            display: none;
          }
          display: inline-block;
          margin: 0 4% 0 0;
        }
      }

      p {
        @media screen and (max-width: 414px) {
          display: none;
        }
        margin: 9% auto 0;
        text-transform: none;
        letter-spacing: 0;
        width: 78%;
      }

      div {
        @media screen and (max-width: 414px) {
          margin: 0;
          flex-basis: 100%;
        }
        margin: 0;
        text-align: center;
        flex-basis: 48%;
        padding: 0.4% 0 0;

        div {
          @media screen and (max-width: 414px) {
            margin: 0 0 5%;
          }
        }

        a {
          @media screen and (max-width: 414px) {}
          font-family: @gilroyb;
          color: @na-cta-color;
          // background: @na-cta-background;
          span {
            @media screen and (max-width: 414px) {
              display: none;
            }
          }

          &.cta1 {
            @media screen and (max-width: 414px) {
              left: -6%;
            }
            left: -9%;
          }

          &.cta2 {
            @media screen and (max-width: 414px) {
              left: 0;
            }
            left: -7%;
          }

          &.cta3 {
            @media screen and (max-width: 414px) {
              left: -6%;
            }
            left: -5%;
          }

          &.cta4 {
            @media screen and (max-width: 414px) {
              left: 0;
            }
            left: -3%;
          }

          &.cta5 {
            @media screen and (max-width: 414px) {
              left: 5%;
            }
            left: -1%;
          }

          &.cta6 {
            @media screen and (max-width: 414px) {
              left: 0;
            }
            left: 1%;
          }
        }
      }
    }
  }
}