// .c1 {
//   .glide {
//     .glide__bullets {
//       button {
//         &.glide__bullet.glide__bullet--active {
//           background-color: #F1FF50 !important;
//         }
//       }
//     }
//   }
// }

// .c6 {
//   .glide {
//     .glide__bullets {
//       button {
//         &.glide__bullet.glide__bullet--active {
//           background-color: #A36452  !important;
//         }
//       }
//     }
//   }
// }


// header.site-header {
//   top: 0 !important;
// }

.site-header.fixed {
  position: fixed !important;
}

header .site-header-inner .header-wrapper .header-actions .favorites {
  background: url("https://s.tea-global.net/mas_assets/theme/tea_responsive/images/hb-20px.png") center center/contain no-repeat !important;
}

.site-content .site-content-inner .site-content-bg-wrapper {
  padding: 0;
}

body.index header {
  @media screen and (max-width: 431px) {
    position: relative;
    top: 0 !important;
  }

  z-index: 9;
}

body.index header .site-header-inner .nav .site-nav-links li a {
  color: #47363d !important;
}

header .site-header-inner .header-wrapper .logo .logo-placeholder {
  background: url("https://s.tea-global.net/mas_assets/theme/tea_responsive/images/tea_logo.png") center no-repeat !important;
  background-size: contain !important;
}

header .site-header-inner .header-wrapper .header-actions .search-icon {
  background: url("https://s.tea-global.net/mas_assets/theme/tea_responsive/images/icon_search.png") no-repeat center center/contain !important;
}

header .site-header-inner .header-wrapper .header-actions .my-account .my-account-icon {
  background: url("https://s.tea-global.net/mas_assets/theme/tea_responsive/images/icon_account.png") no-repeat center center/contain !important;
}

header .site-header-inner .header-wrapper .header-actions .cart-toggle .shopping-cart {
  background: url("https://s.tea-global.net/mas_assets/theme/tea_responsive/images/icon_bag.png") no-repeat center center/contain !important;
}

body.index header .site-header-inner .nav .nav-toggle .bars-wrap .bar {
  background-color: #47363d !important;
}

.thumb-grid .img .js-qv {
  @media screen and (max-width: 835px){
    display:block;
    opacity: 1;
    position:relative;
  }
}

.thumb-grid .name {
  text-transform: capitalize;
}