@import "var.less";
@promo-cta-color: #345171;
@promo-cta-background: #F8FF8F;
@promo-cta2-color: #FCA025;
@promo-cta3-color: #F999A5;

.promo1 {
  @media screen and (max-width: 414px) {
    margin: 0 0 10%;
  }
  margin: 0 0 2%;
  position: relative;
  // background: #DFF6DC;
  // padding: 2% 0;
  video {
    vertical-align: middle;
    max-width: 100%;
  }

  div {
    &.the-content {
      @media screen and (max-width: 1024px) {
        top: 44%;
        // width: 51%;
        left: 47%;
      }
      @media screen and (max-width: 414px) {
        top: 53%;
        width: 100%;
        // right: 0;
        left: 0;
        // transform: translateX(0);
      }
      position: absolute;
      // text-align: center;
      // transform: translateX(-50%);
      top: 49%;
      width: 54%;
      left: 49%;

      .first {
        margin: 0 0 9%;
      }

      .second {
        margin: 0 0 9%;
      }

      .third {
        margin: 0 0 9%;
      }

      span {
        @media screen and (max-width: 1679px) {
          font-size: 1vw;
        }
        @media screen and (max-width: 414px) {
          font-size: 4vw;
          margin: 0 0 4%;
          display: block;
        }
        color: @promo-cta-color;
        font-family: gilroy-bold;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin: 0 2% 0 0;
      }

      a {
        @media screen and (max-width: 768px) {
          // padding: 0.5% 0;
        }
        @media screen and (max-width: 414px) {
          // width: auto;
          margin: 0 auto 6%;
          // padding: 3% 0;
          font-size: 4vw;
          display: block;
          width: 64%;
        }
        color: @promo-cta-color;
        background: @promo-cta-background;
        margin: 0 3% 0 0;
        // width: 40%;
        // padding: 1.5% 0;
        display: inline;

        &:hover {
          // color: #fff;
        }

        &.cta1 {
          @media screen and (max-width: 414px) {
            // left: -2%;
          }
          // left: -2%;
        }

        &.cta2 {
          @media screen and (max-width: 414px) {
            // left: 4%;
          }
          // left: 2%;
        }

        &.cta3 {
          @media screen and (max-width: 414px) {
            // left: 0;
          }
          // left: -2%;
        }

        &.cta4 {
          @media screen and (max-width: 414px) {
            // left: 3%;
          }
          left: 2%;
        }

        &.cta5 {
          @media screen and (max-width: 414px) {
            // left: 0;
          }
          left: -2%;
        }

        &.cta6 {
          @media screen and (max-width: 414px) {
            // left: 3%;
          }
          left: 2%;

          span {}
        }

        span {
          @media screen and (max-width: 414px) {
            // display: none;
            // color: #fff;
          }
          margin: 0;
          display: inline;
        }
      }
    }
  }
}

.promos {
  display: none !important;
}