@import "var.less";
@promo-cta1-color: #DCEB99;
@promo-cta1-background: #2D82A1;
@promo-cta2-color: #fff;
@promo-cta2-background: #DEEC8D;
@promo-cta3-color: #fff;
@promo-cta3-background: #95D4CB;
@promo-cta4-color: #fff;
@promo-cta4-background: #C194BE;
@promo-cta5-color: #fff;
@promo-cta5-background: #3862AA;
@promo-cta6-color: #fff;
@promo-cta6-background: #E8B2AB;

.promo1 {
  @media screen and (max-width: 428px) {}
  position: relative;
  display: flex;
  // flex-wrap: wrap;
  // video {
  //   vertical-align: middle;
  //   max-width: 100%;
  // }
  div {
    &.the-content {
      @media screen and (max-width: 1024px) {}
      @media screen and (max-width: 810px) {}
      @media screen and (max-width: 428px) {
        top: 58%;
        width: 100%;
        left: 0;
        transform: translateX(0%);
        text-align: center;
      }
      position: absolute;
      top: 70%;
      transform: translate(-50%, 0%);
      width: 100%;
      left: 50%;

      .first,
      .second,
      .third {
        @media screen and (max-width: 810px) {}
        @media screen and (max-width: 428px) {}
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        // flex-wrap: wrap;
      }

      .first {
        @media screen and (max-width:428px) {
          margin: 0 0 1%;
        }
        // margin: 0 0 4%;
        margin: 0;
      }

      .second {
        @media screen and (max-width:428px) {
          margin: 0 0 1%;
        }
        margin: 0 0 4%;
      }

      .third {
        // margin: 0 0 9%;
      }

      span {
        @media screen and (max-width: 1679px) {
          font-size: 0.9vw;
        }
        @media screen and (max-width: 428px) {
          font-size: 3vw;
        }
        // color: @promo-cta-color;
        font-family: gilroy-bold;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin: 0 2% 0 0;
      }

      a {
        @media screen and (max-width: 1679px) {
          width: 11.7vw;
        }
        @media screen and (max-width: 1024px) {}
        @media screen and (max-width: 810px) {}
        @media screen and (max-width: 428px) {
          margin: 0 0 4%;
          width: 43.5vw;
        }
        color: @promo-cta1-color;
        background: @promo-cta1-background;
        width: 196px;

        &:hover {}

        &.cta1 {
          @media screen and (max-width: 428px) {
            left: -2%;
          }
          left: -3%;
          background: @promo-cta1-background;
          color: @promo-cta1-color;
        }

        &.cta2 {
          @media screen and (max-width: 428px) {
            left: 2%;
          }
          left: -2%;
          // background: @promo-cta2-background;
          // color: @promo-cta2-color;
        }

        &.cta3 {
          @media screen and (max-width: 428px) {
            left: -2%;
          }
          left: -1%;
          // background: @promo-cta3-background;
          // color: @promo-cta3-color;
          // margin: 0;
        }

        &.cta4 {
          @media screen and (max-width: 428px) {
            left: 2%;
          }
          left: 0;
          // background: @promo-cta4-background;
          // color: @promo-cta4-color;
        }

        &.cta5 {
          @media screen and (max-width: 428px) {
            left: -2%;
          }
          left: 1%;
          // background: @promo-cta5-background;
          // color: @promo-cta5-color;
        }

        &.cta6 {
          @media screen and (max-width: 428px) {
            left: 2%;
          }
          left: 2%;
          // background: @promo-cta6-background;
          // color: @promo-cta6-color;
          span {}
        }

        span {
          @media screen and (max-width: 1680px) {}
          @media screen and (max-width: 428px) {}
        }
      }
    }
  }
}

.promos {
  display: none !important;
}