@import "var.less";
@promo2-cta1-color: #DEED88;
@promo2-cta1-background: #545456;
@promo2-cta2-color: #fff;
@promo2-cta2-background: #D8EBDD;
@promo2-cta3-color: #fff;
@promo2-cta3-background: #ECDAA8;
@promo2-cta4-color: #fff;
@promo2-cta4-background: #B9D4F8;
@promo2-cta5-color: #fff;
@promo2-cta5-background: #3862AA;
@promo2-cta6-color: #fff;
@promo2-cta6-background: #E8B2AB;

.promo2 {
  @media screen and (max-width: 428px) {}
  position: relative;
  display: flex;
  // flex-wrap: wrap;
  // video {
  //   vertical-align: middle;
  //   max-width: 100%;
  // }
  div {
    &.the-content {
      @media screen and (max-width: 1024px) {}
      @media screen and (max-width: 810px) {}
      @media screen and (max-width: 428px) {
        top: 56%;
        width: 100%;
        left: 0;
        transform: translateX(0%);
        text-align: center;
      }
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      width: 13%;
      left: 71%;

      a {
        @media screen and (max-width: 1679px) {}
        @media screen and (max-width: 1024px) {}
        @media screen and (max-width: 810px) {}
        @media screen and (max-width: 428px) {
          // margin: 0 0 4%;
        }
        color: @promo2-cta1-color;
        background: @promo2-cta1-background;

        &:hover {}

        &.cta1 {
          background: @promo2-cta1-background;
          color: @promo2-cta1-color;
        }

        &.cta2 {
          // background: @promo2-cta2-background;
          // color: @promo2-cta2-color;
        }

        &.cta3 {
          // background: @promo2-cta3-background;
          // color: @promo2-cta3-color;
        }

        &.cta4 {
          // background: @promo2-cta4-background;
          // color: @promo2-cta4-color;
        }

        &.cta5 {
          // background: @promo2-cta5-background;
          // color: @promo2-cta5-color;
        }

        &.cta6 {
          // background: @promo2-cta6-background;
          // color: @promo2-cta6-color;
        }

        span {
          @media screen and (max-width: 1680px) {}
          @media screen and (max-width: 428px) {}
        }
      }
    }
  }
}