@import "var.less";
@promo-cta1-color: #3862AA;
@promo-cta1-background: none;
@promo-cta2-color: #2F2F2F;
@promo-cta2-background: #E0B0CF;
@promo-cta3-color: #2F2F2F;
@promo-cta3-background: #59C0B7;
@promo-cta4-color: #2F2F2F;
@promo-cta4-background: #FFF97B;

.promo1 {
  @media screen and (max-width: 414px) {
    // margin: 0 0 5%;
  }
  // margin: 0 0 1%;
  position: relative;
  // background: #DFF6DC;
  // padding: 2% 0;
  // video {
  //   vertical-align: middle;
  //   max-width: 100%;
  // }
  div {
    &.the-content {
      @media screen and (max-width: 1024px) {
        top: 8%;
        // width: 51%;
        // left: 47%;
      }
      @media screen and (max-width: 768px) {
        //top: 0;
      }
      @media screen and (max-width: 414px) {
        top: 60%;
        width: 100%;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      position: absolute;
      top: 21%;
      width: 37%;
      // left: 50%;
      // transform: translateX(-50%);
      right: 4%;

      .first,
      .second,
      .third {
        @media screen and (max-width: 768px) {
          // margin: 0;
        }
        @media screen and (max-width: 414px) {
          margin: 0 0 9%;
          //display: block;
        }
        margin: 0 0 4%;
        text-align: center;
        //display: flex;
        // flex-wrap: wrap;
      }

      .first {
        // margin: 0 0 9%;
      }

      .second {
        // margin: 0 0 9%;
      }

      .third {
        // margin: 0 0 9%;
      }

      span {
        @media screen and (max-width: 1679px) {
          font-size: 0.9vw;
        }
        @media screen and (max-width: 414px) {
          font-size: 3vw;
          margin: 0 0 4%;
          display: block;
        }
        // color: @promo-cta-color;
        font-family: gilroy-bold;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin: 0 2% 0 0;
      }

      a {
        @media screen and (max-width: 1024px) {
          padding: 0.2% 0;
        }
        @media screen and (max-width: 768px) {
          // padding: 1%;
        }
        @media screen and (max-width: 414px) {
          // padding: 4% 0;
          // margin: 0;
          // width: 49%;
          // font-size: 4vw;
          // padding: 1.7%;
          // flex-basis: 57%;
        }
        color: @promo-cta1-color;
        background: @promo-cta1-background;
        flex-basis: 50%;
        margin: 0;
        // width: 40%;
        padding: 0;
        // display: inline;
        // padding: 0 0 8px;
        &:hover {
          // color: #fff;
        }

        &.cta1 {
          @media screen and (max-width: 414px) {
            // left: -1%;
          }
          left: -4%;
          // background: @promo-cta1-background;
          // color: @promo-cta1-color;
        }

        &.cta2 {
          @media screen and (max-width: 414px) {
            // left: 1%;
          }
          left: 0;
          // background: @promo-cta2-background;
          // color: @promo-cta2-color;
        }

        &.cta3 {
          @media screen and (max-width: 414px) {
            // left: -1%;
            // padding: 3%;
            // span {
            //   display: none;
            // }
          }
          left: 4%;
          // background: @promo-cta3-background;
          // color: @promo-cta3-color;
        }

        &.cta4 {
          @media screen and (max-width: 414px) {
            // left: 1%;
            // padding: 3%;
            //
            // span {
            //   display: none;
            // }
          }
          left: -4%;
          // background: @promo-cta4-background;
          // color: @promo-cta4-color;
        }

        &.cta5 {
          @media screen and (max-width: 414px) {
            // left: -1%;
          }
          left: 0;
        }

        &.cta6 {
          @media screen and (max-width: 414px) {
            // left: 1%;
          }
          left: 4%;

          span {}
        }

        span {
          @media screen and (max-width: 1680px) {
            line-height: 2vw;
          }
          @media screen and (max-width: 414px) {
            display: none;
            // color: #fff;
          }
          margin: 0;
          display: inline;
        }
      }
    }
  }
}

.promos {
  display: none !important;
}