@import "../var.less";
@promo-background: #F9EBE5;
@promo-h2-color: #47363D;
@promo-h2-color-430: @promo-h2-color;
@promo-h3-color: #47363D;
@promo-h3-color-430: @promo-h3-color;
@promo-font-color: #fff;
@promo-p-color: #fff;
@promo-cta1-color: #fff;
@promo-cta1-background: #9F88CC;
@promo-cta2-color: @promo-cta1-color;
@promo-cta2-background: #4261A6;
@promo-cta3-color: @promo-cta1-color;
@promo-cta3-background: #CF5F99;
@promo-cta4-color: @promo-cta1-color;
@promo-cta4-background: #31AB9D;
@promo-cta5-color: @promo-cta1-color;
@promo-cta5-background: #2B5579;
@promo-cta6-color: @promo-cta1-color;
@promo-cta6-background: #EC5152;


.promo1 {
  @media screen and (max-width: 1679px) {
    // min-height: 28vw;
  }

  @media screen and (max-width: 430px) {
    // min-height: 154vw;
    // padding: 14vw 0;
  }

  position: relative;
  display: flex;
  width: 100%;
  // background: @promo-background;
  // min-height: 476px;
  // flex-wrap: wrap;

  // video {
  //   vertical-align: middle;
  //   max-width: 100%;
  // }

  // #countdown {
  //   @media screen and (max-width: 1679px) {
  //     font-size: 1.1vw;
  //   }

  //   @media screen and (max-width: 430px) {
  //     width: 100%;
  //     text-align: center;
  //     font-size: 4vw;
  //     top: 6%;
  //     left: 0;
  //   }

  //   position: absolute;
  //   font-family: gilroy-black;
  //   color: #fff;
  //   top: 24%;
  //   left: 65%;
  //   transform: translate(0%, 0);
  //   letter-spacing: 4px;
  //   text-transform: uppercase;
  //   font-size: 18px;
  // }

  div {
    &.the-content {
      @media screen and (max-width: 1024px) {}

      @media screen and (max-width: 810px) {}

      @media screen and (max-width: 430px) {
        // top: 65%;
        // position: relative;
        width: 100%;
        // left: 0;
        // transform: translate(0%);
        // text-align: center;
      }

      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 55%;
      left: 50%;
      // text-align: center;

      a,
      a,
      h2,
      p {
        // color: @promo-font-color;
        // font-family: @souv;
        margin: 0 auto;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 5vw;
          margin: 0 0 2vw;
          line-height: 5vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 9vw;
          // margin: 0;
          line-height: 12vw;
          // font-size: 15vw;
          color: @promo-h2-color-430;
          margin: 0 0 4vw;
          // display: none;
          // color: #fff;
          text-align: center;
        }

        // margin: 5% 0 0;
        // text-transform: uppercase;
        color: @promo-h2-color;
        line-height: 80px;
        font-family: @souv;
        font-size: 80px;
        margin: 0 0 45px;
        text-align: center;
        // letter-spacing: .2em;
      }

      h3 {
        @media screen and (max-width: 1679px) {
          font-size: 1.5vw;
          line-height: 1.5vw;
          margin: 0 0 1vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 4.7vw;
          line-height: 6vw;
          margin: 0 0 3vw;
          color: @promo-h3-color-430;
          text-align: center;
          letter-spacing: .8vw;
        }

        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        font-family: @gilroyb;
        color: @promo-h3-color;
        margin: 0 0 17px;
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.4vw;
          line-height: 2vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 4vw;
          line-height: 6vw;
          width: 100%;
          margin: 4% auto;
          // display: none;
          text-shadow: none;
        }

        @media screen and (max-width: 320px) {
          font-size: 15px;
          line-height: 17px;
        }

        margin: 4% auto;
        color: @promo-p-color;
        text-transform: none;
        font-size: 24px;
        line-height: 34px;
        width: 100%;
        font-family: @gilroyr;
        text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
      }


      div {
        @media screen and (max-width: 1679px) {
          row-gap: 1.2vw;
          column-gap: 1.2vw;
        }

        @media screen and (max-width: 430px) {
          row-gap: 4vw;
          column-gap: 4vw;
          justify-content: center;
          flex-wrap: wrap;
        }

        display: flex;
        // flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
        justify-content: center;


        a {
          @media screen and (max-width: 1679px) {
            width: 12vw;
          }

          @media screen and (max-width: 810px) {}

          @media screen and (max-width: 430px) {
            // margin: 0 0 4%;
            width: 37vw;
            // background: #2FAB9D !important;
          }

          color: @promo-cta1-color;
          background: @promo-cta1-background;
          width: 203px;
          margin: 0;
          transition: all .3s;
          position:relative;

          &:before {
            content: "";
            background: url(https://i.pinimg.com/originals/ff/29/f5/ff29f5033d893f5d75575c56e9ab50e6.gif) no-repeat;
            width: 100px;
            height: 100px;
            background-size: contain;
            position: absolute;
            top: -2vw;
            left: 5vw;
            transition: all .5s;
            transform: scale(0);
          }

          &:hover {
            box-shadow: -5px 5px 0px #000;
            border: 2px solid #000;
            text-shadow: -2px 2px 0px #000;

            &:before {
              transform:scale(.8) rotate(-25deg);
            }
          }

          &.mobile-cta {
            @media screen and (max-width: 430px) {
              display: block;
            }

            display: none;
          }

          &.cta1 {
            background: @promo-cta1-background;
            // color: @promo-cta1-color;
          }

          &.cta2 {
            background: @promo-cta2-background;
            // color: @promo-cta2-color;
          }

          &.cta3 {
            background: @promo-cta3-background;
            // color: @promo-cta3-color;
          }

          &.cta4 {
            background: @promo-cta4-background;
            // color: @promo-cta4-color;
          }

          &.cta5 {
            &.desktop-only {
              @media screen and (max-width: 430px) {
                // display: none;
              }
            }

            // background: @promo-cta5-background;
            // color: @promo-cta5-color;
          }

          &.cta6 {
            // background: @promo-cta6-background;
            // color: @promo-cta6-color;
          }
        }
      }
    }
  }
}


.promos {
  // display: none !important;
}