@import "../var.less";
@promo2-background-color: none;
@promo2-h2-font-color: #47363D;
@promo2-cta1-color: #fff;
@promo2-cta1-background: #586397;
@promo2-cta2-color: #E3EFA3;
@promo2-cta2-background: #2C8082;
@promo2-cta3-color: #fff;
@promo2-cta3-background: #D05E99;
@promo2-cta4-color: #fff;
@promo2-cta4-background: #373A49;
@promo2-cta5-color: #fff;
@promo2-cta5-background: #3862AA;
@promo2-cta6-color: #fff;
@promo2-cta6-background: #E8B2AB;

.promo2 {
  @media screen and (max-width: 1679px) {
    // padding: 3vw 0;
    // column-gap: 1vw;
  }

  @media screen and (max-width: 430px) {
    // padding: 7vw 0;
    flex-wrap: wrap;
    // column-gap: 4vw;
  }

  position:relative;
  min-height: auto !important;
  display: flex;
  // column-gap: 16px;
  // padding: 55px 0;
  // padding: 0 .5vw;
  // flex-wrap: wrap;

  div {
    @media screen and (max-width:1679px) {}

    @media screen and (max-width:430px) {}

    overflow: hidden;
    padding:0;
    position: relative;

    &.first,
    &.second,
    &.third,
    &.fourth,
    &.fifth,
    &.sixth {
      @media screen and (max-width: 430px) {
        flex-basis: 100% !important;
      }

      flex-basis: 25%;
    }

    &.second,
    &.fourth {
      @media screen and (max-width: 430px) {
        // text-align: right;
      }
    }

    &.first {
      .the-content {
        // padding: 0 0 0 2vw;
      }
    }

    a {
      text-decoration: none;
    }

    img {
      @media screen and (max-width: 1679px) {
        // width: 24vw;
      }

      @media screen and (max-width: 430px) {
        // width: 48vw;
      }

      // width: 401px;
    }

    .the-content {
      @media screen and (max-width:430px) {
        top: 70%;
      }

      position: absolute;
      top:60%;
      left:50%;
      transform: translate(-50%, 0%);
      text-align: left;

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 1.8vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 4.8vw;
          // color: @c4-h2-font-color-430;
        }

        font-family: @gilroyb;
        font-size: 32px;
        line-height: normal;
        color: @promo2-h2-font-color;
        text-align: left;
        margin:1vw 0 .3vw;

      }

      i {
        @media screen and (max-width: 1679px) {
          font-size: 1.4vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 3vw;
        }

        font-size: 24px;
        color: @promo2-h2-font-color;
        margin: 0 0 .3vw;
      }

      div {
        text-align: left;

        a {
          @media screen and (max-width:1679px) {}

          @media screen and (max-width:430px) {}

          background: @promo2-cta1-background;
          color: @promo2-cta1-color;
          // width: 308px;

        }
      }
    }


  }
}