@import "../var.less";
@promo-background: none;
@promo-h2-color: #FCFF00;
@promo-h2-color-430: @promo-h2-color;
@promo-h2-font-family: @dumpling;
@promo-h3-color: #FCFF00;
@promo-h3-color-430: @promo-h3-color;
@promo-h3-font-family: @dumpling;
@promo-font-color: #fff;
@promo-p-color: #fff;
@promo-cta1-color: #5F8099;
@promo-cta1-background: #F3C1FD;
@promo-cta2-color: @promo-cta1-color;
@promo-cta2-background: #4261A6;
@promo-cta3-color: @promo-cta1-color;
@promo-cta3-background: #CF5F99;
@promo-cta4-color: @promo-cta1-color;
@promo-cta4-background: #31AB9D;
@promo-cta5-color: @promo-cta1-color;
@promo-cta5-background: #2B5579;
@promo-cta6-color: @promo-cta1-color;
@promo-cta6-background: #EC5152;


.promo1 {
  @media screen and (max-width: 1679px) {
    // min-height: 28vw;
  }

  @media screen and (max-width: 430px) {
    // min-height: 154vw;
    // padding: 14vw 0;
  }

  position: relative;
  display: flex;
  width: 100%;
  // width: 50%;
  // display: inline-flex !important;
  // background: @promo-background;
  // min-height: 476px;
  // flex-wrap: wrap;

  // video {
  //   vertical-align: middle;
  //   max-width: 100%;
  // }

  // #countdown {
  //   @media screen and (max-width: 1679px) {
  //     font-size: 1.8vw;
  //   }

  //   @media screen and (max-width: 430px) {
  //     width: 85%;
  //     text-align: left;
  //     font-size: 4vw;
  //     left: 11%;
  //     // background: #A18CBA;
  //     top: 17%;
  //     transform: translate(0, 0);
  //     padding: 6px 0;
  //   }

  //   position: absolute;
  //   font-family: @birdie;
  //   color: #F9F613;
  //   top: 35%;
  //   left: 71%;
  //   transform: translate(-50%, 0);
  //   // letter-spacing: 4px;
  //   // text-transform: uppercase;
  //   font-size: 30px;
  //   width: 40%;

  //   span {
  //     font-family: @birdie;
  //   }
  // }

  div {
    &.the-content {
      @media screen and (max-width: 1679px) {}

      @media screen and (max-width: 810px) {}

      @media screen and (max-width: 430px) {
        // width: 100%;
        // transform: translate(-50%, 0);
        // left: 0;
        top: 8%;
      }

      position: absolute;
      top: 16%;
      transform: translate(-50%, 0%);
      width: 87%;
      left: 50%;
      // text-align: center;

      img {
        @media screen and (max-width: 430px) {
          // width: 89vw;
          // display: inline-block;
        }

      }

      a,
      a,
      h2,
      p {
        // color: @promo-font-color;
        // font-family: @souv;
        margin: 0 auto;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 10vw;
          margin: 0 0 3vw;
          // line-height: 4vw;
          // letter-spacing: .9vw;
        }

        @media screen and (max-width: 430px) {

          margin: 0 0 3vw;
          color: @promo-h2-color-430;
          // display: none;
          // text-align: center;
          // line-height: normal;
          font-size: 13vw;
          // letter-spacing: 1.1vw;
        }

        color: @promo-h2-color;
        font-family: @promo-h2-font-family;
        font-size: 162.049px;
        line-height: normal;
        margin:0 0 2vw;
        letter-spacing: 0;
        text-transform: uppercase;
        text-align: right;
      }

      h3 {
        @media screen and (max-width: 1679px) {
          font-size: 5vw;
          // line-height: 1.5vw;
          // margin: 0 0 3vw;
          // letter-spacing: .4vw;
        }

        @media screen and (max-width: 430px) {
          margin: 0 0 3vw;
          color: @promo-h3-color-430;
          // text-align: center;
          // line-height: normal;
          font-size: 9vw;
          // letter-spacing: 1vw;
        }

        font-family: @promo-h3-font-family;
        color: @promo-h3-color;
        font-size: 87.889px;
        text-align: left;
        line-height: normal;
        letter-spacing: 0;
        text-transform: uppercase;
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.4vw;
          line-height: 2vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 4vw;
          line-height: 6vw;
          width: 100%;
          margin: 4% auto;
          // display: none;
          text-shadow: none;
        }

        @media screen and (max-width: 320px) {
          font-size: 15px;
          line-height: 17px;
        }

        margin: 4% auto;
        color: @promo-p-color;
        text-transform: none;
        font-size: 24px;
        line-height: 34px;
        width: 100%;
        font-family: @gilroyr;
        text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
      }


      div {
        @media screen and (max-width: 1679px) {
          row-gap: 1vw;
          column-gap: 2vw;
        }

        @media screen and (max-width: 430px) {
          row-gap: 4vw;
          column-gap: 4vw;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;
          position: relative;
          top: 23vw;
        }

        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 48px;
        justify-content: center;
        width: 100%;
        // margin: 6% auto;


        a {
          @media screen and (max-width: 1679px) {
            width: 12vw;
          }

          @media screen and (max-width: 810px) {}

          @media screen and (max-width: 430px) {
            // margin: 0 0 4%;
            // width: 37.5vw;
            width: 41.5vw;
            // background: #2FAB9D !important;
          }

          color: @promo-cta1-color;
          background: @promo-cta1-background;
          width: 203px;
          margin: 0;

          &:hover {}

          &.mobile-cta {
            @media screen and (max-width: 430px) {
              display: block;
            }

            display: none;
          }

          &.cta1 {
            // background: @promo-cta1-background;
            // color: @promo-cta1-color;
          }

          &.cta2 {
            // background: @promo-cta2-background;
            // color: @promo-cta2-color;
          }

          &.cta3 {
            // background: @promo-cta3-background;
            // color: @promo-cta3-color;
          }

          &.cta4 {
            // background: @promo-cta4-background;
            // color: @promo-cta4-color;
          }

          &.cta5 {
            &.desktop-only {
              @media screen and (max-width: 430px) {
                // display: none;
              }
            }

            // background: @promo-cta5-background;
            // color: @promo-cta5-color;
          }

          &.cta6 {
            // background: @promo-cta6-background;
            // color: @promo-cta6-color;
          }
        }
      }
    }
  }
}


.promos {
  // display: none !important;
}