@import "../var.less";
@promo-skinny-h2-color: #8F4D4F;
@promo-skinny-font-color: #fff;
@promo-skinny-p-color: #fff;
@promo-skinny-cta1-color: #fff;
@promo-skinny-cta1-background: #fff;
@promo-skinny-cta2-color: @promo-skinny-cta1-color;
@promo-skinny-cta2-background: #2FAB9D;
@promo-skinny-cta3-color: @promo-skinny-cta1-color;
@promo-skinny-cta3-background: #A291B9;
@promo-skinny-cta4-color: @promo-skinny-cta1-color;
@promo-skinny-cta4-background: #6C6694;
@promo-skinny-cta5-color: @promo-skinny-cta1-color;
@promo-skinny-cta5-background: #2B5579;
@promo-skinny-cta6-color: @promo-skinny-cta1-color;
@promo-skinny-cta6-background: #EC5152;
@promo-skinny-background-color: #ECB5A8;

.promo1-skinny {
  @media screen and (max-width: 1679px) {
    height: 7.2vw;
  }

  @media screen and (max-width: 430px) {
    height: 56vw;
    flex-wrap: wrap;
    // display: none;
  }

  position: relative;
  display: flex;
  width: 100%;
  background: @promo-skinny-background-color;
  height: 121px;
  min-height: auto !important;
  align-items: center;

  // flex-wrap: wrap;
  // video {
  //   vertical-align: middle;
  //   max-width: 100%;
  // }

  div {
    &.the-content {
      @media screen and (max-width: 1679px) {
        column-gap: 2vw;
      }

      @media screen and (max-width: 1024px) {}

      @media screen and (max-width: 810px) {}

      @media screen and (max-width: 430px) {
        top: 50%;
        width: 100%;
        left: 0%;
        transform: translate(0%, -50%);
        text-align: center;
        flex-wrap: wrap;
      }

      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      left: 0;
      display: flex;
      justify-content: center;
      column-gap: 36px;
      align-items: center;
      // text-align: center;
      // width: 40%;

      a,
      a,
      h2,
      p {
        // color: @promo-skinny-font-color;
        // font-family: @souv;
        margin: 0 auto;
      }

      h3 {
        @media screen and (max-width: 1679px) {
          font-size: 1.1vw;
          // line-height: 4.8vw;
        }

        @media screen and (max-width: 430px) {
          // font-size: 9vw;
          // margin: 0;
          line-height: 11vw;
          font-size: 4vw;
          // color: #B45A90;
          margin: 0;
          // display: none;
          // color: #fff;
          order: 2;
          flex-basis: 100%;
        }

        @media screen and (max-width:320px) {
          margin: 3% 0 0;
        }

        // margin: 5% 0 0;
        text-transform: none;
        color: @promo-skinny-h2-color;
        // line-height: 76px;
        // font-family: @souv;
        font-family: @gilroyb;
        // font-size: 70px;
        margin: 0;
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 0 3vw 0 0;
        // letter-spacing: 0.25em;


      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 1.5vw;
          // left: 19vw;
          letter-spacing: .3vw;
          // line-height: 4.8vw;
        }

        @media screen and (max-width: 430px) {
          margin: 0 0 4vw;
          font-size: 6vw;
          letter-spacing: 1vw;
          // left: 0;
        }

        text-transform: uppercase;
        color: @promo-skinny-h2-color;
        font-family: @gilroybl;
        margin: 0;
        font-size: 24px;
        line-height: normal;
        letter-spacing: 4.8px;
        // display: inline-block;
        // left: 327px;
        position: relative;

      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.4vw;
          line-height: 2vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 4vw;
          line-height: 6vw;
          width: 100%;
          margin: 4% auto;
          // display: none;
          text-shadow: none;
        }

        @media screen and (max-width: 320px) {
          font-size: 15px;
          line-height: 17px;
        }

        margin: 4% auto;
        color: @promo-skinny-p-color;
        text-transform: none;
        font-size: 24px;
        line-height: 34px;
        width: 100%;
        font-family: @gilroyr;
        text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
      }

      div {
        @media screen and (max-width: 1679px) {
          column-gap: 2vw;
        }

        @media screen and (max-width: 430px) {
          flex-wrap: wrap;
          width: 72%;
          column-gap: 5vw;
          row-gap: 5vw;
        }

        column-gap: 36px;
        // row-gap: 19%;
        display:flex;
        // align-items: center;
        // justify-content: center;

        // display: inline-block;
        // left: 920px;
        position: relative;
        // top: -.5vw;


        a {
          @media screen and (max-width: 1679px) {}

          @media screen and (max-width: 1024px) {}

          @media screen and (max-width: 810px) {}

          @media screen and (max-width: 430px) {
            // width: 32.5vw;
          }

          color: @promo-skinny-cta1-color;
          // background: @promo-skinny-cta1-background;
          // width: 220px;

          &.cta1 {
            // background: @promo-skinny-cta1-background;
            // color: @promo-skinny-cta1-color;
          }

          &.cta2 {
            // background: @promo-skinny-cta2-background;
            // color: @promo-skinny-cta2-color;
          }

          &.cta3 {
            // background: @promo-skinny-cta3-background;
            // color: @promo-skinny-cta3-color;
          }

          &.cta4 {
            // background: @promo-skinny-cta4-background;
            // color: @promo-skinny-cta4-color;
          }

          &.cta5 {
            // background: @promo-skinny-cta5-background;
            // color: @promo-skinny-cta5-color;
          }

          &.cta6 {
            // background: @promo-skinny-cta6-background;
            // color: @promo-skinny-cta6-color;
          }
        }
      }
    }
  }
}

// .promos {
//   display: none !important;
// }