@import "../var.less";
@promo-skinny-h2-color: #fff;
@promo-skinny-font-color: #fff;
@promo-skinny-p-color: #fff;
@promo-skinny-cta1-color: #F18D8D;
@promo-skinny-cta1-background: #FFEC60;
@promo-skinny-cta2-color: @promo-skinny-cta1-color;
@promo-skinny-cta2-background: #2FAB9D;
@promo-skinny-cta3-color: @promo-skinny-cta1-color;
@promo-skinny-cta3-background: #A291B9;
@promo-skinny-cta4-color: @promo-skinny-cta1-color;
@promo-skinny-cta4-background: #6C6694;
@promo-skinny-cta5-color: @promo-skinny-cta1-color;
@promo-skinny-cta5-background: #2B5579;
@promo-skinny-cta6-color: @promo-skinny-cta1-color;
@promo-skinny-cta6-background: #EC5152;
@promo-skinny-background-color: #F18D8D;

.promo1-skinny {
  @media screen and (max-width: 1679px) {
    height: 12vw;
  }

  @media screen and (max-width: 430px) {
    height: 89vw;
    // flex-wrap: wrap;
    // display: none;
  }

  position: relative;
  // display: flex;
  width: 100%;
  background: @promo-skinny-background-color;
  height: 200px;
  min-height: auto !important;
  align-items: center;

  // flex-wrap: wrap;
  // video {
  //   vertical-align: middle;
  //   max-width: 100%;
  // }

  div {
    &.the-content {
      @media screen and (max-width: 1679px) {
        column-gap: 7vw;
      }

      @media screen and (max-width: 1024px) {}

      @media screen and (max-width: 810px) {}

      @media screen and (max-width: 430px) {
        top: 50%;
        width: 100%;
        left: 0%;
        transform: translate(0%, -50%);
        text-align: center;
        display: block;
        // flex-wrap: wrap;
      }

      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      // width: 100%;
      left: 50%;
      display: flex;
      // justify-content: space-around;
      column-gap: 117px;
      align-items: center;
      // text-align: center;
      width: 72%;

      a,
      a,
      h2,
      p {
        // color: @promo-skinny-font-color;
        // font-family: @souv;
        // margin: 0 auto;
      }

      h3 {
        @media screen and (max-width: 1679px) {
          font-size: 1.1vw;
          // line-height: 4.8vw;
        }

        @media screen and (max-width: 430px) {
          // font-size: 9vw;
          // margin: 0;
          line-height: 11vw;
          font-size: 4vw;
          // color: #B45A90;
          margin: 0;
          // display: none;
          // color: #fff;
          order: 2;
          flex-basis: 100%;
        }

        @media screen and (max-width:320px) {
          margin: 3% 0 0;
        }

        // margin: 5% 0 0;
        text-transform: none;
        color: @promo-skinny-h2-color;
        // line-height: 76px;
        // font-family: @souv;
        font-family: @gilroyb;
        // font-size: 70px;
        margin: 0;
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 0 3vw 0 0;
        // letter-spacing: 0.25em;


      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 3vw;
          // left: 19vw;
          letter-spacing: .6vw;
          // line-height: 4.8vw;
        }

        @media screen and (max-width: 430px) {
          margin: 0 0 4vw;
          font-size: 12vw;
          letter-spacing: 2.5vw;
          text-align: center;
          // left: 0;
        }


        color: @promo-skinny-h2-color;
        text-transform: uppercase;
        font-family: @gilroyb;
        margin: 0;
        font-size: 48px;
        line-height: normal;
        letter-spacing: 9.6px;
        // display: inline-block;
        // left: 327px;
        position: relative;
        text-align: left;

        i {
          @media screen and (max-width: 1679px) {
            font-size: 1.8vw;
            letter-spacing: .4vw;
            line-height: 3vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 6vw;
            letter-spacing: 1vw;
            line-height: 14vw;
          }

          color: #FFEC60;
          font-family: @gilroyb;
          font-size: 30px;
          font-style: normal;
          line-height: 58px;
          letter-spacing: 6px;
          text-transform: uppercase;
          display: block;
        }

      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.4vw;
          line-height: 2vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 4vw;
          line-height: 6vw;
          width: 100%;
          margin: 4% auto;
          // display: none;
          text-shadow: none;
        }

        @media screen and (max-width: 320px) {
          font-size: 15px;
          line-height: 17px;
        }

        margin: 4% auto;
        color: @promo-skinny-p-color;
        text-transform: none;
        font-size: 24px;
        line-height: 34px;
        width: 100%;
        font-family: @gilroyr;
        text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
      }

      div {
        @media screen and (max-width: 1679px) {
          column-gap: 1.2vw;
        }

        @media screen and (max-width: 430px) {
          flex-wrap: wrap;
          width: 100%;
          column-gap: 4vw;
          row-gap: 4vw;
          justify-content: center;
        }

        // column-gap: 20px;
        // row-gap: 19%;
        // display:flex;
        // align-items: center;
        // justify-content: center;

        // display: inline-block;
        // left: 920px;
        position: relative;
        // top: -.5vw;


        a {
          @media screen and (max-width: 1679px) {
            width: 12vw;
          }

          @media screen and (max-width: 1024px) {}

          @media screen and (max-width: 810px) {}

          @media screen and (max-width: 430px) {
            width: 37.5vw;
            // left: 9vw;
          }

          color: @promo-skinny-cta1-color;
          background: @promo-skinny-cta1-background;
          width: 203px;
          // border: 1px solid #4F4243;

          // &:hover {
          //   background: @promo-skinny-cta1-color;
          //   color: @promo-skinny-cta1-background;
          // }

          &.cta1 {
            // background: @promo-skinny-cta1-background;
            // color: @promo-skinny-cta1-color;
          }

          &.cta2 {
            // background: @promo-skinny-cta2-background;
            // color: @promo-skinny-cta2-color;
          }

          &.cta3 {
            // background: @promo-skinny-cta3-background;
            // color: @promo-skinny-cta3-color;
          }

          &.cta4 {
            // background: @promo-skinny-cta4-background;
            // color: @promo-skinny-cta4-color;
          }

          &.cta5 {
            // background: @promo-skinny-cta5-background;
            // color: @promo-skinny-cta5-color;
          }

          &.cta6 {
            // background: @promo-skinny-cta6-background;
            // color: @promo-skinny-cta6-color;
          }
        }
      }
    }
  }
}

// .promos {
//   display: none !important;
// }