/**/*.jpg
/**/*.png
/**/*.psd
/**/*.gif
/**/*.docx
/**/*.pdf
/**/build
/**/design
/**/designs
**/images
cloudinary-config.js
log/
api/**/node_modules/**
node_modules/**
**/*.DS_Store
bower_components
