@import "../var.less";

@empire-h2-color: #4765A1;
@empire-cta-background: @empire-h2-color;

&.empire {
    @media screen and (max-width: 431px) {}

    h2 {
        color: @empire-h2-color !important;
    }

    div {
        a {
            background: @empire-cta-background;
            color: @slideshow-cta-color;
        }
    }
}