@import "../var.less";

@flutter_sleeve_twirl-h2-color: rgba(232, 148, 205, 0.87);
@flutter_sleeve_twirl-cta-background: @flutter_sleeve_twirl-h2-color;

&.flutter_sleeve_twirl {
    @media screen and (max-width: 431px) {}

    h2 {
        color: @flutter_sleeve_twirl-h2-color !important;
    }

    div {
        a {
            background: @flutter_sleeve_twirl-cta-background;
            color: @slideshow-cta-color;
        }
    }
}