@import "../var.less";

@tiered-skirted-twirl-h2-color: #CF5F99;
@tiered-skirted-twirl-cta-background: @tiered-skirted-twirl-h2-color;

&.tiered-skirted-twirl {
    @media screen and (max-width: 431px) {}

    h2 {
        color: @tiered-skirted-twirl-h2-color !important;
    }

    div {
        a {
            background: @tiered-skirted-twirl-cta-background;
            color: @slideshow-cta-color;
        }
    }
}