div.sign-up {
  @media screen and (max-width: 1679px) {}

  @media screen and (max-width: 430px) {}

  text-align: center;

  .the-content {
    display: flex;
    row-gap: 59px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .error {
    display: none;

    p {
      color: #d94d52;
    }
  }

}