@h1-font-color: #4F4243;
@cta-background-color: #C81F4A;
@cta-font-color: #fff;
@p-font-color: #47363D;
@span-font-color: #4765A1;
@official-rules-font-color: #47363D;
@background:  #FDF5F2;
@souv: souvenirstd-light;
@gilroyb: gilroy-bold;
@gilroyr: gilroy-regular;
@dumpling: 'TAYDumpling';
