@import "../../var.less";

@c2-3-h2-color: #fff;
@c2-3-h3-color: #fff;
@c2-3-p-text-align: center;
@c2-3-p-color: #fff;
@c2-3-transform: translate(0, -50%);
@c2-3-top: 50%;
@c2-3-top-431: 128vw;
@c2-3-left: 6%;
@c2-3-transform: translate(0, -50%);
@c2-3-cta-color: #47363D;
@c2-3-cta-background: #fff;
@c2-3-cta-size: 288px;
@c2-3-cta-size-1679: 17vw;
@c2-3-cta-size-431: 47vw;
@c2-p-text-shadow: none;