@import "../../var.less";

@c2-3-h2-color: #fff;
@c2-3-h3-color: #fff;
@c2-3-p-text-align: center;
@c2-3-p-color: #fff;
@c2-3-transform: translate(0, -50%);
@c2-3-top: 50%;
@c2-3-top-431: 128vw;
@c2-3-left: 6%;
@c2-3-transform: translate(0, -50%);
@c2-3-cta-color: #fff;
@c2-3-cta-background: none;
@c2-3-cta-size: 203px;
@c2-3-cta-size-1679: 12vw;
@c2-3-cta-size-431: 43.5vw;
@c2-p-text-shadow: none;