@freeShippingBg: #F9F2E0;
@freeShippingColor1: #47363D;

.free-shipping-150 {
  background: @freeShippingBg;
  margin: 0 auto;
  //no promo
  // position: relative;
  //during promo
  position: fixed;
  padding: 0.1% 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: none;

  h2 {
    @media screen and (max-width: 414px) {
      font-size: 10px;
      line-height: 12px;
    }
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: @freeShippingColor1;
  }
}
//zendesk

#launcher {
  @media screen and (max-width:1024px) {
    bottom: 6% !important;
  }
  @media screen and (max-width:414px) {
    bottom: 9% !important;
  }
  bottom: 3% !important;
}