.the-promo-header {
    .the-promo {
        background: #DFF6DC;

        a {
            span {
                &.first {
                	left: 0 !important;
                    color: #748E81 !important;
                }
            }

        }
    }
}