@import 'classes.less';
@import 'the-promo.less';
@import 'details-promo.less';
@import 'fancybox.less';

.bx-controls.bx-has-controls-direction.bx-has-pager {
    display: none;
}

.bx-wrapper {
    margin: 0;
    box-shadow: none;
    border: none;
    // background: none;
}