@backgroundColor: #0f8f6f;
@fontColor1: #a9c3db;
@fontColor2: #ffffff;

.header-banner {
    background: @backgroundColor;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


.the-promo,
.hp-promo {
    @media screen and (max-width: 768px) {
        padding: 2% 0;
    }

    //display:none;

    max-width: 1680px;
    margin: 0 auto;
    padding: 1% 0;
    position: relative;
    background: @backgroundColor;
    text-align: center;
    display:none;

    // .see-details {
    //  display: block;
    //  text-align: center;
    // }
    a {
        text-decoration: none;
    }

    span {
        position: relative;
        font-family: gilroy-bold;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;

        &.span-wrap {
            left: 0;
        }

        &.first {
            @media screen and (max-width: 414px) {
                left: 0;
                display: block;
            }

            left: -1%;
            color: @fontColor1;
            position: relative;
            font-family: gilroy-bold;
        }

        &.second {
            @media screen and (max-width: 414px) {
                // display: none;
            }

            color: @fontColor2;
        }

        &.shop-now {
            @media screen and (max-width: 414px) {
                left: 0;
            }

            left: 1%;
            text-align: center;
            border: none;
            position: relative;
            top: 0;

            i {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 2px;
                font-family: gilroy-bold;
                text-transform: uppercase;
                font-style: normal;
                text-decoration: none;
                color: #768ca3;
            }
        }

        &.details {
            @media screen and (max-width: 414px) {
                left: 86%;
            }

            left: 93.5%;
            position: absolute;

            a {
                font-size: 12px;
                line-height: 18px;
                color: #fff;
                text-decoration: none;
                font-family: gilroy-regular;
                text-transform: capitalize;
                letter-spacing: 0;
            }
        }
    }

    img {
        max-width: 100%;
    }
}