@promo1Bg: #c4d2eb;
@promo1Color1: #fff;
@promo1Color2: #f66d67;
@promo1Color3: #f66d67;

@promo2Bg: #f9f2e1;
@promo2Color1: #d26373;
@promo2Color2: #000;
@promo2Color3: #000;

@promo3Bg: #fff0f1;
@promo3Color1: #f66d67;
@promo3Color2: #d0a052;
@promo3Color3: #f66d67;



.header-banner {
    // background: @backgroundColor;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


.promos {
    max-width: 1680px;
    margin: 0 auto;
    position: relative;

    .the-promo,
    .hp-promo {
        @media screen and (max-width: 768px) {
            padding: 2% 0;
        }

        // background: @backgroundColor;
        text-align: center;
        padding: 1% 0;
        // display:none;

        // .see-details {
        //  display: block;
        //  text-align: center;
        // }

        a {
            text-decoration: none;
        }

        span {
            position: relative;
            font-family: gilroy-bold;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;

            &.span-wrap {
                left: 0;
            }

            &.first {
                @media screen and (max-width: 414px) {
                    left: 0;
                    display: block;
                }

                left: -1%;
                // color: @fontColor1;
                position: relative;
                font-family: gilroy-bold;
            }

            &.second {
                @media screen and (max-width: 414px) {
                    // display: none;
                }

                // color: @fontColor2;
            }

            &.shop-now {
                @media screen and (max-width: 414px) {
                    left: 0;
                }

                left: 1%;
                text-align: center;
                border: none;
                position: relative;
                top: 0;

                i {
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 2px;
                    font-family: gilroy-bold;
                    text-transform: uppercase;
                    font-style: normal;
                    text-decoration: none;
                    // color: #768ca3;
                }
            }

            &.details {
                @media screen and (max-width: 768px) {
                    left: 86%;
                }

                @media screen and (max-width: 414px) {
                    // left: 78%;
                    left: 0;
                    position: relative;
                    display: block;
                }

                left: 90%;
                position: absolute;

                a {
                    font-size: 12px;
                    line-height: 18px;
                    // color: #fff;
                    text-decoration: none;
                    font-family: gilroy-regular;
                    text-transform: capitalize;
                    letter-spacing: 0;
                }
            }
        }

        img {
            max-width: 100%;
        }

        &.promo1 {
            background: @promo1Bg;

            span {

                &.first {
                    color: @promo1Color1;
                }

                &.second {
                    color: @promo1Color2;
                }

                &.shop-now {

                    i {
                        color: @promo1Color2;
                    }
                }

                &.details {

                    a {
                        color: @promo1Color3;
                    }
                }
            }
        }

        &.promo2,
        &.promo3 {
            display: none;
        }

        &.promo2 {
            background: @promo2Bg;

            span {

                &.first {
                    color: @promo2Color1;
                }

                &.second {
                    color: @promo2Color2;
                }

                &.shop-now {

                    i {
                        color: @promo2Color2;
                    }
                }


                &.details {

                    a {
                        color: @promo2Color3;
                    }
                }
            }

        }

        &.promo3 {
            background: @promo3Bg;

            span {

                &.first {
                    color: @promo3Color1;
                }

                &.second {
                    color: @promo3Color2;
                }

                &.shop-now {

                    i {
                        color: @promo3Color2;
                    }
                }

                &.details {

                    a {
                        color: @promo3Color3;
                    }
                }
            }

        }
    }
}