@import "var.less";
@import "classes.less";

#faqs {
	@media screen and (max-width: 1679px) {
		// padding: 16% 2% 2.9%;
		column-gap: 6vw;
	}
	@media screen and (max-width: 430px) {
		column-gap: 0;
		padding: 10% 0;
	}

	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 4% 0;
	justify-content: center;
	column-gap: 92px;
	align-items: flex-start;

	h2 {
		@media screen and (max-width: 1679px) {
			font-size: 3vw;
		}

		@media screen and (max-width: 430px) {
			font-size: 8vw;
			// font-size: 32px;
			// padding: 0 18%;
			// margin: 0 0 15%;
		}

		font-family: @gilroyb;
		font-size: 48px;
		line-height: normal;
		text-align: center;
		// letter-spacing: 0.25em;
		// text-transform: uppercase;
		flex-basis: 100%;
		margin: 0 0 4%;
		// letter-spacing: 0.2em;
	}

	div {
		@media screen and (max-width: 430px) {
			flex-basis: 100%;
			padding: 0 !important;
			margin: 0 0 10%;
		}

		// flex-basis: 50%;
		align-content: center;
		margin: 0 0 2%;

		&.div-1 {
			// padding: 0 0 0 9%;
		}

		&.div-2 {
			// padding: 0 9% 0 0;
			order: 3;

			a {
				@media screen and (max-width: 1679px) {
					width: 29vw;
				}
		
				@media screen and (max-width: 430px) {
					width: 77vw;
				}
		
				background: @blue-color;
				color: #fff;
				width: 479px;
			}
		}

		&.div-3 {
			// padding: 0 0 0 9%;
			order: 2;
			
		}

		&.div-4 {
			order: 4;
			
			a {
				@media screen and (max-width: 1679px) {
					width: 29vw;
				}
		
				@media screen and (max-width: 430px) {
					width: 77vw;
				}
		
				background: @blue-color;
				color: #fff;
				width: 479px;
			}
		}

		h3 {
			@media screen and (max-width: 1679px) {
				font-size: 2vw;
				line-height: 2.4vw;
			}

			@media screen and (max-width:430px) {
				font-size: 5.5vw;
				// font-size: 24px;
				line-height: normal;
				margin: 0 0 6%;
			}

			font-family: @souv;
			font-size: 32px;
			line-height: 40px;
			text-align: center;
			margin: 0 0 1.5vw;
		}

		p {
			@media screen and (max-width: 1679px) {
				font-size: 1.3vw;
			}

			@media screen and (max-width:430px) {
				font-size: 4.5vw;
				// font-size: 20px;
				// width: 100%;
				padding: 0 6%;
			}

			font-family: @gilroyr;
			font-size: 22px;
			line-height: normal;
			// width: 89%;
			margin: 0 auto 5%;
		}
	}
}