@import "var.less";
@import "classes.less";

.get-started {
	@media screen and (max-width: 414px) {
		padding: 16% 0 2.9%;
	}
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 6% 0 5%;
	background: #FDF5F2;

	h2 {
		@media screen and (max-width: 1679px) {
			font-size: 2.4vw;
		}
		@media screen and (max-width: 414px) {
			font-size: 8vw;
			padding: 0 18%;
			margin: 0 0 15%;
		}
		font-family: @gilroyb;
		font-size: 40px;
		line-height: 40px;
		text-align: center;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		flex-basis: 100%;
		margin: 0 0 5%;
		letter-spacing: 0.2em;
	}

	div {
		@media screen and (max-width: 414px) {
			flex-basis: 100%;
			padding: 0 !important;
			margin: 0 0 14%;
		}
		flex-basis: 50%;
		align-content: center;
		margin: 0 0 2%;

		&.div-1 {
			padding: 0 0 0 9%;
		}

		&.div-2 {
			padding: 0 9% 0 0;
		}

		h3 {
			@media screen and (max-width: 1679px) {
				font-size: 2vw;
			}
			@media screen and (max-width:414px) {
				font-size: 8vw;
				margin: 0 0 6%;
			}
			font-family: @souv;
			font-size: 33px;
			line-height: 40px;
			text-align: center;
			margin: 0 0 3%;
		}

		p {
			@media screen and (max-width: 1679px) {
				font-size: 1.5vw;
			}
			@media screen and (max-width:414px) {
				font-size: 6vw;
				width: 100%;
			}
			font-family: @gilroyr;
			font-size: 25px;
			width: 67%;
			margin: 0 auto 5%;
		}

		a {
			@media screen and (max-width: 414px) {
				left: 0;
				padding: 4% 0;
				width: 64%;
			}
			background: @yellow-color;
			color: @blue-color;
			padding: 2% 6%;

			&.cta1 {}

			&.cta2 {}
		}
	}
}