@import "var.less";
@import "classes.less";

.header {
	display: flex;
	flex-wrap: wrap;

	div {
		&.div-1 {
			@media screen and (max-width: 430px) {
				flex-basis: 100%;
				padding: 8% 0 0;
			}

			// padding: 3.7% 0 0;
			text-align: center;
			flex-basis: 61%;
			background: @blue-color;
			position: relative;

			.the-content {
				@media screen and (max-width: 430px) {
					position: relative;
					top: 0;
					left: 0;
					transform: translate(0);
				}

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
			}
		}

		&.div-2 {
			@media screen and (max-width: 430px) {
				display: none;
			}

			flex-basis: 39%;

			img {
				@media screen and (max-width: 430px) {
					display: none;
				}
			}
		}

		h2 {
			@media screen and (max-width: 1679px) {
				font-size: 4.8vw;
				line-height: 5vw;
			}

			@media screen and (max-width: 430px) {
				font-size: 9vw;
				line-height: 12vw;
			}

			color: @yellow-color;
			font-family: @gilroyb;
			font-size: 80px;
			line-height: 85px;
			// letter-spacing: 0.2em;
			margin: 0;

			span {
				letter-spacing: 0;
			}
		}

		h3 {
			@media screen and (max-width: 1679px) {
				font-size: 3vw;
			}

			@media screen and (max-width: 430px) {
				font-size: 5.5vw;
				margin: 4vw 0;
			}

			color: @green-color;
			font-family: @gilroyb;
			font-size: 48px;
			line-height: normal;
			margin: 2vw 0;
			letter-spacing: 0;
		}

		p {
			@media screen and (max-width: 1679px) {
				font-size: 1.5vw;
			}

			@media screen and (max-width: 430px) {
				font-size: 4.5vw;
				line-height: 6.4vw;
				// width: 100%;
				// padding: 0 13%;
				// margin: 0 0 14%;
			}

			color: #fff;
			font-family: @souv;
			font-size: 25px;
			// width: 78%;
			margin: 0 auto;
			line-height: normal;
		}

		ul {
			@media screen and (max-width: 1679px) {
				column-gap: 1vw;
			}
			@media screen and (max-width: 430px) {
				column-gap: 4vw;
				row-gap: 4vw;
				margin: 6vw 0;
			}

			list-style-type: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			column-gap: 16px;
			margin: 2vw 0;

			li {
				@media screen and (max-width: 430px) {
					// flex-basis: 100%;
					// margin: 0 0 7%;
				}

				// flex-basis: 33%;

				a {
					@media screen and (max-width: 1679px) {
						width: 12vw;
					}

					@media screen and (max-width: 430px) {
						// padding: 2% 0;
						width: 37vw;
					}

					background: @yellow-color;
					color: @blue-color;
					width: 203px;

					// &.cta1 {
					// padding: 4% 10%;
					// left: 22%;
					// }

					// &.cta2 {
					// 	padding: 4% 8%;
					// 	left: 1%;
					// }

					// &.cta3 {
					// 	padding: 4% 16%;
					// 	left: -20%;
					// }
				}
			}
		}
	}
}