@import "var.less";
@import "classes.less";

#how-can-we-help {
    @media screen and (max-width: 1679px) {}

    @media screen and (max-width: 430px) {}

    padding: 0;

    h2 {
        @media screen and (max-width: 1679px) {}

        @media screen and (max-width: 430px) {}


        margin: 0 0 4%;

    }

    p {
        margin: 0 0 8%;
    }

    a {
        @media screen and (max-width: 1679px) {
            width: 29vw;
        }

        @media screen and (max-width: 430px) {
            width: 77vw;
        }

        background: @blue-color;
        color: #fff;
        width: 479px;
    }

}