@import "var.less";
@import "classes.less";
@import "header.less";
@import "how-it-works.less";
@import "get-started.less";
@import "quote.less";
@import "faqs.less";
@import "forms.less";

html {
	scroll-behavior: smooth;
}

.ref {
	@media screen and (max-width: 414px) {
		//promo
		top: 7.4%;
		//onload
		// top: -.5%;
		//scroll
		// top: -10.1%;
	}
	opacity: 0.5;
	width: 1680px;
	//promo
	// top: 6%;
	//page load
	// top: -1.5%;
	//scroll
	top: 2%;
	position: absolute;
	z-index: 9999;
}

.cms-page h1 {
	display: none;
}

.site-content .site-content-inner .site-content-bg-wrapper {
	background: none;
	padding: 0;
}

.container,
.container-fullwidth {
	padding: 0;
}