@import "var.less";
@import "classes.less";
@import "header.less";
@import "how-it-works.less";
@import "how-can-we-help.less";
@import "get-started.less";
@import "quote.less";
@import "faqs.less";
@import "forms.less";

html {
	scroll-behavior: smooth;
}

.cms-page h1 {
	display: none;
}

.site-content .site-content-inner .site-content-bg-wrapper {
	background: none;
	padding: 0;
}

.container,
.container-fullwidth {
	padding: 0;
}