@import 'var.less';
@c1-cta-color: #fff;
@c1-cta-background-color: #EC5152;
@c1-h1-color: #47363D;
@c1-h2-color: #47363D;
@c1-font-color: #47363D;

.c1 {
  position: relative;

  .the-content,
  .the-ctas {
    position: absolute;
  }

  .the-ctas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

    &.group1 {
      @media screen and (max-width: 430px){
        top: 33%;
        row-gap: 50vw;
      }
      top: 51%;
    }

    &.group2 {
      @media screen and (max-width: 430px){
        top: 72%;
        row-gap: 56vw;
      }
      top: 89%;
    }

    a {
      @media screen and (max-width:1679px) {
        width: 15vw;
      }
      @media screen and (max-width: 430px){
        width: 44vw;
      }

      background-color: @c1-cta-background-color;
      color: @c1-cta-color;
      width: 250px;
    }
  }

  .the-content {
    @media screen and (max-width: 430px) {
      width: 100%;
      left: 0;
      transform: translate(0);
      top: 3%;
    }

    top: 4%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: auto;
    text-align: center;

    h1 {
      @media screen and (max-width:1679px) {
        font-size: 5vw;
      }

      @media screen and (max-width:430px) {
        font-size: 12vw;
      }

      font-family: @souv;
      font-size: 80px;
      color: @c1-h1-color;
      margin: 1vw 0;
    }

    h2 {
      @media screen and (max-width:1679px) {
        font-size: 1vw;
      }

      @media screen and (max-width:430px) {
        font-size: 4vw;
      }

      color: @c1-h2-color;
      font-size: 18px;
      font-family: @gilroyb;
      text-transform: uppercase;
      letter-spacing: 4px;
      line-height: 1.25;
      margin:0;
    }

    p {
      @media screen and (max-width: 1679px) {
        font-size: 1.3vw;
        line-height: 2vw;
      }

      @media screen and (max-width: 430px) {
        font-size: 4.5vw;
        line-height: 6vw;
      }

      font-size: 22px;
      line-height: 33px;
      color: @c1-font-color;
      font-family: @souv;
    }

  }

}