@import "var.less";
@c2-h3-font-color: #fff;
@c2-h2-font-color: #47363D;
@c2-font-color: #47363D;
@c2-cta-color: #fff;
@c2-cta-background: #608A8A;

.c2 {
  @media screen and (max-width: 1679px) {
    padding: 4vw 0;
  }

  @media screen and (max-width: 430px) {
    padding: 8vw 0;
  }

  position: relative;
  display: block !important;
  padding: 60px 0;

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 3.5vw;
    }

    @media screen and (max-width: 430px) {
      font-size: 9vw;
    }

    font-family: @souv;
    font-size: 54px;
    color: @c2-h2-font-color;
    text-align: center;
  }

  div {
    @media screen and (max-width: 430px) {
      flex-wrap: wrap;
    }

    display: flex;

    a {
      @media screen and (max-width: 430px) {
        flex-basis: 50%;
      }

      text-align: center;

      span {
        color: @c2-font-color;
      }
    }
  }


}