@import "var.less";
@c3-cta-color: #47363D;

.c3 {
  @media screen and (max-width: 430px) {
    padding: 10vw 0;
  }

  display: flex;
  text-align: center;
  padding: 3vw 0;

  div {

    &.first,
    &.second,
    &.third {
      @media screen and (max-width:430px) {
        flex-basis: 100%;
        margin:0 0 12vw;
      }

      text-align: center;
      flex-basis: 33%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      img {
        @media screen and (max-width: 1679px){
          width: 27vw;
        }
        @media screen and (max-width: 430px){
          width: 90vw;
        }
        width: 454px;
        margin: 0 0 2vw;
      }


      .the-content {
        @media screen and (max-width:430px) {}

        a {
          text-decoration: none;
          color: @c3-cta-color;
        }
      }
    }

    &.first {
      @media screen and (max-width:430px) {}

      .the-content {

        a {
          @media screen and (max-width:430px) {}

          // color: @c3-first-cta-color;
          // background: @c3-first-cta-background;
        }
      }
    }

    &.second {
      @media screen and (max-width: 430px) {}

      .the-content {

        a {
          @media screen and (max-width:430px) {}

          // color: @c3-second-cta-color;
          // background: @c3-second-cta-background;

        }
      }
    }

    &.third {
      @media screen and (max-width:430px) {
        margin:0;
      }

      .the-content {

        a {
          // color: @c3-third-cta-color;
          // background: @c3-third-cta-background;

        }
      }
    }
  }
}