@import 'var.less';
@c4-cta-color: #fff;
@c4-cta-background-color: #AC8D2C;
@c4-font-color: #47363D;
@c4-h2-color: #513F7A;
@c4-background: #fff;

.c4 {
  @media screen and (max-width: 430px) {
    padding: 4% 0;
  }
  padding: 4% 6%;
  // background: #FDF5F2;

  .top {
    flex-basis: 100%;

    h2 {
      @media screen and (max-width: 1679px) {
        font-size: 4vw;
        line-height: 4vw;
      }
      @media screen and (max-width: 430px) {
        font-size: 12vw;
        line-height: 12vw;
        margin: 0 0 5%;
      }
      color: @c4-h2-color;
      font-size: 70px;
      line-height: 70px;
      margin: 0 0 2%;
    }

    p {
      @media screen and (max-width: 1679px) {
        font-size: 1.5vw;
        line-height: 2vw;
      }
      @media screen and (max-width: 430px) {
        font-size: 5vw;
        line-height: 6vw;
        margin: 0 0 5%;
      }
      color: #47363D;
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 4%;
    }
  }

  .first {
    @media screen and (max-width: 430px) {
      padding: 0 7%;
    }
    position: relative;
    padding: 0 1% 0 0;

    img {
      @media screen and (max-width:430px) {
        width: 100%;
      }
    }

    .the-content {
      @media screen and (max-width:810px) {}
      @media screen and (max-width: 430px) {
        width: 100%;
      }
      position: absolute;
      bottom: 8%;
      left: 0;
      width: 100%;
      text-align: center;

      img {
        margin: 0 0 2%;
        left: 10%;
        position: relative;
      }

      h2 {
        @media screen and (max-width:1679px) {
          font-size: 4vw;
          line-height: 4vw;
        }
        @media screen and (max-width:430px) {
          font-size: 12vw;
          line-height: 12vw;
        }
        color: #fff;
        font-size: 70px;
        line-height: 70px;
        text-shadow: 0 0 14px rgba(0,0,0,0.15);
      }

      .cta-border {
        @media screen and (max-width:1679px) {
          width: 17vw;
        }
        @media screen and (max-width:430px) {
          width: 61vw;
        }
        color: @c4-cta-color;
        margin: 4% 0 0;
        background: @c4-cta-background-color;
        width: 287px;
      }
    }
  }

  .second {
    @media screen and (max-width:430px) {
      margin: 4% 0 0;
      padding: 0 5.5%;
    }
    display: flex;
    flex-wrap: wrap;
    padding: 0 1% 0 0;

    a {
      @media screen and (max-width: 430px) {
        padding: 0 2%;
      }
      flex-basis: 50%;
      padding: 0 1%;
      margin: 0 0 3%;
      display: inline-block;
    }
  }
}