@import 'var.less';
@import 'classes.less';
@import 'c1.less';
@import 'c2.less';
@import 'c3.less';
@import 'c4.less';
@import 'c5.less';
@import 'c6.less';
@import 'c7.less';
@import 'c8.less';

.content-wrap {
  display: flex;
  flex-wrap: wrap;

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 3.2vw;
      line-height: 3.6vw;
    }

    @media screen and (max-width:428px) {
      font-size: 9vw;
      line-height: 11vw;
    }

    // font-family: @souv;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }

  p {
    @media screen and (max-width: 1679px) {
      font-size: 0.9vw;
      line-height: 1.3vw;
    }

    font-family: @souv;
    font-size: 16px;
    line-height: 23px;
    // letter-spacing: 0.2em;
    // text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }

  a {
    color: #fff;
  }

  .first,
  .second {
    @media screen and (max-width: 428px) {
      flex-basis: 100%;
    }

    flex-basis: 50%;
  }

  .c1,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
  }
}