.careers-welcome a,.the-job a {
  color: #cc0033;
}

.careers-welcome h1,.the-job h1,.careers-welcome h2,.the-job h2,.careers-welcome h3,.the-job h3 {
  margin: 0 0 1%;
}

@media screen and (max-width:414px) {
  .careers-welcome h1,  .the-job h1,  .careers-welcome h2,  .the-job h2,  .careers-welcome h3,  .the-job h3 {
    margin: 0 0 4%;
  }
}

.careers-welcome div,.the-job div,.careers-welcome p,.the-job p {
  margin: 0 0 1%;
}

@media screen and (max-width:414px) {
  .careers-welcome div,  .the-job div,  .careers-welcome p,  .the-job p {
    margin: 0 0 4%;
  }
}