@import '../var.less';
@import '../classes.less';

&.select-styles {
    @media screen and (max-width:430px) {
        // padding: 12% 0;
    }


    // padding: 4% 0 0;
    // display: flex;

    h1,
    h2 {
        @media screen and (max-width: 430px) {
            text-align: center;
        }

        font-family: @souv;
    }

    h1 {
        @media screen and (max-width: 1679px) {
            font-size: 2.9vw;
        }

        @media screen and (max-width: 430px) {
            font-size: 7vw;
            margin: 8vw 0;
        }

        font-size: 48px;
        margin: 1vw 0 0;
        // line-height: 21px;
    }

    h2 {
        @media screen and (max-width: 1679px) {
            font-size: 1.3vw;
        }

        @media screen and (max-width: 430px) {
            font-size: 5vw;
        }

        font-size: 22px;
        // line-height: 27px;
    }

    p {
        @media screen and (max-width: 1679px) {
            font-size: 1.3vw;
        }

        @media screen and (max-width:430px) {
            margin: 0 0 8%;
            font-size: 5vw;
            line-height: 6vw;
            text-align: center;
        }

        font-family: @souv;
        font-size: 22px;
        // line-height: 15px;
        // letter-spacing: 4px;
        color: #47363D;
        padding: 0;
        margin: 0 0 2%;

    }


    .the-content.select-styles {
        @media screen and (max-width: 430px) {
            // width: 100%;
            flex-wrap: wrap;
            // padding: 12vw 0;
            row-gap: 4vw;
            column-gap: 4vw;

            //4 ITEMS IN THE ROW
            // justify-content: space-evenly;

            // margin: 16vw 0 0;
        }

        top:0;
        width:100%;
        left:0;
        transform: translate(0);
        display: flex;
        // background: #E3EFA3;
        // padding: 3.8vw 0;
        column-gap: .5vw;
        justify-content: center;
        // margin: 2vw 0 0;

        a {
            @media screen and (max-width:430px) {
                //4 ITEMS IN THE ROW
                flex-basis: 48%;
                // padding: 2.5%;
                padding: 0;
                // margin: 0 0 3vw;
                // align-self: center;
                // text-align:center;
                // margin: 0 0 .1%;

                // 5 ITEMS IN THE ROW
                // flex-basis: 33%;
                // padding: .5%;
                // margin: 0 0 4%;
            }

            //4 ITEMS IN THE ROW
            // flex-basis: 25%;

            //5 ITEMS IN THE ROW
            // flex-basis: 20%;

            position: relative;
            // padding: 0 .7%;

            img {
                @media screen and (max-width:1679px) {
                    // width: 11.5vw;
                }

                @media screen and (max-width:430px) {
                    // width: 89%;
                }

                // width: 192px;
            }

            &.cta1,
            &.cta3 {
                @media screen and (max-width: 430px) {
                    text-align: right;
                }
            }

            &.cta2,
            &.cta4 {
                @media screen and (max-width: 430px) {
                    text-align: left;
                }
            }

            &.cta3,
            &.cta4 {
                @media screen and (max-width: 430px) {
                    // display: none;
                }
            }

            &.cta5 {
                @media screen and (max-width: 430px) {
                    display: none;
                }
            }

            &.cta6 {
                @media screen and (max-width: 430px) {
                    display: inline;
                }

                display: none;
            }

            .the-cta {
                @media screen and (max-width: 430px) {
                    // margin: 5vw 0 0;
                    // text-align: revert;
                }

                position: absolute;
                // bottom: 10%;
                width: 100%;
                // text-align: center;
                // margin: 1vw 0 0;

                span {
                    @media screen and (max-width: 1679px) {
                        width: 13vw;
                    }

                    @media screen and (max-width: 430px) {
                        width: 42vw;
                    }

                    color: #47363D;
                    // color: #fff;
                    background: #fff;
                    // width: 203px;
                }
            }
        }

    }
}