@bf-font-color: #E894CD !important;
@cm-font-color: #C4000A!important;
@sale-font-color: #C4000A !important;
@new-font-color: #436FC1 !important;
// @new-font-color: #47363D !important;
@select-styles-font-color: #C4000A !important;
@warehouse-font-color: #C4000A !important;
@clearance-font-color: #C4000A !important;
@promo-font-color: #C4000A !important;
