.dresses {
  background: #fff;
  opacity: 0;
  transition: all 1s;
  position: relative;
}

.dresses .glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.dresses .glide * {
  box-sizing: inherit;
}

.dresses .glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}

.dresses .glide {
  position: unset;
}

.dresses img {
  display: block;
}

.dresses li {
  position: relative;
}

.dresses .glide {
  max-width: 1290px;
  margin: 0 auto;
}

.dresses .width-300 {
  justify-content: center;
}

.dresses .width-300 li {
  width: 300px;
}

@media screen and (max-width:1679px) {
  .dresses .width-300 li {
    width: 18vw;
  }
}