@import "../../var.less";

@c2-1-h2-color: #fff;
@c2-1-h2-color-431: #fff;
@c2-1-h3-color: #fff;
@c2-1-h3-color-431: #fff;
@c2-1-p-color: #fff;
@c2-1-p-text-align: center;
@c2-1-top: 50%;
@c2-1-left: 69%;
@c2-1-transform: translate(0, -50%);
@c2-1-right: 11%;
@c2-1-cta-color: #47363D;
@c2-1-cta-background: #fff;
@c2-1-cta-size: 203px;
@c2-1-cta-size-1679: 12vw;
@c2-1-cta-size-431: 43.5vw;
@c2-1-h2-font-family: @gilroyb !important;