@souv: souvenirstd-light;
@gilroyb: gilroy-bold;
@gilroyr: gilroy-regular;
@color1: #E9E91B;
@color2: #58CCAD;
@color3: #006A6E;
@color4: #F68B57;

.mobile {
	@media screen and(max-width: 430px) {
		display: block;
	}
	display: none;
}

.desktop {
	@media screen and (max-width: 430px) {
		display: none !important;
	}
}

.cta-border {
	@media screen and (max-width: 1679px) {
	  font-size: 0.9vw;
	}
	@media screen and (max-width: 430px) {
	  // font-size: 3vw;
	  font-size: 2.5vw;
	  // padding: 3% 0;
	  // width: 36%;
	}
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	// padding: 2.5% 4%;
	font-family: @gilroyb;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.2em;
	color: #FFFFFF;
	// width: 14%;
  }

  .a {
	@media screen and (max-width: 1679px) {
	  width: 10.7vw;
	  height: 2.7vw;
	}
	@media screen and (max-width: 430px) {
	  width: 43.5vw;
	  // height: 11vw;
	  height: 7vw;
	  padding: 0;
	}
	width: 180px;
	height: 45px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	position: relative;
  }