.dept-bf {
	a {
		// color: #FF1744 !important;
		color: #D05F9A !important;
	}

	&.active {
		.line {
			// border-color: #FF1744 !important;
			border-color: #D05F9A !important;
		}
	}
}

.dept-warehouse {
	a {
		color: #FF1744 !important;
		// color: #C1D065 !important;
	}

	&.active {
		.line {
			border-color: #FF1744 !important;
			// border-color: #C1D065 !important;
		}
	}
}


.dept-clearance, .dept-sale {
	a {
		color: #FF1744 !important;
		// color: #C1D065 !important;
	}

	&.active {
		.line {
			// border-color: #FF1744 !important;
			// border-color: #C1D065 !important;
		}
	}
}

.dept-new-arrivals {
	a {
		color: #436FC1 !important;
		// color: #58CCAD !important;
	}

	&.active {
		.line {
			border-color: #436FC1 !important;
			// border-color: #58CCAD !important;
		}
	}
}


.dept-select-styles {
	a {
		// color: #B589BE !important;
		// color: #58CCAD !important;
	}

	&.active {
		.line {
			// border-color: #B589BE !important;
			// border-color: #58CCAD !important;
		}
	}
}

header .site-header-inner .nav .site-nav-links li {
	@media screen and (max-width: 1679px) {
		margin-right: 1.5vw;
	}
}

header .site-header-inner .nav .site-nav-links li a {
	@media screen and (max-width: 1679px) {
		font-size: 1vw !important;
		letter-spacing: 0.2vw;
	}
}

header .site-header-inner .nav .site-nav-links li.dept-bf.active span.line {
	// border-color: #FF1744 !important;
}
