.dept-black-friday,
.dept-clearance {
	a {
		color: #FF1744 !important;
	}

	&.active {
		.line {
			border-color: #FF1744 !important;
		}
	}
}

header .site-header-inner .nav .site-nav-links li {
	@media screen and (max-width: 1679px) {
		margin-right: 1.8vw;
	}
}

header .site-header-inner .nav .site-nav-links li a {
	@media screen and (max-width: 1679px) {
		font-size: 1vw;
		letter-spacing: 0.2vw;
	}
}

header .site-header-inner .nav .site-nav-links li.dept-bf.active span.line {
	border-color: #FF1744 !important;
}