@import (less) "../../../../../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@graphics-cta-color: #2967B0;

.glide {
  position: unset;

  .glide__track {

    .glide__slides {
      @media screen and (max-width: 1679px) {
        // column-gap: 2vw;
      }

      @media screen and (max-width: 430px) {}

      // column-gap: 30px;

      .glide__slide {
        position: relative;
      }
    }
  }

  .glide__bullets {
    @media screen and (max-width: 430px) {
      position: relative;
      padding: 6vw 0;
      bottom: 0;
      text-align: center;
    }

    position: absolute;

    button {
      @media screen and (max-width: 1679px) {
        width: 1.3vw;
        height: 1.3vw;
      }

      @media screen and (max-width: 430px) {
        // width: 5vw;
        // height: 5vw;
        // border-radius: 3vw;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #666 !important;
        margin: 0 5px;
      }

      border-radius: 1vw;
      width: 21px;
      height: 21px;
      display: inline-block;
      padding: 0 !important;
      border: none !important;

      &.glide__bullet.glide__bullet--active {
        background-color: #000 !important;
      }
    }
  }

  div[data-glide-el="controls"] {
    span {
      @media screen and (max-width: 1679px) {
        width: 1.2vw;
      }

      @media screen and (max-width: 430px) {
        width: 5vw;
      }

      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 20px;

      &:hover {
        cursor: pointer;
      }

      // width: 1.3vw;
      &.lt-arrow {
        left: 0%;
      }

      &.rt-arrow {
        right: 0%;
      }
    }
  }
}