@import "../../var.less";

@c2-2-h2-color: #fff;
@c2-2-h2-color-431: #fff;
@c2-2-h3-color: @c2-2-h2-color;
@c2-2-h3-color-431: @c2-2-h2-color-431;
@c2-2-p-text-align: center;
@c2-2-p-color: @c2-2-h2-color;
@c2-2-transform: translate(-50%, -50%);
@c2-2-top: 50%;
@c2-2-top-431: 149vw;
@c2-2-left: 50%;
@c2-2-cta-color: #fff;
@c2-2-cta-color-430: #fff;
@c2-2-cta-background: #47363D;
@c2-2-cta-background-430: #47363D;
@c2-2-cta-size: 203px;
@c2-2-cta-size-1679: 12vw;
@c2-2-cta-size-431: 43.5vw;
@c2-2-h2-font-family: @gilroyb !important;