@import "../../var.less";

@c2-2-h2-color: #fff;
@c2-2-h2-color-431: #fff;
@c2-2-h3-color: #fff;
@c2-2-h3-color-431: #fff;
@c2-2-p-text-align: center;
@c2-2-p-color: #fff;
@c2-2-transform: translate(-50%, -50%);
@c2-2-top: 50%;
@c2-2-top-431: 149vw;
@c2-2-left: 50%;
@c2-2-cta-color: #47363D;
@c2-2-cta-background: #fff;
@c2-2-cta-background-430: #fff;
@c2-2-cta-size: 288px;
@c2-2-cta-size-1679: 17vw;
@c2-2-cta-size-431: 67vw;
@c2-2-h2-font-family: @gilroyb !important;