@import "var.less";
@c1-font-color: #fff;
@c1-h2-color: #fff;
@c1-p-color: #fff;
@c1-cta-color: #fff;
@c1-cta-background: #405FA8;

.c1 {
  @media screen and (max-width: 431px) {
    padding: 0;
  }
  position: relative;
  width: 100%;

  div {
    &.the-content {
      @media screen and (max-width: 431px) {
        width: 100%;
        left: 0;
        top: 0;
        transform: translateX(0);

      }

      position: absolute;
      top: 47%;
      width: 30%;
      left: 6%;
      transform: translate(0);
      text-align: left;

      a,
      a,
      h2,
      p {
        // color: @c1-font-color;
        font-family: @souv;
        margin: 0 auto;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 5vw;
          // line-height: 4.2vw;
        }
        @media screen and (max-width: 431px) {
          line-height: 10vw;
          font-size: 10vw;
          text-align: center;
          margin: 7% 0 106%;

        }
        @media screen and (max-width:320px) {
          // margin: 4% 0 0;
        }

        // margin: 5% 0 0;
        text-transform: none;
        color: @c1-h2-color;
        // line-height: 70px;
        font-family: @souv;
        // font-family: @gilroyb;
        font-size: 80px;
        margin: 0;
        text-align:left;
        // letter-spacing: 0.25em;
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.4vw;
          line-height: 2vw;
        }

        @media screen and (max-width: 431px) {
          font-size: 4vw;
          line-height: 6vw;
          width: 100%;
          margin: 5% auto;
          text-shadow: none;
          color: @c1-p-color;
          display: none;
        }

        @media screen and (max-width: 320px) {
          // font-size: 15px;
          // line-height: 17px;
        }

        margin: 4% auto;
        color: #fff;
        text-transform: none;
        font-size: 22px;
        line-height: 33px;
        // letter-spacing: 1px;
        width: 100%;
        font-family: @souv;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        text-align:left;
      }

      div {
        @media screen and (max-width: 431px) {
          margin: 5% 0;
          text-align:center;
        }

        text-align: left;
        margin: 0 0 4%;

        a {
          @media screen and (max-width: 1679px) {
            width: 13.5vw;
          }

          @media screen and (max-width: 431px) {
            // width: 44%;
            // padding: 3.3% 2.5%;
            // margin: 93% 0 0;
            //color: @c1-h2-color;
            width: 42.5vw;
            // background:#568F73;
          }

          font-family: @gilroyb;
          color: @c1-cta-color;
          background: @c1-cta-background;
          width: 225px;

          &.cta1 {
            @media screen and (max-width: 431px) {
              left: -3%;
            }

            left: 0%;
          }

          &.cta2 {
            @media screen and (max-width: 431px) {
              left: 2%;
            }

            left: 4%;
          }

          &.cta3 {
            @media screen and (max-width: 431px) {}
          }
        }
      }
    }
  }
}