@import "var.less";
@c1-font-color: #fff;
@c1-h2-color: #DC6369;
@c1-p-color: #47363D;
@c1-cta-color: #fff;
@c1-cta-background: #E4BD3C;

.c1 {
  @media screen and (max-width: 428px) {
    display: flex;
    flex-wrap: wrap;
  }
  position: relative;
  width: 100%;

  & > a {
    @media screen and (max-width: 428px) {
      order: 2;
      padding: 7%;
    }
  }

  div {
    &.the-content {
      @media screen and (max-width: 428px) {
        width: 100%;
        left: 0;
        top: 0;
        transform: translateX(0);
        position: relative;
        order: 1;
      }
      position: absolute;
      top: 50%;
      width: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;

      a,
      a,
      h2,
      p {
        // color: @c1-font-color;
        font-family: @souv;
        margin: 0 auto;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 4.8vw;
          line-height: 4.8vw;
        }
        @media screen and (max-width: 428px) {
          // font-size: 9vw;
          // margin: 0;
          line-height: 11vw;
          font-size: 35px;
          color: @c1-h2-color;
          margin: 7% 0 0;
          // display: none;
        }
        @media screen and (max-width:320px) {
          margin: 4% 0 0;
        }
        // margin: 5% 0 0;
        text-transform: none;
        color: #fff;
        line-height: 76px;
        // font-family: @souv;
        font-family: @gilroyb;
        font-size: 70px;
        margin: 0;
        // letter-spacing: 0.25em;
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.4vw;
          line-height: 2vw;
        }
        @media screen and (max-width: 428px) {
          font-size: 18px;
          line-height: 24px;
          width: 100%;
          margin: 5% auto;
          text-shadow: none;
          color: @c1-p-color;
        }
        @media screen and (max-width: 320px) {
          font-size: 15px;
          line-height: 17px;
        }
        margin: 4% auto;
        color: #fff;
        text-transform: none;
        font-size: 22px;
        line-height: 32px;
        // letter-spacing: 1px;
        width: 100%;
        font-family: @gilroyr;
        // text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
      }

      div {
        @media screen and (max-width: 428px) {}
        text-align: center;
        margin: 0 0 2%;

        a {
          @media screen and (max-width: 1679px) {
            width: 13.5vw;
          }
          @media screen and (max-width: 428px) {
            // width: 44%;
            // padding: 3.3% 2.5%;
            // margin: 93% 0 0;
            //color: @c1-h2-color;
            width: 42.5vw;
            background:#568F73;
          }
          font-family: @gilroyb;
          color: @c1-cta-color;
          background: @c1-cta-background;
          width: 225px;

          &.cta1 {
            @media screen and (max-width: 428px) {}
            left: -1%;
          }

          &.cta2 {
            @media screen and (max-width: 428px) {}
            left: 1%;
          }

          &.cta3 {
            @media screen and (max-width: 428px) {}
          }
        }
      }
    }
  }
}