@import "var.less"; // @import "promo1.less";
@gb-font-color: #FFF;
@gb-cta-color: #444E7F;
@gb-background: #fff;

.give-back {
  @media screen and (max-width:414px) {
    padding: 10% 0;
  }
  position: relative;
  width: 100%;
  background: @gb-background;
  padding: 2% 0;

  div {
    a {
      color: @gb-cta-color;
      text-decoration: none;
    }

    &.mobile {
      text-align: center;

      div {
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 4%;

        a {}
      }
    }

    &.desktop {
      display: flex;
      justify-content: space-evenly;
    }
  }
}