@import "var.less";
@leggings-h2-color: #fff;
@leggings-cta1-color: #fff;
@leggings-cta1-background: #5B2246;
@leggings-cta2-color: #fff;
@leggings-cta2-background: #EF3C25;
@leggings-cta3-color: #fff;
@leggings-cta3-background: #EA94CD;
@leggings-cta4-color: #fff;
@leggings-cta4-background: #3862AA;
@leggings-cta5-color: #fff;
@leggings-cta5-background: #3862AA;
@leggings-cta6-color: #fff;
@leggings-cta6-background: #E8B2AB;

.leggings {
  @media screen and (max-width: 431px) {
   
  }
  position: relative;

  div {
    &.the-content {
      @media screen and (max-width: 1679px) {
      
      }

      @media screen and (max-width: 431px) {
        // display: block;
        // bottom: 8%;
        width:100%;
        // left:0;
        // top: 66%;
      }

      position: absolute;
      top: 50%;
      width: auto;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align:center;
      // display: flex;
      // align-items: center;
      // justify-content: center;

      h3 {
        @media screen and (max-width:431px){
          line-height: 4vw;
          margin: 0 0 6vw;
        }
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 2.5vw;
          // line-height: 5vw;
        }
        @media screen and (max-width:431px){
          font-size: 9vw;
          margin: 0 0 8%;
          text-align:center;
        }

        text-align: center;
        color: @leggings-h2-color;
        flex-basis: 39%;
        font-size: 44px;
        // line-height: 80px;
        font-family: @souv;
        margin: 0 0 8%;
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.3vw;
          line-height: 2vw;
        }
        @media screen and (max-width: 431px){
          margin: 0 0 8vw;
          font-size: 4vw;
          line-height: 8vw;
          display:none;
        }
        text-align: left;
        color: #fff;
        flex-basis: 60%;
        font-size: 22px;
        line-height: 33px;
        font-family: @souv;
        margin: 0 0 8%;
      }

      div {
        @media screen and (max-width:431px){
          text-align:center;
        }
        flex-basis: 39%;
        // text-align: left;

        a {
          @media screen and (max-width:1679px){
            width: 13vw;
          }
          @media screen and (max-width: 431px){
            width: 52vw;
          }
          background: @leggings-cta1-background;
          color: #fff;
          width: 222px;
        }
      }


    }
  }
}