@import "var.less"; // @import "promo1.less";
@na-font-color: #5777A7;
@na-h2-font-color: #A42E7C;
@na-cta-color: #444E7F;
@na-cta-background: #FDDED6;
@na-background: #FDDED6;

.new-arrivals {
  @media screen and (max-width:431px) {
    padding: 10% 0;
  }
  position: relative;
  width: 100%;
  // background: @na-background;
  background: @background;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 4%;

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 2.4vw;
      line-height: 4.8vw;
    }
    @media screen and (max-width: 431px) {
      // font-size: 9vw;
      // margin: 0;
      line-height: 11vw;
      font-size: 30px;
      // color: #B45A90;
      margin: 0 0 7%;
      // display: none;
    }
    @media screen and (max-width:320px) {
      margin: 4% 0 0;
    }
    // margin: 5% 0 0;
    text-transform: none;
    color: @na-h2-font-color;
    line-height: 76px;
    // font-family: @souv;
    font-family: @gilroyb;
    font-size: 40px;
    margin: 0 0 2%;
    flex-basis: 100%;
    letter-spacing: 0.2em;
  }

  div {
    &.first,
    &.fourth,
    &.second,
    &.third {
      @media screen and (max-width:431px) {
        flex-basis: 50% !important;
        margin: 0 0 7%;
      }
      flex-basis: 25%;

      .the-content {
        @media screen and (max-width: 431px) {
          padding: 0 7%;
        }
        position: relative;
        text-align: center;
        display: flex;
        padding: 0 16%;
        flex-wrap: wrap;
        align-items: baseline;

        div {
          @media screen and (max-width: 431px) {
            margin: 4% 0 0;
          }
          margin: 4% 0 0;
          text-align: center;
          flex-basis: 100%;

          a {
            @media screen and (max-width: 431px) {}
            font-family: @gilroyb;
            color: @na-cta-color;
            // background: @na-cta-background;
          }
        }
      }
    }
  }
}