@import "var.less";
@slideshow-font-color: #47363D;

@tiered-skirted-twirl-h2-color: #006A6D;
@tiered-skirted-twirl-cta-background: @tiered-skirted-twirl-h2-color;

@long-sleeve-h2-color: #C77853;
@long-sleeve-cta-background: @long-sleeve-h2-color;

@henley-h2-color: #C95D59;
@henley-cta-background: @henley-h2-color;

@wrap-neck-h2-color: #815366;
@wrap-neck-cta-background: @wrap-neck-h2-color;

@skirted-ballet-h2-color: #56718E;
@skirted-ballet-cta-background: @skirted-ballet-h2-color;

@slideshow-h3-color: @slideshow-font-color;

@slideshow-p-color: @slideshow-font-color;

@slideshow-cta-color: #fff;
@slideshow-cta-background: #F1FF50;

.slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;

  .glide__bullets {
    @media screen and (max-width: 431px) {
      bottom: 5vw;
    }

    bottom: 1vw;
    width: 100%;
    text-align: center;

    button {
      @media screen and (max-width: 431px){
        // background-color: #FA8180 !important;
      }
      background: #A36452 !important;

      &:hover, &.glide__bullet--active {
        @media screen and (max-width:431px){
          // background-color: #F1FF50 !important;
          border: none !important;
        }
        background: #4765A1 !important;
        border: none !important;
      }
    }
  }

  div {
    &.the-content {
      @media screen and (max-width: 431px) {
        width: 100%;
        left: 0;
        top: 11vw;
        transform: translateX(0);
      }

      top: 50%;
      width: auto;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      position: absolute;

      div {

        a {
          @media screen and (max-width: 1679px) {
            // width: 20.6vw;
          }

          @media screen and (max-width: 431px) {
            // width: 77vw;
          }

          // width: 346px;
          background: @tiered-skirted-twirl-cta-background;
          color: @slideshow-cta-color;
        }
      }


      &.tiered-skirted-twirl {
        @media screen and (max-width: 431px) {}

        h2 {

          color: @tiered-skirted-twirl-h2-color !important;
        }

        div {

          a {
            background: @tiered-skirted-twirl-cta-background;
            color: @slideshow-cta-color;
          }
        }
      }

      &.long-sleeve {
        @media screen and (max-width: 431px) {}

        h2 {

          color: @long-sleeve-h2-color !important;
        }

        div {

          a {
            background: @long-sleeve-cta-background;
            color: @slideshow-cta-color;
          }
        }
      }

      &.henley {
        @media screen and (max-width: 431px) {}


        h2 {

          color: @henley-h2-color !important;
        }

        div {

          a {
            background: @henley-cta-background;
            color: @slideshow-cta-color;
          }
        }
      }

      &.wrap-neck {
        @media screen and (max-width: 431px) {}


        h2 {

          color: @wrap-neck-h2-color !important;
        }

        div {

          a {
            background: @wrap-neck-cta-background;
            color: @slideshow-cta-color;
          }
        }
      }

      &.skirted-ballet {
        @media screen and (max-width: 431px) {}


        h2 {

          color: @skirted-ballet-h2-color !important;
        }

        div {

          a {
            background: @skirted-ballet-cta-background;
            color: @slideshow-cta-color;
          }
        }
      }

      a,
      h3,
      h2,
      p {}

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 2.6vw;
          line-height: 3vw;
        }

        @media screen and (max-width: 431px) {
          font-size: 10vw;
          line-height: 10vw;
          margin: 0 0 4vw;
        }

        @media screen and (max-width:320px) {
          // margin: 4% 0 0;
        }

        text-align: center;
        // letter-spacing: 4px;
        // text-transform: uppercase;
        color: @slideshow-font-color;
        font-size: 44px;
        line-height: 46px;
        font-family: @souv;
        margin: 0 0 1vw;
      }

      h3 {
        @media screen and (max-width: 1679px) {
          font-size: 1vw;
          // line-height: 2vw;
        }

        @media screen and (max-width: 431px) {
          font-size: 4vw;
          margin: 0 0 4vw;
        }

        color: @slideshow-h3-color;
        font-family: @gilroyb;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0 0 1vw;
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.3vw;
          line-height: 2vw;
        }

        @media screen and (max-width: 431px) {
          font-size: 4vw;
          line-height: 6vw;
          margin: 0 0 4vw;
        }

        text-align: center;
        margin: 10% auto;
        color: @slideshow-p-color;
        text-transform: none;
        font-size: 22px;
        line-height: 33px;
        width: 100%;
        font-family: @souv;
        // text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
      }

      div {
        @media screen and (max-width: 431px) {
          margin: 2vw 0 0;
        }

        a {
          @media screen and (max-width: 1679px) {
            // width: 23vw;
          }

          @media screen and (max-width: 431px) {
            // background: #F19C01;
            // width: 90vw;
          }

          font-family: @gilroyb;
          color: @slideshow-cta-color;
          background: @slideshow-cta-background;

          // width: 383px;
          &.cta1 {
            @media screen and (max-width: 431px) {}
          }

          &.cta2 {
            @media screen and (max-width: 431px) {}
          }

          &.cta3 {
            @media screen and (max-width: 431px) {}
          }

          &.cta4 {
            @media screen and (max-width: 431px) {}
          }

          &.cta5 {
            @media screen and (max-width: 1679px) {}

            @media screen and (max-width: 431px) {}
          }

          &.cta6 {
            @media screen and (max-width: 431px) {}
          }
        }
      }
    }
  }
}