@import "../var.less";

@henley-h2-color: #C95D59;
@henley-cta-background: @henley-h2-color;

&.henley {
    @media screen and (max-width: 431px) {}


    h2 {
        color: @henley-h2-color !important;
    }

    div {
        a {
            background: @henley-cta-background;
            color: @slideshow-cta-color;
        }
    }
}