@import "../var.less";

@poetic-ruffle-h2-color:  #282A2E;
@poetic-ruffle-cta-background: @poetic-ruffle-h2-color;

&.poetic-ruffle {
    @media screen and (max-width: 431px) {}

    h2 {
        color: @poetic-ruffle-h2-color !important;
    }

    div {
        a {
            background: @poetic-ruffle-cta-background;
            color: @slideshow-cta-color;
        }
    }
}