@import "../var.less";

@ruffle-sleeve-h2-color: #203056;
@ruffle-sleeve-cta-background: @ruffle-sleeve-h2-color;

&.ruffle-sleeve {
    @media screen and (max-width: 431px) {}

    h2 {
        color: @ruffle-sleeve-h2-color !important;
    }

    div {
        a {
            background: @ruffle-sleeve-cta-background;
            color: @slideshow-cta-color;
        }
    }
}