@import "../var.less";

@skirted-ballet-h2-color: #56718E;
@skirted-ballet-cta-background: @skirted-ballet-h2-color;

&.skirted-ballet {
    @media screen and (max-width: 431px) {}

    h2 {
        color: @skirted-ballet-h2-color !important;
    }

    div {
        a {
            background: @skirted-ballet-cta-background;
            color: @slideshow-cta-color;
        }
    }
}