@import "../var.less";

@sleeveless-ballet-h2-color: #2E64AB;
@sleeveless-ballet-cta-background: @sleeveless-ballet-h2-color;

&.sleeveless-ballet {
    @media screen and (max-width: 431px) {}


    h2 {
        color: @sleeveless-ballet-h2-color !important;
    }

    div {
        a {
            background: @sleeveless-ballet-cta-background;
            color: @slideshow-cta-color;
        }
    }
}