@import "../var.less";

@tie-shoulder-tiered-h2-color: #FDA00B;
@tie-shoulder-tiered-cta-background: @tie-shoulder-tiered-h2-color;

&.tie-shoulder-tiered {
    @media screen and (max-width: 431px) {}


    h2 {
        color: @tie-shoulder-tiered-h2-color !important;
    }

    div {
        a {
            background: @tie-shoulder-tiered-cta-background;
            color: @slideshow-cta-color;
        }
    }
}