@import "../var.less";

@trapeze-h2-color: #F28AAC;
@trapeze-cta-background: @trapeze-h2-color;

&.trapeze {
    @media screen and (max-width: 431px) {}


    h2 {
        color: @trapeze-h2-color !important;
    }

    div {
        a {
            background: @trapeze-cta-background;
            color: @slideshow-cta-color;
        }
    }
}