@import "../var.less";

@wrap_neck-h2-color: #008E70;
@wrap_neck-cta-background: @wrap_neck-h2-color;

&.wrap_neck {
    @media screen and (max-width: 431px) {}


    h2 {
        color: @wrap_neck-h2-color !important;
    }

    div {
        a {
            background: @wrap_neck-cta-background;
            color: @slideshow-cta-color;
        }
    }
}