@import "c2-slideshow-vars.less";

&.content-1 {
    @media screen and (max-width: 430px) {
        top: 11vw;
        width: 100%;
        left: 0;
        transform: translate(0);
    }

    top: @c2-1-top;
    width: auto;
    left: @c2-1-left;
    transform: @c2-1-transform;
    text-align: center;

    h3 {
        @media screen and (max-width: 430px) {
            margin: 0 0 5vw;
        }

        color: @c2-1-h3-color;
        text-shadow: none;
    }

    h2 {
        @media screen and (max-width: 430px) {
            line-height: 12vw;
        }

        color: @c2-1-h2-color;
        margin: 0;
        text-align: center;
        text-shadow: none;
    }

    p {
        text-align: @c2-1-p-text-align;
        text-shadow: none;
        color: @c2-1-p-color;

        &.seaside {
            @media screen and (max-width: 1679px) {
                font-size: 1.1vw;
                line-height: 1.8vw;
            }

            font-family: @gilroyb;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size:18px;
            line-height: 28px;
            margin:3vw 0 0;
        }

        i {
            font-style: normal;
            font-family: @souv;
            color: @c2-1-p-color;
            letter-spacing: 0;
            text-transform: none;
        }
    }

    div {
        @media screen and (max-width: 430px) {
            margin: 5vw 0 0;
        }

        a {
            @media screen and (max-width: 1679px) {
                // width: 14vw;
            }

            @media screen and (max-width: 430px) {
                // width: 54vw;
                // background: @c2-1-cta-color;
                // color: @c2-1-cta-background;
                width: 43.5vw;
            }

            // width: 288px;
            color: @c2-1-cta-color;
            background: @c2-1-cta-background;
        }
    }
}