@import "c2-slideshow-vars.less";


&.content-3 {
    @media screen and (max-width: 430px) {
        width: 100%;
        left: 0;
        top: 11vw;
        transform: translateX(0);
    }

    top: @c2-3-top;
    width: auto;
    left: @c2-3-left;
    transform: @c2-3-transform;
    text-align: center;

    h3 {
        color: @c2-3-h3-color;
    }

    h2 {
        color: @c2-3-h2-color;
        margin: 0;
        text-align: center;
    }

    p {
        color: @c2-3-p-color;
        text-align: @c2-3-p-text-align;
    }

    div {

        a {
            @media screen and (max-width: 1679px) {
                //   width: 22vw;
            }

            @media screen and (max-width: 430px) {
                // width: 61vw;
            }

            // width: 359px;
            color: @c2-3-cta-color;
            background: @c2-3-cta-background;
        }
    }
}