@import "../../var.less";

@c1-rewear-h2-font-family: @souv !important;
@c1-rewear-h2-color: #fff;
@c1-rewear-h2-color-430: #fff;
@c1-rewear-h2-font-size: 93px !important;
@c1-rewear-h2-font-size-430: 14vw !important;
@c1-rewear-h2-line-height: normal !important;
@c1-rewear-h2-line-height-430: 9vw !important;
@c1-rewear-h3-font-family: @gilroyb;
@c1-rewear-h3-font-size: 24px;
@c1-rewear-h3-font-size-1679: 1.4vw;
@c1-rewear-h3-font-size-430: 4.5vw !important;
@c1-rewear-h3-color: #fff;
@c1-rewear-h3-color-430: #fff;
@c1-rewear-h3-line-height-430: normal;
@c1-rewear-p-font-family: @gilroyr;
@c1-rewear-p-color: #47363D;
@c1-rewear-p-font-size-430: 4.6vw;
@c1-rewear-transform: translate(-50%, -50%) !important;
@c1-rewear-top: 50%;
@c1-rewear-left: 20%;
@c1-rewear-right: 8%;
@c1-rewear-width: 37%;
@c1-rewear-the-flex-430: 60vw;
@c1-rewear-cta-color: #fff;
@c1-rewear-cta-color-430: @c1-rewear-cta-color;
@c1-rewear-cta-background:  #47363D;
@c1-rewear-cta-background-430: @c1-rewear-cta-background;
// @c1-rewear-cta-size: 203px;
// @c1-rewear-cta-size-1679: 12vw;
// @c1-rewear-cta-size-430: 37.5vw;
@c1-rewear-cta-height-430: 7vw;

@c1-rewear-cta-size: 243px;
@c1-rewear-cta-size-1679: 14vw;
@c1-rewear-cta-size-430: 37.5vw;