@import 'var.less';

.c2 {
  @media screen and (max-width:428px) {}
  background: @color1;
  text-align: center;
  padding: 5% 0;

  h2 {
    @media screen and (max-width: 1679px) {}
    @media screen and (max-width:428px) {}
  }

  p {}

  a {
    @media screen and (max-width: 1679px) {
      width: 22.6vw;
    }
    @media screen and (max-width:428px) {
      width: 65.6vw;
    }
    background: @color3;
    color: @color1;
    width: 380px;
  }
}