@import "../var.less";
@c1-font-color: #fff;
@c1-h2-color: #fff;
@c1-h3-color: #fff;
@c1-p-color: #fff;
@c1-cta-color: #fff;
@c1-cta-background: #2967B0;

@c1-bullets-color: #fff;
@c1-bullets-color-hover: #2967B0;

@c1-promo-h2-color: #F1FF50;
@c1-promo-h3-color: #fff;
@c1-promo-top: 46%;
@c1-promo-left: 6%;
@c1-promo-cta-color: #fff;
@c1-promo-cta-background: #044E72;
@c1-promo-cta-size: 288px;
@c1-promo-cta-size-1679: 17vw;
@c1-promo-cta-size-431: 67vw;

@c1-1-h2-color: #2967B0;
@c1-1-h3-color: #fff;
@c1-1-top: 33%;
@c1-1-left: 6%;
@c1-1-cta-color: #fff;
@c1-1-cta-background: #2967B0;
@c1-1-cta-size: 203px;
@c1-1-cta-size-1679: 12vw;
@c1-1-cta-size-431: 43.5vw;

@c1-2-h2-color: #fff;
@c1-2-h3-color: #fff;
@c1-2-top: 46%;
@c1-2-left: 6%;
@c1-2-cta-color: #fff;
@c1-2-cta-background: @c1-1-cta-background;
@c1-2-cta-size: 288px;
@c1-2-cta-size-1679: 17vw;
@c1-2-cta-size-431: 67vw;

@c1-3-h2-color: #F1FF50;
@c1-3-h3-color: #fff;
@c1-3-top: 46%;
@c1-3-left: 6%;
@c1-3-cta-color: #fff;
@c1-3-cta-background: @c1-1-cta-background;
@c1-3-cta-size: 288px;
@c1-3-cta-size-1679: 17vw;
@c1-3-cta-size-431: 67vw;

@c1-4-h2-color: #2967B0;
@c1-4-h3-color: #fff;
@c1-4-top: 46%;
@c1-4-left: 6%;
@c1-4-cta-color: #fff;
@c1-4-cta-background: #2967B0;
@c1-4-cta-size: 288px;
@c1-4-cta-size-1679: 17vw;
@c1-4-cta-size-431: 67vw;

@c1-5-h2-color: #fff;
@c1-5-h3-color: #fff;
@c1-5-top: 46%;
@c1-5-left: 6%;
@c1-5-cta-color: #fff;
@c1-5-cta-background: #99B6D6;
@c1-5-cta-size: 288px;
@c1-5-cta-size-1679: 17vw;
@c1-5-cta-size-431: 67vw;
