@import "c1-slideshow-vars.less";

&.content-4 {
    @media screen and (max-width: 430px) {
        width: 100%;
        left: 0;
        top: 11vw;
        transform: translateX(0);
    }

    top: @c1-4-top;
    left: @c1-4-left;
    width: 30%;
    transform: @c1-4-transform;
    text-align: center;

    h3 {
        @media screen and (max-width: 430px) {
            font-size: 4vw !important;
        }

        color: @c1-4-h3-color;
        text-align: center;
        text-shadow: none;
    }

    h2 {
        @media screen and (max-width: 430px) {
            font-size: 12vw !important;
            line-height: 12vw !important;
            margin: 3% 0 0 !important;
        }

        color: @c1-4-h2-color;
        text-align: center;
        font-family: @c1-4-h2-font-family;
        text-shadow: none;
    }

    p {
        text-align: center;
        text-shadow: none;
        color: @c1-4-p-color;
    }

    div {
        @media screen and (max-width: 430px) {
            top: @c1-4-the-flex-top-430;
        }

        width: auto;
        // margin: auto;
        justify-content: center;

        a {
            @media screen and (max-width: 1679px) {
                width: @c1-4-cta-size-1679;
            }

            @media screen and (max-width: 430px) {
                width: @c1-4-cta-size-430;
            }

            color: @c1-4-cta-color;
            background: @c1-4-cta-background;
            width: @c1-4-cta-size;
        }
    }
}