@import "c1-slideshow-vars.less";

&.content-1 {
    @media screen and (max-width: 430px) {
        top: 11vw;
        width: 100%;
        left: 0;
        transform: translate(0);
    }

    top: @c1-1-top;
    // left: @c1-1-left;
    right: @c1-1-right;
    width: auto;
    // transform: translate(0%, -50%);
    text-align: center;

    h3 {
        @media screen and (max-width: 430px) {
            color: @c1-1-h3-color-431;
        }

        color: @c1-1-h3-color;
    }

    h2 {
        @media screen and (max-width: 430px) {
            color: @c1-1-h2-color-431;
        }

        color: @c1-1-h2-color;
    }

    img {
        @media screen and (max-width: 1679px) {
            width: 36vw;
        }
        @media screen and (max-width: 430px) {
            width: 83vw;
        }
        width: 607px;
    }

    p {
        color: @c1-1-p-color;
        text-align: center;
        margin: 8% auto;
    }

    div {
        a {
            @media screen and (max-width: 1679px) {
                width: @c1-1-cta-size-1679;
            }

            @media screen and (max-width: 430px) {
                width: @c1-1-cta-size-431;
            }

            color: @c1-1-cta-color;
            background: @c1-1-cta-background;
            width: @c1-1-cta-size;
        }
    }
}