@import "c1-slideshow-vars.less";

&.content-1 {
    @media screen and (max-width: 430px) {
        top: 11vw;
        width: 100%;
        left: 0;
        transform: translate(0);
    }

    top: @c1-1-top;
    left: @c1-1-left;
    // right: @c1-1-right;
    width: @c1-1-width;
    transform: @c1-1-transform;
    text-align: center;

    h3 {
        @media screen and (max-width: 430px) {
            color: @c1-1-h3-color-431;
            line-height: @c1-1-h3-line-height-430;
        }

        color: @c1-1-h3-color;
        text-shadow: none;
    }

    h2 {
        @media screen and (max-width: 430px) {
            color: @c1-1-h2-color-431;
        }

        color: @c1-1-h2-color;
        font-family: @c1-1-h2-font-family;
        text-shadow: none;
    }

    img {
        @media screen and (max-width: 1679px) {
            width: 36vw;
        }

        @media screen and (max-width: 430px) {
            width: 83vw;
        }

        width: 607px;
    }

    p {
        color: @c1-1-p-color;
        text-align: center;
        margin: 8% auto;
        text-shadow: none;
    }

    div {
        @media screen and (max-width: 430px) {
            top: @c1-1-the-flex-top-431;
        }
        justify-content: center;
        width: auto;

        a {
            @media screen and (max-width: 1679px) {
                width: @c1-1-cta-size-1679;
            }

            @media screen and (max-width: 430px) {
                width: @c1-1-cta-size-431;
                height: @c1-1-cta-height-431;
            }

            color: @c1-1-cta-color;
            background: @c1-1-cta-background;
            width: @c1-1-cta-size;
        }
    }
}