@import "c1-slideshow-vars.less";

&.content-5 {
    @media screen and (max-width: 430px) {
        top: 11vw;
        width: 100%;
        left: 0;
        transform: translate(0);
    }

    top: @c1-5-top;
    left: @c1-5-left;
    width: @c1-5-width;
    transform: @c1-5-transform;
    text-align: center;

    h3 {
        @media screen and (max-width: 1679px) {
            font-size: @c1-5-h3-font-size-1679;
            letter-spacing: @c1-5-h3-letter-spacing-1679;
        }

        @media screen and (max-width: 430px) {
            margin: 0 0 4vw !important;
        }

        color: @c1-5-h3-color;
        margin: 0 0 1.5vw;
        text-shadow: @c1-5-text-shadow;
        font-size: @c1-5-h3-font-size;
        letter-spacing: @c1-5-h3-letter-spacing;

        &.shop-tea-at {
            @media screen and (max-width: 1679px) {
                font-size: 2.4vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 6.5vw !important;
            }

            text-transform: capitalize;
            letter-spacing: 0;
            font-size: 40px;
            line-height: normal;
        }

        // &:last-of-type {
        //     @media screen and (max-width: 430px) {
        //         position: absolute;
        //         left: 50%;
        //         transform: translate(-50%, 0);
        //         width: 100%;
        //         top: @c1-5-h3-top-430;
        //     }
        // }
    }

    h2 {
        @media screen and (max-width: 430px) {
            // letter-spacing: 0;
            line-height: 14vw !important;
            font-size: 12vw !important;
            margin: 0 0 8vw !important;
        }

        color: @c1-5-h2-color;
        // text-transform:capitalize;
        letter-spacing: 0;
        font-family: @c1-5-h2-font-family;
        text-shadow: @c1-5-text-shadow;
        margin: 0 0 1.5vw;


        span {
            @media screen and (max-width: 430px) {
                letter-spacing: 3vw;
            }

            letter-spacing: 1vw;
        }
    }

    p {
        color: @c1-5-p-color;
        text-shadow: @c1-5-text-shadow;
    }

    div {

        &.the-flex {
            @media screen and (max-width: 430px) {
                top: @c1-5-the-flex-top-430;
            }

            margin: 2vw 0 0;
            width: 100%;
            text-align: center;
            justify-content: center;
        }

        a {
            @media screen and (max-width: 1679px) {
                width: @c1-5-cta-size-1679;
            }

            @media screen and (max-width: 430px) {
                width: @c1-5-cta-size-431;
            }

            color: @c1-5-cta-color;
            background: @c1-5-cta-background;
            width: @c1-5-cta-size;
        }
    }
}