@import "../var.less";
@c1-font-color: #fff;
@c1-h2-color: #fff;
@c1-h3-color: #fff;
@c1-p-color: #fff;
@c1-cta-color: #fff;
@c1-cta-background: #2967B0;

@c1-bullets-color: #fff;
@c1-bullets-color-hover: #47363D;

@c1-promo-h2-font-family: @souv;
@c1-promo-h2-color: #fff;
@c1-promo-h2-color-431: #fff;
@c1-promo-h2-font-size-431: 19vw; 
@c1-promo-h2-line-height-431: 9vw !important; 
@c1-promo-h3-color: #fff;
@c1-promo-h3-color-431: @c1-promo-h3-color;
@c1-promo-h3-line-height-431: 5vw;
@c1-promo-transform: translate(-50%, 0%) !important;
@c1-promo-top: 57%;
@c1-promo-left: 50%;
@c1-promo-right: 8%;
@c1-promo-top-431: 9vw;
@c1-promo-cta-color: #fff;
@c1-promo-cta-color-431: @c1-promo-cta-color;
@c1-promo-cta-background: #A18CBA;
@c1-promo-cta-background-431: @c1-promo-cta-background;
@c1-promo-cta-size: 203px;
@c1-promo-cta-size-1679: 12vw;
@c1-promo-cta-size-431: 43.5vw;

@c1-promo-2-h2-color: #47363D;
@c1-promo-2-h2-color-431: #47363D;
@c1-promo-2-h3-color: #47363D;
@c1-promo-2-h3-color-431: #47363D;
@c1-promo-2-top: 50%;
@c1-promo-2-top-431: 149vw;
@c1-promo-2-left: 50%;
@c1-promo-2-cta-color: #fff;
@c1-promo-2-cta-background: #EC5152;
@c1-promo-2-cta-size: 288px;
@c1-promo-2-cta-size-1679: 17vw;
@c1-promo-2-cta-size-431: 67vw;

/*
@c1-promo-2-h2-color: #fff;
@c1-promo-2-h2-font-size-1679: 4vw !important;
@c1-promo-2-h2-font-size-431: 10vw !important;
@c1-promo-2-h2-color-431: @c1-promo-2-h2-color;
@c1-promo-2-h3-color: @c1-promo-2-h2-color;
@c1-promo-2-h3-color-431: @c1-promo-2-h2-color;
@c1-promo-2-p-color: @c1-promo-2-h2-color;
@c1-promo-2-top: 36%;
@c1-promo-2-left: 50%;
@c1-promo-2-right: 10%;
@c1-promo-2-cta-color: #B3824F;
@c1-promo-2-cta-background: @c1-promo-2-h2-color;
@c1-promo-2-cta-size: 203px;
@c1-promo-2-cta-size-1679: 12vw;
@c1-promo-2-cta-size-431: 43.5vw;
*/

@c1-1-h2-color: #fff;
@c1-1-h2-color-431: #fff;
@c1-1-h3-color: #fff;
@c1-1-h3-color-431: #fff;
@c1-1-p-color: #fff;
@c1-1-top: 25%;
@c1-1-left: 6%;
@c1-1-right: 11%;
@c1-1-cta-color: #fff;
@c1-1-cta-background: #F34F5D;
@c1-1-cta-size: 203px;
@c1-1-cta-size-1679: 12vw;
@c1-1-cta-size-431: 43.5vw;

@c1-2-h2-color: #47363D;
@c1-2-h2-color-431: #47363D;
@c1-2-h3-color: #47363D;
@c1-2-h3-color-431: #47363D;
@c1-2-top: 50%;
@c1-2-top-431: 149vw;
@c1-2-left: 50%;
@c1-2-cta-color: #fff;
@c1-2-cta-background: #EC5152;
@c1-2-cta-size: 288px;
@c1-2-cta-size-1679: 17vw;
@c1-2-cta-size-431: 67vw;

@c1-3-h2-color: #fff;
@c1-3-h3-color: #fff;
@c1-3-top: 50%;
@c1-3-top-431: 128vw;
@c1-3-left: 50%;
@c1-3-cta-color: #fff;
@c1-3-cta-background: #BD9251;
@c1-3-cta-size: 288px;
@c1-3-cta-size-1679: 17vw;
@c1-3-cta-size-431: 67vw;

@c1-4-h2-color: #fff;
@c1-4-h3-color: #fff;
@c1-4-top: 50%;
@c1-4-top-431: 138vw;
@c1-4-left: 50%;
@c1-4-cta-color: #fff;
@c1-4-cta-background: #577193;
@c1-4-cta-size: 288px;
@c1-4-cta-size-1679: 17vw;
@c1-4-cta-size-431: 67vw;

@c1-5-h2-color: #fff;
@c1-5-h3-color: #fff;
@c1-5-top: 50%;
@c1-5-left: 1%;
@c1-5-cta-color: #fff;
@c1-5-cta-background: #EC5152;
@c1-5-cta-size: 203px;
@c1-5-cta-size-1679: 12vw;
@c1-5-cta-size-431: 43.5vw;
