.the-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
}

.signup {
  box-sizing: border-box;
  background: #436FC1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup #close-icon2 {
  width: 50px;
  position: absolute;
  right: 6.5%;
  top: 4.5%;
}

@media screen and (max-width:1679px) {
  .signup #close-icon2 {
    width: 3vw;
  }
}

.signup #close-icon2:hover {
  cursor: pointer;
}

.signup h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 4px;
  margin: 0 0 4%;
  color: #FFAC98;
}

@media screen and (max-width:1679px) {
  .signup h4 {
    font-size: 1.1vw;
    line-height: 1.4vw;
  }
}

.signup h2 {
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 4px;
  color: #E8E511;
  margin: 0 0 4%;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width:1679px) {
  .signup h2 {
    font-size: 2.5vw;
    line-height: 3vw;
  }
}

.signup h2 span {
  font-size: 18px;
}

@media screen and (max-width:1679px) {
  .signup h2 span {
    font-size: 1.1vw;
  }
}

.signup p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #F9EBE6;
}

@media screen and (max-width:1679px) {
  .signup p {
    font-size: 1vw;
    line-height: 1.6vw;
  }
}

.signup p.sending {
  color: #F9EBE6;
  text-transform: uppercase;
  font-family: gilroy-bold;
  font-size: 1rem;
  display: none;
  text-align: center;
}

.signup .form button,.signup .form input,.signup .form label {
  display: block;
}

.signup .form label {
  text-transform: capitalize;
  color: #F9EBE6;
  font-family: gilroy-regular;
}

@media screen and (max-width:1679px) {
  .signup .form label {
    font-size: 1vw;
  }
}

.signup .form .error {
  display: none;
  color: red;
  font-family: gilroy-bold;
}

.signup .form input {
  width: 100%;
  height: 54px;
  padding: 0 0 0 3%;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1px;
  margin: 4% 0 0;
  background: #F9EBE6;
  color: #436FC1;
  font-family: gilroy-bold;
  border-radius: 0;
  -webkit-appearance: none;
}

@media screen and (max-width:1679px) {
  .signup .form input {
    font-size: 1vw;
    height: 3.2vw;
  }
}

.signup .form button {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 4px;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 0 0;
  padding: 0 !important;
  border: 2px solid #FFAC98;
  background: none;
  color: #FFAC98;
}

@media screen and (max-width:1679px) {
  .signup .form button {
    font-size: 1vw;
    height: 3.2vw;
  }
}

.signup .form button:active,.signup .form button:hover {
  background: #FFAC98;
  border-color: #FFAC98;
  color: #436FC1;
}

.signup .thanks {
  display: none;
}

.signup .thanks h2 {
  font-size: 50px;
  line-height: 56px;
  letter-spacing: 4px;
}

@media screen and (max-width:1679px) {
  .signup .thanks h2 {
    font-size: 3vw;
    line-height: 3.2vw;
  }
}

.signup .thanks h2 span {
  font-size: 18px;
}

@media screen and (max-width:1679px) {
  .signup .thanks h2 span {
    font-size: 1.1vw;
  }
}

.signup .thanks p {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4px;
  font-family: gilroy-bold;
  color: #FFAC98;
}

@media screen and (max-width:1679px) {
  .signup .thanks p {
    font-size: 1.3vw;
    line-height: 2vw;
  }
}