@red: #be1d22;

.customer-service-2 {
	font-size: 1rem;

	a {}

	ul {
		padding: 0 0 0 1rem;

		li {
			margin-bottom: 10px;
		}
	}

	h2 {}

	h3 {}

	h4 {}

	p {}
}

.shipping-tables {
	width: 100%;

	td,
	th {
		@media screen and (max-width:414px) {
			padding: 0;
			text-align: center;
		}
		border: 1px solid #000;
		padding: 1rem;

		&.holiday {
			color: @red;
		}

		span {}
	}
}