@import "../var.less";

@c6-school-days-h2-font-family: @souv !important;
@c6-school-days-h2-color: #47363D;
@c6-school-days-h2-color-430: #47363D;
@c6-school-days-h2-font-size: 80px !important;
@c6-school-days-h2-font-size-430: 10vw !important;
@c6-school-days-h2-line-height: normal !important;
@c6-school-days-h2-line-height-430: 11vw !important;
@c6-school-days-h3-font-size: 31px;
@c6-school-days-h3-font-size-1679: 1.4vw;
@c6-school-days-h3-font-size-430: 4.5vw !important;
@c6-school-days-h3-color: #833F30;
@c6-school-days-h3-color-430: #833F30;
@c6-school-days-h3-line-height-430: normal;
@c6-school-days-p-color: #47363D;
@c6-school-days-p-font-size-430: 4.6vw;
@c6-school-days-transform: translate(-50%, -50%) !important;
@c6-school-days-top: 50%;
@c6-school-days-top-430: 4vw !important;
@c6-school-days-left: 50%;
@c6-school-days-right: 8%;
@c6-school-days-width: 50%;
@c6-school-days-the-flex-430: 131vw;
@c6-school-days-cta-color: #fff;;
@c6-school-days-cta-color-430: @c6-school-days-cta-color;
@c6-school-days-cta-background:  #47363D;
@c6-school-days-cta-background-430: @c6-school-days-cta-background;
@c6-school-days-cta-size: 203px;
@c6-school-days-cta-size-1679: 12vw;
@c6-school-days-cta-size-430: 37.5vw;
@c6-school-days-cta-height-430: 7vw;