@import "../var.less";
@c3-font-color: #fff;
@c3-cta-color: #fff;
@c3-cta-background: #373A49;


.c3 {
    @media screen and (max-width: 430px) {
        flex-wrap: wrap;
        // background: #E8C3CA;
        padding: 0 0 1vw;
    }

    padding: 0;
    text-align: center;
    position:relative;

    // flex-wrap: wrap;
    div {
        @media screen and (max-width:1679px) {
            // padding: 1vw;
        }

        @media screen and (max-width:430px) {
            padding: 0;
        }

        text-align: center;
        box-sizing: border-box;
        flex-basis: 34%;
        // flex-basis: 50%;
        padding: 0 1vw;
        position: relative;

        a {
            text-decoration: none;
        }

        h2 {
            @media screen and (max-width: 1679px) {
              font-size: 3vw;
              // line-height: 4vw;
            }
    
            @media screen and (max-width:430px) {
              font-size: 7vw;
              margin: 4vw 0;
            }
    
            font-family: @gilroybl;
            font-size: 50px;
            line-height: normal;
            letter-spacing: 10px;
            color: @c3-font-color;
            margin: 1vw 0;
            text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
            text-align: center;
            text-transform: uppercase;
          }

        &.the-content {
            @media screen and (max-width: 430px) {
                width: 100%;
                // margin: 10% 0 0 !important;
                top: 76%;
            }

            margin: 0;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: auto;

            h2 {
                @media screen and (max-width: 1679px) {}

                @media screen and (max-width:430px) {}
            }

            div {
                @media screen and (max-width: 430px) {
                    // display: flex;
                    // flex-wrap: wrap;
                    // justify-content: center;
                    // margin: 110% 0 0;
                }

                @media screen and (max-width: 376px) {
                    // margin: 92% 0 0;
                }

                margin: 0;

                a {
                    @media screen and (max-width:1679px) {
                        width: 23vw;
                    }

                    @media screen and(max-width: 430px) {
                        width: 84vw;
                    }

                    background: @c3-cta-background;
                    color: @c3-cta-color;
                    // width: 323px;
                    width: 380px;
                }
            }
        }

    }
}