@import "../var.less";
@c3-first-font-color: #fff;
@c3-first-cta-color: #fff;
@c3-first-cta-background: #4261A6;
@c3-second-font-color: #FFF;
@c3-second-cta-color: #fff;
@c3-second-cta-background: #2CAC96;
@c3-third-font-color: #fff;
@c3-third-cta-color: #fff;
@c3-third-cta-background: #24624F;

.c3 {
  @media screen and (max-width: 430px) {
    flex-wrap: wrap;
    // background: #E8C3CA;
    padding: 0;
  }

  display: flex;
  padding: 0;
  text-align: center;

  // flex-wrap: wrap;
  div {

    &.first,
    &.second,
    &.third {
      @media screen and (max-width:1679px) {
        padding: 1vw;
      }

      text-align: center;
      box-sizing: border-box;
      flex-basis: 34%;
      // flex-basis: 50%;
      padding: 0 1vw;
      position: relative;

      a {
        text-decoration: none;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 3.3vw;
          line-height: 4vw;
        }

        @media screen and (max-width:430px) {
          font-size: 8.5vw;
          line-height: 10.5vw;
        }

        font-family: @gilroyb;
        font-size: 54px;
        line-height: 54px;
        // letter-spacing: 0.1rem;
        color: @c3-first-font-color;
        margin: 0 0 7%;
        text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
        text-align:left;
      }

      .the-content {
        @media screen and (max-width: 430px) {
          margin: 10% 0 0 !important;
          bottom: 7%;
        }

        margin: 0;
        position: absolute;
        bottom: 16%;
        width: 100%;

        h2 {
          @media screen and (max-width: 1679px) {}

          @media screen and (max-width:430px) {}
        }

        div {
          @media screen and (max-width: 430px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 110% 0 0;
          }

          @media screen and (max-width: 376px) {
            margin: 92% 0 0;
          }

          margin: 0;

          a {
            @media screen and (max-width:1679px) {}

            @media screen and(max-width: 430px) {}

            // left: -2vw;
          }
        }
      }
    }

    &.first {
      @media screen and (max-width: 430px) {
        // padding: 10% 0 0;
        // background: #FDF5F2;
        position: relative;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        padding: 6vw;
      }

      flex-basis: 50%;
      padding: 2.4vw;
      // order: 2;


      .the-content {
        // @media screen and (max-width: 835px) {
        //   bottom: 30%;
        // }

        @media screen and (max-width: 430px) {
          left: 0;
          width: 100%;
          top: 64%;
        }

        top: 11%;
        width: auto;
        text-align:left;
        left: 12%;

        h2 {
          @media screen and (max-width: 430px) {
            margin: 0 0 4%;
            text-align: center;
          }

          @media screen and (max-width: 375px) {
            // width: 100%;
          }

          @media screen and (max-width: 321px) {
            // margin: 22% 0 3%;
          }

          color: @c3-first-font-color;
        }

        div {
          @media screen and (max-width: 430px) {
            margin: 0;
          }

          @media screen and (max-width: 375px) {}

          a {
            @media screen and (max-width:1679px) {
              // width: 19vw;
            }

            @media screen and (max-width: 430px) {
              // width: 73vw;
            }

            color: @c3-first-cta-color;
            background: @c3-first-cta-background;
            // width: 313px;
            // margin: 0 0 20%;

          }
        }
      }
    }

    &.second {
      @media screen and (max-width: 430px) {
        padding: 0 6vw 6vw;
      }

      flex-basis:50%;
      padding: 3vw;
      display:flex;
      flex-wrap:wrap;
      // order: 1;

      .thumb-grid.item {
        width: 50%;

        .img {
          @media screen and (max-width: 821px) {
            width: 73%;
          }
          @media screen and (max-width: 430px) {
            width: 100%;
          }
        }

        .size {
          text-align: left;

          .thumb-sizes {
            display: block;
          }
        }
      }

      h2 {
        @media screen and (max-width:430px) {}

        color: @c3-second-font-color;
      }

      .the-content {
        @media screen and (max-width: 430px) {}

        div {
          @media screen and (max-width: 430px) {
            margin: 0;
          }

          a {
            @media screen and (max-width:1679px) {
              // width: 17vw;
            }

            @media screen and (max-width: 430px) {
              // width: 68vw;
            }

            color: @c3-second-cta-color;
            background: @c3-second-cta-background;
            // width: 290px;

          }
        }
      }
    }

    &.third {
      @media screen and (max-width: 430px) {
        background: @background;
      }

      .the-content {
        @media screen and (max-width: 430px) {}

        h2 {
          color: @c3-third-font-color;
        }

        div {
          @media screen and (max-width: 430px) {
            margin: 5% 0 0;
          }

          a {
            color: @c3-third-cta-color;
            background: @c3-third-cta-background;

          }
        }
      }
    }
  }
}