.mobile {
    @media screen and (max-width: 414px) {
        display: block;
    }

    display: none;
}

.desktop {
    @media screen and (max-width: 414px) {
        display: none;
    }
}


.sale-container {
    .sale-subs {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        padding: 1% 0;

        li {
            @media screen and (max-width: 414px) {
                flex-basis: 33%;
                margin: 0 0 3%;
            }

            flex-basis: 15%;
            text-align:center;

            a {
                font-family: gilroy-bold;
            }

        }
    }

}

// .main-title {
// 	display:none;
// }