.babylist {
  color: #47363D;
  padding: 0;
  font-family: 'Gilroy-Bold';
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3% 0 0;
  padding: 1rem;
  box-sizing: border-box;
  flex-basis: 100%;
  display: none;
  border: 2px solid #47363D;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.babylist:hover {
  background-color: #75686D;
  color: #fff;
}