@import "var.less";

.hp {
  background: #fff;

  sub {
    top: -.25em;
  }

  video {
    max-width: 100%;
  }

  .these-promos {
    @media screen and (max-width: 430px) {
      flex-wrap: wrap;
    }

    display:flex;
  }

  .the-sliders {
    // display:none;
  }

  .c1,
  .c2,
  .c2-slideshow,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8,
  .graphics,
  .promo1-skinny,
  .promo2-skinny,
  .promo1,
  .promo2,
  .promo3,
  .promos-2-cell,
  .refer-friend,
  .rewear,
  .shop-slideshow,
  .shop-slideshow2,
  .shop-slideshow3,
  .why-tea {
    @media screen and (max-width: 1679px) {
      // min-height: 58vw;
    }

    @media screen and (max-width: 430px) {
      // min-height: 237vw;
    }

    // visibility: hidden;
    opacity: 0;
    transition: all 1s;
    // min-height: 800px;
  }

  .first,
  .second {
    @media screen and (max-width: 430px) {
      flex-basis: 100% !important;
    }

    flex-basis: 50%;
  }

  .third {
    @media screen and (max-width: 430px) {
      flex-basis: 100% !important;
    }

    flex-basis: 33%;
  }

  .fourth {
    @media screen and (max-width: 430px) {
      flex-basis: 100% !important;
    }

    flex-basis: 24%;
  }

  h2,
  h3,
  p {
    margin: 0;
  }

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 3.1vw;
      line-height: 3.6vw;
    }

    @media screen and (max-width: 430px) {
      font-size: 7.7vw;
    }

    font-family: @souv;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    // letter-spacing: 0.01em;
    // text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
    color: #FFFFFF;
  }

  h3 {
    @media screen and (max-width: 1679px) {
      font-size: 1.2vw;
      line-height: 1.6vw;
    }

    @media screen and (max-width: 430px) {
      font-size: 3.6vw;
    }

    font-family: @gilroyb;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  p {
    @media screen and (max-width: 1679px) {
      font-size: 1.1vw;
      line-height: 1.3vw;
      // letter-spacing: 0.6vw;
    }

    // @media screen and (max-width: 810px) {
    //   font-size: 2.9vw;
    //   line-height: 4.1vw;
    // }
    @media screen and (max-width: 430px) {
      // font-size: 4vw !important;
      // line-height: 6vw !important;
    }

    font-family: @souv;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    // letter-spacing: 0.01em;
    color: #FFFFFF;
  }

  // @import "promos/promo1-skinny.less";
  @import "promos/promo2-skinny.less";
  // @import "promos/promos-2-cell.less";
  // @import "promos/promo1.less";
  // @import "promos/promo2.less";
  // @import "promos/promo3.less";

  // @import "c1/c1.less";
  @import "c1-slideshow/c1-slideshow.less";

  // @import "c2/c2.less";
  @import "c2/c2-full.less";
  // @import "c2-slideshow/c2-slideshow.less";

  @import "c3/c3.less";

  @import "c4/c4.less";
  // @import "c4/c4-full.less";

  // @import "c5/c5.less";
  @import "c5/c5-6-columns.less";

  // @import "c6/c6.less";
  @import "c6/c6-full.less";

  @import "graphics/graphics.less";

  // @import "refer-friend/refer-friend.less";
  // @import "rewear/rewear.less";

  // @import "c8/c8.less";
  // @import "c8/c8-full.less";

  @import "c7/c7.less";

  @import "glide/glide.less";

  @import "shop-slideshow/shop-slideshow.less";
  // @import "shop-slideshow2/shop-slideshow2.less";
  // @import "shop-slideshow3/shop-slideshow3.less";

  @import "why-tea/why-tea.less";

}