@souv: souvenirstd-light;
@gilroyb: gilroy-bold;
@gilroybl: gilroy-black;
@master: 'MasterWorks';
@kalakala: 'Kalakala';
@kindnessr: 'KindnessMatters-Regular';
@kindnesss: 'KindnessMattersSolid';
@analogue: 'hv_analogueregular';
@dumpling: 'TAYDumpling';
@birdie: 'tay_birdieregular';
@milkbar:  'tay_milkbarregular';
@gilroyr: gilroy-regular;
@color: #0959A3;
@background: #FDF5F2;
@text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);