.thanks {
  display: none;
  // padding: 29% 0 19%;
  h2 {
    @media screen and (max-width:1679px) {
      font-size: 3vw;
      line-height: 3.2vw;
      // letter-spacing: 0.2vw;
    }
    @media screen and (max-width:1024px) {
      // font-size: 5vw;
      // line-height: 5vw;
    }
    @media screen and (max-width:810px) {
      // font-size: 7vw;
      // line-height: 7vw;
    }
    @media screen and (max-width:428px) {
      // font-size: 10vw;
      // line-height: 11vw;
    }
    font-size: 50px;
    line-height: 56px;
    letter-spacing: 4px;

    span {
      @media screen and (max-width:1679px) {
        font-size: 1.1vw;
      }
      font-size: 18px;
    }
  }

  p {
    @media screen and (max-width:1679px) {
      font-size: 1.3vw;
      line-height: 2vw;
    }
    @media screen and (max-width:1024px) {
      // font-size: 2.1vw;
      // line-height: 3vw;
      // margin: 3% auto 0;
    }
    @media screen and (max-width:810px) {
      // font-size: 3vw;
      // line-height: 4vw;
    }
    @media screen and (max-width:428px) {
      // font-size: 4vw;
      // line-height: 5vw;
    }
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 4px;
    font-family: gilroy-bold;
    color: #FFAC98;
    // width: 55%;
    // margin: 2% auto 0;
  }
}