@import "../var.less";

@c1-font-color: #fff;
@c1-h2-color: #fff;
@c1-h2-color-430: #fff;
@c1-h2-font-family: @crumb;
@c1-h3-color: #52646B;
@c1-h3-color-430: #52646B;
@c1-p-color: #fff;
@c1-cta-color: #fff;
@c1-cta-background: #52646B;


// @import "../c1-slideshow/c1-slideshow.less";

.c1 {
    position: relative;
    width: 100%;

    div {
        &.the-content {
            @media screen and (max-width: 1679px) {
                row-gap: 2.7vw;
            }

            @media screen and (max-width: 430px) {
                width: auto;
                left: 0;
                top: 53vw;
                transform: translate(0);
                // display: block;
                // text-align: center;
                padding: 0 0 0 8vw;
                row-gap: 8vw;
            }

            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 45%;
            left: 62%;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;
            row-gap: 46px;


            h3 {
                @media screen and (max-width: 1679px) {
                    letter-spacing: .3vw;
                    // margin: 0 0 1vw;
                }

                @media screen and (max-width: 430px) {
                    color: @c1-h3-color-430;
                    text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
                    letter-spacing: .8vw;
                    // text-align: center;
                    line-height: normal;
                    flex-basis: 100%;
                    font-size: 4.3vw;
                }

                color: @c1-h3-color;
                letter-spacing: 4px;
                // margin: 0 0 4%;
                text-align: left;
            }

            h2 {
                @media screen and (max-width: 1679px) {
                    font-size: 4.2vw;
                    line-height: 4.5vw;
                }

                @media screen and (max-width:430px) {
                    font-size: 11vw;
                    line-height: 12vw;
                    // margin: 5vw 0;
                    color: @c1-h2-color-430;
                    // text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
                    // line-height: 10.5vw;
                    // text-align: center;
                }

                font-family: @c1-h2-font-family;
                font-size: 70px;
                text-transform: uppercase;
                line-height: 75px;
                // letter-spacing: 0.1rem;
                color: @c1-h2-color;
                // margin: 0 0 4%;
                // text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
                text-align:left;
            }

            img {
                @media screen and (max-width: 1679px) {
                    width: 22.2vw;
                }

                @media screen and (max-width: 430px) {
                    width: 74.5%;
                    margin: 2vw 0;
                }

                width: 372px;

            }

            p {
                @media screen and (max-width: 1679px) {
                    font-size: 1.5vw;
                    // line-height: 1.7vw;
                }

                @media screen and (max-width: 430px) {
                    font-size: 6vw;
                    // line-height: 7.4vw;
                    margin: 0 0 8vw;
                    display: none;
                }

                text-align: left;
                margin: 4% auto;
                color: @c1-p-color;
                text-transform: none;
                font-size: 25px;
                line-height: normal;
                width: 100%;
                font-family: @gilroyr;
                // text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
            }

            div {
                // flex-wrap: nowrap;

                &.the-flex {
                    @media screen and (max-width: 1679px) {
                        // row-gap: 1.4vw;
                        // column-gap: 1.4vw;
                        // margin: 3vw 0 0 2vw;
                    }

                    @media screen and (max-width: 430px) {
                        // row-gap: 4vw;
                        // column-gap: 4vw;
                        // justify-content: center;
                        margin: 0;
                        // top: 85vw;
                        position: relative;
                    }

                    display: flex;
                    // justify-content: center;
                    flex-wrap: wrap;
                    row-gap: 22px;
                    column-gap: 22px;
                    // margin: 54px 0 0 40px;
                }

                a {
                    @media screen and (max-width: 1679px) {
                        // width: 12vw;
                        width: 16vw;
                    }

                    @media screen and (max-width: 430px) {
                        // width: 37vw;
                        width: 47vw;
                    }

                    background: @c1-cta-background;
                    color: @c1-cta-color;
                    // width: 203px;
                    width: 275px
                }
            }
        }
    }
}