@import "../../var.less";

@c1-1-h2-color: #225A85;
@c1-1-h2-color-431: @c1-1-h2-color;
@c1-1-h3-color: @c1-1-h2-color;
@c1-1-h3-color-431: @c1-1-h2-color;
@c1-1-p-color: @c1-1-h2-color;
@c1-1-top: 50%;
@c1-1-left: 66%;
@c1-1-transform: translate(0, -58%);
@c1-1-the-flex-top-431: 121vw;
@c1-1-right: 11%;
@c1-1-cta-color: @c1-1-h2-color;
@c1-1-cta-background: #fff;
@c1-1-cta-size: 203px;
@c1-1-cta-size-1679: 12vw;
@c1-1-cta-size-431: 43.5vw;
@c1-1-h2-font-family: @gilroyb !important;