@import "../../var.less";

@c1-2-h2-color: #fff;
@c1-2-h2-color-431: #fff;
@c1-2-h3-color: #fff;
@c1-2-h3-color-431: #fff;
@c1-2-p-color: #fff;
@c1-2-transform: translate(0%, -50%);
@c1-2-top: 50%;
@c1-2-top-431: 149vw;
@c1-2-left: 4%;
@c1-2-width: 38%;
@c1-2-width-1678: 37%;
@c1-2-the-flex-width: auto;
@c1-2-cta-color: #fff;
@c1-2-cta-background: #FF6A4F;
@c1-2-cta-background-430: @c1-2-cta-background;
@c1-2-cta-size: 203px;
@c1-2-cta-size-1679: 12vw;
@c1-2-cta-size-431: 43.5vw;
@c1-2-h2-font-family: @gilroyb !important;