.c2 {
  @media screen and (max-width: 430px) {
    flex-wrap: wrap;
    padding: 0;
    // background: @background;
  }

  display: flex;
  flex-wrap: wrap;
  // padding: 2% 0;
  text-align: center;
  // flex-wrap: wrap;
  // background: @background;

  
  @import 'c2-2-column.less';
  // @import 'c2-3-column.less';

}