@import "c2-slideshow-vars.less";

&.content-2 {
    @media screen and (max-width: 430px) {
        width: 100%;
        left: 0;
        top: 11vw;
        transform: translateX(0);
    }

    top: @c2-2-top;
    width: auto;
    left: @c2-2-left;
    transform: @c2-2-transform;
    text-align: center;

    h3 {
        @media screen and (max-width: 430px) {
            margin: 0 0 5vw;
        }

        color: @c2-2-h3-color;
        text-shadow: none;
    }

    h2 {
        @media screen and (max-width: 430px) {
            line-height: 12vw
        }

        color: @c2-2-h2-color;
        margin: 0;
        text-align: center;
        text-shadow: none;
    }

    p {
        text-align: @c2-2-p-text-align;
        text-shadow: none;
    }

    div {
        @media screen and (max-width: 430px) {
            margin: 5vw 0 0;
        }

        a {
            @media screen and (max-width: 1679px) {
                width: @c2-2-cta-size-1679;
            }

            @media screen and (max-width: 430px) {
                width: @c2-2-cta-size-431;
            }

            width: @c2-2-cta-size;
            color: @c2-2-cta-color;
            background: @c2-2-cta-background;
        }
    }
}