@import "c2-slideshow-vars.less";

&.content-4 {
    @media screen and (max-width: 430px) {
        width: 100%;
        left: 0;
        top: 11vw;
        transform: translateX(0);
    }

    top: @c2-4-top;
    width: @c2-4-width;
    left: @c2-4-left;
    transform: @c2-4-transform;
    text-align: center;

    h3 {
        color: @c2-4-h3-color;
    }

    h2 {
        color: @c2-4-h2-color;
        text-align: @c2-4-h2-text-align;
    }

    p {
        text-align: @c2-4-p-text-align;
    }

    div {

        a {
            @media screen and (max-width: 1679px) {
                width: @c2-4-cta-size-1679;
            }

            @media screen and (max-width: 430px) {
                width: @c2-4-cta-size-431;
            }

            width: @c2-4-cta-size;
            color: @c2-4-cta-color;
            background: @c2-4-cta-background;
        }
    }
}