@import "../var.less";

@c2-font-color: #fff;
@c2-h2-color: #fff;
@c2-h3-color: #fff;
@c2-p-color: #fff;
@c2-cta-color: #fff;
@c2-cta-background: #2967B0;

@c2-bullets-color: #fff;
@c2-bullets-color-hover: #2967B0;

@c2-1-h2-color: #2967B0;
@c2-1-h3-color: #fff;
@c2-1-cta-color: #2967B0;
@c2-1-cta-background: #fff;

@c2-2-h2-color: #fff;
@c2-2-h3-color: #fff;
@c2-2-cta-color: #fff;
@c2-2-cta-background: #584F92;

@c2-3-h2-color: #F1FF50;
@c2-3-h3-color: #fff;
@c2-3-cta-color: #fff;
@c2-3-cta-background: #FA8180;

@c2-4-h2-color: #2967B0;
@c2-4-h3-color: #fff;
@c2-4-cta-color: #fff;
@c2-4-cta-background: #2967B0;

@c2-5-h2-color: #fff;
@c2-5-h3-color: #fff;
@c2-5-cta-color: #fff;
@c2-5-cta-background: #99B6D6;
