html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.header-banner {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.promos {
  display: none;
  background: #F4EAD1;
}

.promos .promos-wrap {
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
}

.promos .hp-promo,.promos .the-promo {
  text-align: center;
  padding: .8% 0;
}

@media screen and (max-width:810px) {
  .promos .hp-promo,  .promos .the-promo {
    padding: 2% 0;
  }
}

.promos .hp-promo span,.promos .the-promo span {
  position: relative;
  font-family: gilroy-bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

@media screen and (max-width:1024px) {
  .promos .hp-promo span,  .promos .the-promo span {
    font-size: 16px;
  }
}

@media screen and (max-width:810px) {
  .promos .hp-promo span,  .promos .the-promo span {
    font-size: 12px;
    line-height: 18px;
  }
}

.promos .hp-promo span.span-wrap,.promos .the-promo span.span-wrap {
  left: 0;
}

.promos .hp-promo span.first,.promos .the-promo span.first {
  position: relative;
  font-family: gilroy-bold;
}

@media screen and (max-width:428px) {
  .promos .hp-promo span.first,  .promos .the-promo span.first {
    left: 0;
    display: block;
  }
}

.promos .hp-promo span.shop-now,.promos .the-promo span.shop-now {
  left: 1%;
  text-align: center;
  border: none;
  position: relative;
  top: 0;
}

@media screen and (max-width:428px) {
  .promos .hp-promo span.shop-now,  .promos .the-promo span.shop-now {
    left: 0;
  }
}

.promos .hp-promo span.details,.promos .the-promo span.details {
  left: 90%;
  position: absolute;
}

@media screen and (max-width:810px) {
  .promos .hp-promo span.details,  .promos .the-promo span.details {
    left: 86%;
  }
}

@media screen and (max-width:428px) {
  .promos .hp-promo span.details,  .promos .the-promo span.details {
    left: 0;
    position: relative;
    display: block;
    margin: 2% 0 0;
  }
}

.promos .hp-promo.promo1,.promos .the-promo.promo1 {
  background: #F4EAD1;
}

.promos .hp-promo.promo1 span.first,.promos .the-promo.promo1 span.first {
  color: #DE3742;
}

.promos .hp-promo.promo2,.promos .the-promo.promo2,.promos .hp-promo.promo3,.promos .the-promo.promo3 {
  display: none;
}

.promos .hp-promo.promo2,.promos .the-promo.promo2 {
  background: #f2efe3;
}

.promos .hp-promo.promo2 span.first,.promos .the-promo.promo2 span.first {
  color: #d29217;
}

.promos .hp-promo.promo3,.promos .the-promo.promo3 {
  background: #fff0f1;
}

.promos .hp-promo.promo3 span.first,.promos .the-promo.promo3 span.first {
  color: #f66d67;
}

.free-shipping-150 {
  background: #F9F2E0;
  margin: 0 auto;
  position: fixed;
  padding: .1% 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: none;
}