.container-12-days {
	@media screen and (max-width: 414px) {
		flex-wrap: wrap;
	}
	padding: 0;
	display: flex;
	flex-wrap: nowrap;

	div {
		@media screen and (max-width: 414px) {
			flex-basis: 50%;
		}
		// flex-basis: 33%;
		// &.first {
		// 	@media screen and (max-width: 414px) {
		// 		flex-basis: 100%;
		// 	}
		// }
	}

	img {
		max-width: 100%;
	}
}

.main-title {
	display: none;
}

.desktop {
	@media screen and (max-width:414px) {
		display: none;
	}
}

.mobile {
	@media screen and (max-width:414px) {
		display: block;
	}
	display: none;
}