.container-12days {
	padding: 0;

	img {
		max-width: 100%;
	}

	div {
		& > div {
			@media screen and (max-width: 428px) {
				flex-wrap: wrap;
			}
			display: flex;

			a {
				display: inline-block;

				&._1 {
					@media screen and (max-width: 428px) {}
				}

				&._2 {
					@media screen and (max-width: 428px) {
						width: 50%;
					}
				}

				&._3 {
					@media screen and (max-width: 428px) {
						width: 50%;
					}
				}
			}

			img {
				&._1 {
					@media screen and (max-width: 428px) {}
				}

				&._2 {
					@media screen and (max-width: 428px) {}
				}

				&._3 {
					@media screen and (max-width: 428px) {}
				}
			}
		}
	}
}

.desktop {
	@media screen and (max-width:428px) {
		display: none;
	}
}

.mobile {
	@media screen and (max-width:428px) {
		display: block;
	}
	display: none;
}