.container {
	padding: 0;

	img {
		max-width: 100%;
	}
}

.desktop {
	@media screen and (max-width:414px) {
		display: none;
	}
}

.mobile {
	@media screen and (max-width:414px) {
		display: block;
	}
	display: none;
}

.main-title {
	display: none;
}