@import "../../var.less";
@c1-3-h2-font-family: @gilroyb !important;
@c1-3-h2-color: #fff;
@c1-3-h3-color: #fff;
@c1-3-p-font-family: @gilroyr !important;
@c1-3-p-color: #fff;
@c1-3-transform: translate(0%, -50%);
@c1-3-top: 50%;
@c1-3-top-431: 23vw;
@c1-3-left: 70%;
@c1-3-cta-color: #fff;
@c1-3-cta-background: #01ADA3;
@c1-3-cta-size: 203px;
@c1-3-cta-size-1679: 12vw;
@c1-3-cta-size-431: 43.5vw;
@c1-p-text-shadow: none;