@import "../../var.less";

@c1-3-h2-color: #47363D;
@c1-3-h3-color: #47363D;
@c1-3-p-color: #47363D;
@c1-3-transform: translate(0, -50%);
@c1-3-top: 50%;
@c1-3-top-431: 128vw;
@c1-3-left: 5%;
@c1-3-cta-color: #fff;
@c1-3-cta-background: #47363D;
@c1-3-cta-size: 288px;
@c1-3-cta-size-1679: 17vw;
@c1-3-cta-size-431: 47vw;
@c1-p-text-shadow: none;