@import "../../var.less";
@c1-3-h2-font-family: @analogue !important;
@c1-3-h2-color: #fff;
@c1-3-h3-color: #fff;
@c1-3-p-color: #fff;
@c1-3-transform: translate(-84%, -50%);
@c1-3-top: 50%;
@c1-3-top-431: 33vw;
@c1-3-left: 50%;
@c1-3-cta-color: #fff;
@c1-3-cta-background: #DA3B26;
@c1-3-cta-size: 288px;
@c1-3-cta-size-1679: 17vw;
@c1-3-cta-size-431: 47vw;
@c1-p-text-shadow: none;