@import 'vars.less';

.content-wrap {
	display: flex;
	flex-wrap: wrap;
	visibility: hidden;

	div {
		text-align: center;

		&.first,
		&.second,
		&.third {
			@media screen and (max-width: 428px) {
				flex-basis: 100% !important;
			}
		}

		&.first {
			@media screen and (max-width: 810px) {
				flex-basis: 35%;
			}
			@media screen and (max-width: 428px) {
				display: none;
			}
			flex-basis: 33%;
			text-align: right;
		}

		&.second {
			@media screen and (max-width: 810px) {
				flex-basis: 30%;
			}
			@media screen and (max-width: 428px) {
				padding: 3%;
			}
			flex-basis: 34%;
			background: @color3;

			h1 {
				margin: 7% 0 0;

				span {
					@media screen and (max-width:1679px) {
						font-size: 3.5vw;
						line-height: 4vw;
					}
					@media screen and (max-width: 428px) {
						font-size: 11vw;
						line-height: 13vw;
					}
					font-style: normal;
					font-size: 56px;
					line-height: 67px;
					display: block;
					// letter-spacing: 0.2em;
					&.back {
						font-family: @souv;
						color: @color1;
					}

					&.giveaway {
						font-family: @gilroyb;
						color: @color2;
						letter-spacing: 0.2em;
					}
				}
			}

			p {
				@media screen and (max-width: 1679px) {
					font-size: 1.1vw;
					line-height: 1.4vw;
				}
				@media screen and (max-width: 428px) {
					font-size: 3.5vw;
					line-height: 6vw;
					margin: 0 0 5%;
				}
				font-family: @gilroyr;
				font-size: 18px;
				line-height: 24px;
				color: #FFFFFF;
				margin: 0 0 4%;
				letter-spacing: 0.04em;

				span {
					@media screen and (max-width: 1679px) {
						font-size: 1.1vw;
						// line-height: 1.1vw;
					}
					@media screen and (max-width: 428px) {
						font-size: 3.9vw;
					}
					color: @color1;
					font-family: @gilroyb;
					font-size: 18px;
					line-height: 21px;
					text-decoration: none;
				}

				&.prep {
					@media screen and (max-width: 428px) {
						margin: 11% 0 0;
					}
					margin: 4% 0 0;
				}

				&.official {
					a {
						color: @color2;
						font-family: @gilroyb;
						letter-spacing: 0.2em;
						text-decoration: none;
					}
				}
			}

			a {
				@media screen and (max-width: 1679px) {
					font-size: 1.1vw;
					// line-height: 1.1vw;
				}
				@media screen and (max-width: 428px) {
					font-size: 3.9vw;
				}
				color: @color1;
				font-family: @gilroyb;
				font-size: 18px;
				line-height: 24px;
				text-decoration: none;
				letter-spacing: 0.2em;
				text-transform: uppercase;

				&.enter-to-win {
					@media screen and (max-width: 1679px) {
						font-size: 1.2vw;
					}
					@media screen and (max-width: 428px) {
						font-size: 4.7vw;
						margin: 11% 0;
						// padding: 3% 9%;
					}
					font-family: gilroy-bold;
					font-size: 20px;
					line-height: 24px;
					letter-spacing: 0.2em;
					color: #fff;
					background: @color4;
					text-transform: uppercase;
					margin: 7% 0;
				}
			}
		}

		&.third {
			@media screen and (max-width: 810px) {
				flex-basis: 35%;
			}
			@media screen and (max-width: 428px) {}
			flex-basis: 33%;
			text-align: left;
		}

		&.second,
		&.third {}
	}
}