@import '../../var.less';
@import '../../classes.less';

&.gift-save {
    @media screen and (max-width:430px) {
        // padding: 12% 0;
    }

    // background: #FDF5F2;
    // padding: 4% 0 0;
    // display: flex;

    h1,
    h2 {
        @media screen and (max-width: 430px) {
            text-align: center;
        }

        font-family: @souv;
    }

    h1 {
        @media screen and (max-width: 1679px) {
            font-size: 2.9vw;
        }

        @media screen and (max-width: 430px) {
            font-size: 7vw;
            margin: 8vw 0;
        }

        font-size: 48px;
        margin: 2vw 0 0;
        // line-height: 21px;
    }

    h2 {
        @media screen and (max-width: 1679px) {
            font-size: 1.3vw;
        }

        @media screen and (max-width: 430px) {
            font-size: 5vw;
        }

        font-size: 22px;
        // line-height: 27px;
    }

    p {
        @media screen and (max-width: 1679px) {
            font-size: 1.3vw;
        }

        @media screen and (max-width:430px) {
            margin: 0 0 8%;
            font-size: 5vw;
            line-height: 6vw;
            text-align: center;
        }

        font-family: @souv;
        font-size: 22px;
        // line-height: 15px;
        // letter-spacing: 4px;
        color: #47363D;
        padding: 0;
        margin: 0 0 2%;

    }


    .the-content.gift-save {
        @media screen and (max-width:1679px) {
            column-gap: 1vw;
            row-gap: 1vw;
        }

        @media screen and (max-width: 430px) {
            // width: 100%;
            flex-wrap: wrap;
            column-gap: 3vw;
            row-gap: 3vw;

            //4 ITEMS IN THE ROW
            // justify-content: space-evenly;

            // margin: 16vw 0 0;
        }

        top:0;
        width:100%;
        left:0;
        transform: translate(0);
        display: flex;
        flex-wrap:wrap;
        column-gap: 15px;
        row-gap: 15px;
        // margin: 2vw 0 0;

        a {
            @media screen and (max-width:430px) {
                //4 ITEMS IN THE ROW
                flex-basis: 48%;
                // padding: 2.5%;
                padding: 0;
                // margin: 0 0 3vw;
                align-self: center;
                text-align: center;
                // margin: 0 0 .1%;

                // 5 ITEMS IN THE ROW
                // flex-basis: 33%;
                // padding: .5%;
                // margin: 0 0 4%;
            }

            //4 ITEMS IN THE ROW
            // flex-basis: 25%;

            //5 ITEMS IN THE ROW
            // flex-basis: 20%;

            position: relative;
            // padding: 0 .7%;
            padding: 0;
            flex-basis: 32%;

            img {
                @media screen and (max-width:430px) {
                    // width: 94%;
                    display: inline;
                }
            }

            &.cta1,
            &.cta4 {
                @media screen and (max-width: 430px) {}
            }

            &.cta2,
            &.cta5 {
                @media screen and (max-width: 430px) {
                    // text-align: right;
                }
            }

            &.cta3,
            &.cta4 {
                @media screen and (max-width: 430px) {
                    // display: none;
                }
            }

            &.cta4 {
                @media screen and (max-width: 430px) {
                    // display: none;
                }
            }

            &.cta5 {
                @media screen and (max-width: 430px) {
                    // display: inline;
                    // flex-basis: 100%;
                }

                img {
                    @media screen and (max-width: 430px) {
                        // display: inline;
                        // width: 97%;
                    }
                }

                // display:none;
            }

            &.cta6 {
                @media screen and (max-width: 430px) {
                    // display: inline;
                }

                // display:none;
            }

            .the-cta {
                position: absolute;
                bottom: 10%;
                width: 100%;
                text-align: center;

                span {
                    @media screen and (max-width: 1679px) {
                        width: 12vw;
                        height: 3.6vw;
                        font-size: 0.7vw;
                    }

                    @media screen and (max-width: 820px) {
                        width: 14vw;
                        height: 5.6vw;
                    }

                    @media screen and (max-width: 430px) {
                        width: 39vw;
                        height: 13vw;
                        font-size: 2.5vw;
                    }

                    background: #fff;
                    width: 200px;
                    height: 60px;
                    flex-wrap: wrap;
                    color: #47363D;
                    text-align: center;
                    font-family: gilroy-regular;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    // line-height: normal;
                    // letter-spacing: 2.6px;
                    text-transform: uppercase;

                    sub {
                        bottom: 0;
                    }

                    i {
                        @media screen and (max-width: 1679px) {
                            font-size: .8vw;
                        }

                        @media screen and (max-width: 430px) {
                            font-size: 2.5vw;
                        }

                        color: #47363D;
                        text-align: center;
                        font-family: @souv;
                        font-size: 13px;
                        text-transform: none;
                        font-weight: 300;
                        display: block;
                    }
                }
            }
        }

    }
}