@import "../../var.less";

@c1-4-h2-color: #fff;
@c1-4-h3-color: #fff;
@c1-4-top: 50%;
@c1-4-top-431: 138vw;
@c1-4-left: 61%;
@c1-4-cta-color: #47363D;
@c1-4-cta-background: #fff;
@c1-4-cta-size: 288px;
@c1-4-cta-size-1679: 17vw;
@c1-4-cta-size-431: 67vw;
@c1-4-h2-font-family: @gilroyb !important;
@c1-4-transform: translate(0%, -57%);