@import "../../var.less";

@c1-4-h2-color: #fff;
@c1-4-h3-color: @c1-4-h2-color;
@c1-4-p-color: @c1-4-h2-color;
@c1-4-top: 50%;
@c1-4-top-430: 33vw;
@c1-4-left: 20%;
@c1-4-cta-color: #fff;
@c1-4-cta-background: #DA3B26;
@c1-4-cta-size: 288px;
@c1-4-cta-size-1679: 17vw;
@c1-4-cta-size-430: 45vw;
@c1-4-h2-font-family: @souv !important;
@c1-4-transform: translate(-50%, -50%);