@import "../../var.less";

@c1-4-h2-color: #fff;
@c1-4-h3-color: @c1-4-h2-color;
@c1-4-p-color: @c1-4-h2-color;
@c1-4-top: 50%;
@c1-4-top-430: 33vw;
@c1-4-left: 20%;
@c1-4-the-flex-top-430: 30vw;
@c1-4-cta-color: #fff;
@c1-4-cta-background: #4765A1;
// @c1-4-cta-size: 288px;
// @c1-4-cta-size-1679: 17vw;
// @c1-4-cta-size-430: 45vw;
@c1-4-cta-size: 203px;
@c1-4-cta-size-1679: 12vw;
@c1-4-cta-size-430: 43vw;
@c1-4-h2-font-family: @analogue !important;
@c1-4-transform: translate(-50%, -50%);