@import 'var.less';
@holiday-flash-sale-color: #A18CBA;
@cta-bg-color: #532E3A;
@cta-text-color: #fff;

.container-promo-header {
    @media screen and (max-width: 430px) {
        position: relative;
    }

    .the-content.select-styles {
        @media screen and (max-width: 1679px) {
            column-gap: 1vw;
            // row-gap: 1.5vw;
        }

        @media screen and (max-width: 430px) {
            column-gap: 4vw;
            row-gap: 4vw;
            justify-content: center;
             flex-wrap: wrap;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -65%);
            // row-gap: 0;
        }

        column-gap: 20px;
        // row-gap: 24px;
        // flex-wrap: wrap;
        justify-content: start;
        // column-gap:0;

        img {
            width: 100%;
        }

        a {
            @media screen and (max-width: 1679px) {
                // flex-basis: 32%;
            }

            @media screen and (max-width: 430px) {
                // flex-basis: 50%;
            }

        }

        a.cta1,
        a.cta3,{
            .cta-border {
                // background: #EED150 !important;
                // color: #B75C4E !important;
            }
        }

        a.cta2,
        a.cta4, {
            // .the-cta {
            //     @media screen and (max-width: 430px) {
            //         // text-align: left !important;
            //     }

            //     position: relative !important;
            // }

            // .cta-border {
            //     //  background: #ADC1C2 !important;
            //     // color: #47566B !important;
            // }

        }

        a.cta5,
        a.cta6 {
            // @media screen and (max-width: 430px) {
            //     display: block;
            // }

            // display: block
        }

        .the-cta {
            @media screen and (max-width: 430px) {
                // text-align: right !important;
            }

            position: relative !important;
            // bottom: 10% !important;
        }

        .cta-border {
            @media screen and (max-width: 1679px) {
                // width: 12vw !important;
                width: 16.7vw !important;
            }

            @media screen and (max-width: 430px) {
                width: 41.5vw !important;
                // font-size: 2vw !important;
            }

            background: @cta-bg-color !important;
            color: @cta-text-color !important;
            // width: 203px;
            width: 280px;
        }
    }

    // #countdown {
    //     @media screen and (max-width: 1679px) {
    //         font-size: 1.1vw;
    //     }

    //     @media screen and (max-width: 430px) {
    //         width: 100%;
    //         text-align: center;
    //         font-size: 4vw;
    //         left: 0;
    //         background: #A18CBA;
    //         top: 0;
    //         transform: translate(0, 0);
    //         padding: 18px 0;
    //     }

    //     // position: absolute;
    //     background: #A18CBA;
    //     font-family: @gilroybl;
    //     color: #fff;
    //     // top: 5%;
    //     // left: 50%;
    //     // transform: translate(-50%, 0);
    //     letter-spacing: 4px;
    //     text-transform: uppercase;
    //     font-size: 18px;
    //     text-align: center;
    //     padding: 18px;
    // }
}