@import 'var.less';
@c1-cta-color: #fff;
@c1-cta-background-color: #006684;
@c1-h2-color: #fff;
@c1-font-color: #fff;

.c1 {
  position: relative;

  .the-content {
    @media screen and (max-width: 430px) {
      width: 100%;
      top: 0;
      left: 0;
      transform: translate(0);
      // position: relative;
      padding: 6% 0 0;
    }

    position: absolute;
    top: 46%;
    left: 58%;
    transform: translate(0%, -50%);
    width: 35%;
    text-align: center;

    img {
      @media screen and (max-width: 1679px) {
        // width: 9.3vw;
      }

      // margin: 0 0 9%;
    }

    h3 {
      @media screen and (max-width: 1679px) {
        font-size: 1vw;
      }

      @media screen and (max-width:430px) {
        font-size: 4vw;
      }

      font-family: @gilroyb;
      font-size: 18px;
      line-height: 28px;
      // text-align: center;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: @c1-font-color;
      margin:0 0 4%;
    }

    h2 {
      @media screen and (max-width: 1679px) {
        font-size: 4vw;
        line-height: 5vw;
      }

      @media screen and (max-width:430px) {
       
        font-size: 11vw;
        color: #fff;
        text-align:center;
        line-height: 12vw;
      }

      @media screen and (max-width:414px) {
        margin: 0 0 106vw;
      }

      color: @c1-h2-color;
      font-family: @gilroyb;
      font-size: 80px;
      line-height: 80px;
      text-align: center;
      // letter-spacing: 4px;
      // text-transform: uppercase;
      margin:0 0 4%;
    }

    p {
      @media screen and (max-width: 1679px) {
        // display: none;
        font-size: 1.4vw;
        line-height: 1.9vw;
      }

      @media screen and (max-width: 430px) {
        display: none;
        font-size: 4.7vw;
        line-height: 6vw;
        width: 100%;
        margin: 0 0 5%;

      }

      margin: 5% auto;
      font-size: 22px;
      line-height: 33px;
      color: @c1-font-color;
      text-align:center;
    }

    div {
      @media screen and (max-width: 430px) {
        row-gap: 4vw;
        column-gap: 4vw;
        justify-content: center;
        position: absolute;
        top: 105vw;
      }

      display: flex;
      flex-wrap: wrap;
      row-gap: 1vw;
      column-gap: 1vw;
      justify-content: center;

      a {
        @media screen and (max-width: 1679px) {
          width: 12vw;
        }

        @media screen and (max-width:430px) {
          width: 44vw;
        }

        color: @c1-cta-color;
        background: @c1-cta-background-color;
        width: 203px;

        &.cta1 {
          @media screen and (max-width:430px) {}
        }

        &.cta2 {
          @media screen and (max-width:430px) {}
        }

        &.cta3 {
          @media screen and (max-width:430px) {}
        }

        &.cta4 {
          @media screen and (max-width:430px) {}
        }

        &.cta5 {
          @media screen and (max-width:430px) {}
        }
      }
    }
  }
}