@import 'var.less';
@c1-cta-color: #8F713B;
@c1-font-color-m: #282B54;

.c1 {
  position: relative;

  h2 {
    @media screen and (max-width: 414px) {
      width: 45%;
      margin: 0 auto;
      color: @c1-font-color-m !important;
      width: 100%;
      position: absolute;
      top: 5%;
    }
  }

  .the-content {
    @media screen and (max-width: 414px) {
      width: 100%;
      top: 0;
      left: 0;
      position: relative;
      padding: 0 0 4%;
    }
    position: absolute;
    top: 22.7%;
    left: 34.5%;
    width: 31%;

    p {
      @media screen and (max-width: 414px) {
        display: none;
      }
      margin: 3.5% auto 9%;
      width: 75%;
    }

    div {
      @media screen and (max-width: 414px) {
        margin: 3% 0 0;
        text-align: center;
      }
      margin: 3% 0 0;

      a {
        color: #fff;
        background: @c1-cta-color;
        width: 42%;

        span {
          @media screen and (max-width: 414px) {
            // display: none;
          }
        }

        &.cta1 {
          @media screen and (max-width:414px) {
            left: -2%;
          }
          left: 7%;
        }

        &.cta2 {
          @media screen and (max-width:414px) {
            left: 2%;
          }
          left: 10%;
        }

        &.cta3 {
          @media screen and (max-width:414px) {
            left: -2%;
          }
          left: 7%;
        }

        &.cta4 {
          @media screen and (max-width:414px) {
            left: 2%;
          }
          left: 10%;
        }

        &.cta5 {
          @media screen and (max-width:414px) {
            left: 5%;
          }
          left: 10%;
        }
      }
    }
  }
}