@import 'var.less';
@c1-cta-color: #59BF98;
@c1-font-color: #B45B91;

.c1 {
  position: relative;

  h2 {
    @media screen and (max-width: 414px) {
      width: 45%;
      margin: 0 auto;
      width: 100%;
      position: absolute;
      top: 5%;
    }
  }

  .the-content {
    @media screen and (max-width: 414px) {
      width: 100%;
      top: 0;
      left: 0;
      // position: relative;
      padding: 9% 0 0;
    }
    position: absolute;
    top: 11.7%;
    left: 34.5%;
    width: 31%;

    img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 0 9%;
    }

    h2,
    p {
      @media screen and (max-width:414px) {
        color: #fff;
        position: relative;
      }
      color: @c1-font-color;
    }

    h2 {
      @media screen and (max-width:414px) {
        margin: 0 0 4%;
      }
    }

    p {
      @media screen and (max-width: 414px) {
        // display: none;
        font-size: 4vw;
        line-height: 5vw;
        width: 100%;
        margin: 0 0 5%;
      }
      margin: 3.5% auto 9%;
      width: 75%;
    }

    div {
      @media screen and (max-width: 414px) {
        margin: 3% 0 0;
        text-align: center;
      }
      margin: 3% 0 0;

      a {
        color: #fff;
        background: @c1-cta-color;
        width: 42%;
        padding: 2% 4%;

        span {
          @media screen and (max-width: 414px) {
            // display: none;
          }
        }

        &.cta1 {
          @media screen and (max-width:414px) {
            left: -2%;
          }
          left: 7%;
        }

        &.cta2 {
          @media screen and (max-width:414px) {
            left: 2%;
          }
          left: 10%;
        }

        &.cta3 {
          @media screen and (max-width:414px) {
            left: -2%;
          }
          left: 7%;
        }

        &.cta4 {
          @media screen and (max-width:414px) {
            left: 2%;
          }
          left: 10%;
        }

        &.cta5 {
          @media screen and (max-width:414px) {
            left: 5%;
          }
          left: 10%;
        }
      }
    }
  }
}