@import 'var.less';
@c2-background: #fff;
@c2-cta-color: #fff;
@c2-cta-background-color: #7F2B2F;
@c2-font-color: #fff;
@c2-h2-color: #003D69;

.c2 {
  @media screen and (max-width: 414px) {
    padding: 4% 0;
  }
  padding: 2% 6% 4%;
  background: @c2-background;

  .first {
    @media screen and (max-width: 414px) {
      padding: 0 2%;
    }
    position: relative;
    padding: 1% 1% 0 0;

    .the-content {
      @media screen and (max-width: 414px) {
        top: 6%;
        left: -1%;
        // width: 100%;
        // transform: translateX(-50%);
      }
      position: absolute;
      top: 11%;
      left: 0;
      width: 54%;
      text-align: center;

      h2 {
        color: @c2-h2-color;
      }

      .cta-border {
        @media screen and (max-width:414px) {
          width: 44vw;
        }
        color: @c2-cta-color;
        margin: 6% 0 0;
        background: @c2-cta-background-color;

        &.mobile {
          position: absolute;
          bottom: 11%;
          width: 55%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .second {
    @media screen and (max-width: 414px) {
      margin: 2% 0 0;
      padding: 0;
    }
    display: flex;
    flex-wrap: wrap;
    padding: 0.5% 0 0;

    a {
      @media screen and (max-width: 414px) {
        padding: 3% 1.5% 1.5%;
      }
      flex-basis: 50%;
      padding: 1%;
    }
  }
}