@import 'var.less';
@c2-background: #fff;
@c2-cta-color: #fff;
@c2-cta-background-color: #E4BD3C;
@c2-font-color: #fff;
@c2-h2-color: #fff;

.c2 {
  @media screen and (max-width: 428px) {
    // padding: 4% 0;
    flex-wrap: wrap !important;
  }

  flex-wrap: nowrap !important;



  .the-content {
    @media screen and (max-width: 428px) {
      bottom: 9%;
      left: 0;
      flex-wrap:wrap;
      justify-content: center;
      // transform: translateX(-50%);
    }

    position: absolute;
    bottom: 4%;
    left: 7%;
    width: 100%;
    display:flex;
    align-items:center;

    h2 {
      @media screen and (max-width:1679px){
        font-size: 3.8vw;
      }
      @media screen and (max-width:428px) {
        font-size: 12vw;
        flex-basis:100%;
      }

      color: @c2-h2-color;
      margin: 0 3% 0 0;
      font-size: 60px;
      line-height: 60px;
    }


  }
}