@import 'var.less';
@c3-cta-color: #fff;
@c3-cta-background-color: #2A5672;
@c3-font-color: #fff;
@c3-h2-color: #fff;

.c3 {
  position: relative;

  .the-content {
    @media screen and (max-width: 810px) {}
    @media screen and (max-width: 428px) {
      bottom: 14%;
    }
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;

    img {
      margin: 0 0 2%;
    }

    h2 {
      @media screen and (max-width: 428px) {
        width: 100%;
        margin: 0;
        color: #fff;
        font-size: 11vw;
        line-height: 11vw;
      }
      color: @c3-h2-color;
    }

    span {
      @media screen and (max-width: 428px) {
        margin: 4% 0 0;
      }
      margin: 2% 0 0;
      background: @c3-cta-background-color;
      color: @c3-cta-color;
    }
  }
}