.c3 {
    @media screen and (max-width: 414px) {
        padding: 4% 0 0;
        background: none;
    }

    padding: 3% 5% 3% 7%;
    background: #FDF5F2;

    .first {
        @media screen and (max-width: 414px) {
            order: 2;
        }

        display: flex;
        flex-wrap: wrap;

        a {
            @media screen and (max-width: 414px) {
                padding: 3%;
            }

            flex-basis: 50%;
            padding: 1%;
        }
    }

    .second {
        @media screen and (max-width: 414px) {
            order: 1;
            padding: 0;
            margin: 0 0 2%;
        }

        position: relative;
        padding: 1% 0% 0 1%;

        .the-content {
            position: absolute;
            top: 65%;
            left: 2%;
            width: 50%;
            text-align: center;

            span {
                color: #fff;
                margin: 5% 0 0;
            }
        }
    }
}