.c5 {
    position: relative;

    .the-content {
        @media screen and (max-width: 414px) {
            top: 2%;
            right: 0;
            width: 100%;
        }

        position: absolute;
        top: 53%;
        right: 2%;
        width: 22%;
        text-align: center;

        h2 {
            @media screen and (max-width: 414px) {
                width: 50%;
                margin: 0 auto;
            }
        }

        span {
            @media screen and (max-width: 414px) {
                margin: 0;
            }

            margin: 5% 0 0;
        }
    }
}