@import 'var.less';
@c5-cta-color: #fff;
@c5-cta-background-color: #2A5672;
@c5-font-color: #fff;
@c5-h2-color: #fff;

.c5 {
  position: relative;

  .the-content {
    @media screen and (max-width: 428px) {
      top: 9%;
    }
    @media screen and (max-width: 376px) {
      top: 5%;
    }
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;

    img {
      margin: 0 0 4%;
    }

    h2 {
      @media screen and (max-width: 428px) {
        width: 100%;
        margin: 0;
        font-size: 11vw;
        // color: #fff;
      }
      color: @c5-h2-color;
    }

    span {
      @media screen and (max-width: 428px) {
        margin: 7% 0 0;
      }
      margin: 2% 0 0;
      background: @c5-cta-background-color;
      color: @c5-cta-color;
    }
  }
}