@import "../var.less";
@c4-first-font-color: #47363D;
@c4-first-cta-color: #fff;
@c4-first-cta-background: #4261A6;
@c4-second-font-color: #FFF;
@c4-second-cta-color: #fff;
@c4-second-cta-background: #2CAC96;


.c4 {
  @media screen and (max-width: 1679px){
    column-gap: 3vw;
  }
  @media screen and (max-width: 430px) {
    flex-wrap: wrap;
    // background: #E8C3CA;
    padding: 0 0 1vw;
  }

  display: flex;
  padding: 2vw 0;
  text-align: center;
  column-gap: 60px;
  // flex-wrap: wrap;

  div {

    &.first,
    &.second {
      @media screen and (max-width:1679px) {
        // padding: 1vw;
      }

      @media screen and (max-width: 430px) {
        padding: 6vw;
      }

      text-align: center;
      box-sizing: border-box;
      flex-basis: 50%;
      // padding: 1.7vw;
      padding: 0;
      position: relative;

      a {
        text-decoration: none;
        color: @c4-first-font-color;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 2.9vw;
          // line-height: 4vw;
        }

        @media screen and (max-width:430px) {
          font-size: 7vw;
          margin: 4vw 0 .3vw;
        }

        font-family: @gilroyb;
        font-size: 48px;
        line-height: normal;
        // letter-spacing: 0.1rem;
        color: @c4-first-font-color;
        margin: 1vw 0 .3vw;
        // text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
        text-align:left;
      }

      .the-content {
        @media screen and (max-width: 1679px){
          padding: 0 0 0 2vw;
        }
        @media screen and (max-width: 430px) {}

        margin: 0;
        width: 100%;
        text-align: left;

        div {
          @media screen and (max-width: 430px) {}

          margin: 0;

        }
      }
    }

    &.first {
      @media screen and (max-width: 430px) {}

      // order: 2;

      .the-content {
        @media screen and (max-width: 1679px) {}

        @media screen and (max-width: 1025px) {}

        @media screen and (max-width: 835px) {}

        @media screen and (max-width: 821px) {}

        @media screen and (max-width: 769px) {}

        @media screen and (max-width: 430px) {}



        h2 {
          @media screen and (max-width: 430px) {}


        }

        div {
          @media screen and (max-width: 430px) {}

          a {
            @media screen and (max-width:1679px) {}

            @media screen and (max-width: 430px) {}

            // color: @c4-first-cta-color;
            // background: @c4-first-cta-background;
            // width: 313px;
            // margin: 0 0 20%;

          }
        }
      }
    }

    &.second {
      @media screen and (max-width: 430px) {}

      // order: 1;

      .thumb-grid.item {
        width: 50%;

        .img {
          @media screen and (max-width: 821px) {
            width: 73%;
          }

          @media screen and (max-width: 430px) {
            width: 100%;
          }
        }

        .size {
          text-align: left;

          .thumb-sizes {
            display: block;
          }
        }
      }

      h2 {
        @media screen and (max-width:430px) {}

        // color: @c4-second-font-color;
      }

      .the-content {
        @media screen and (max-width: 430px) {}

        div {
          @media screen and (max-width: 430px) {}

          a {
            @media screen and (max-width:1679px) {}

            @media screen and (max-width: 430px) {}

            // color: @c4-second-cta-color;
            // background: @c4-second-cta-background;
            // width: 290px;

          }
        }
      }
    }

  }
}