@import "var.less";

.container-promo-header.gift-save {


    .the-content.gift-save {
        @media screen and (max-width: 1679px) {
            column-gap: 1vw;
            row-gap: 1vw;
        }

        @media screen and (max-width: 430px) {
            column-gap: 4vw;
            row-gap: 4vw;
        }

        column-gap: 15px;
        row-gap: 15px;


        a {
            @media screen and (max-width: 430px) {
                flex-basis: 48%;
            }

            flex-basis: 23%;

        }
    }

}