@import "../../var.less";

@c1-promo-2-h2-color: #D83D2E;
@c1-promo-2-h2-color-431: #D83D2E;

@c1-promo-2-h2-font-family: @dumpling !important;

@c1-promo-2-h3-color: #D83D2E;
@c1-promo-2-h3-color-431: #D83D2E;

@c1-promo-2-h3-font-family: @dumpling !important;

@c1-promo-2-p-color: #47363D;

@c1-promo-2-width: 35%;

@c1-promo-2-top: 50%;
@c1-promo-2-top-431: 138vw;

@c1-promo-2-the-flex-top-431: 32vw;

@c1-promo-2-transform: translate(0%, -50%);
@c1-promo-2-left: 54%;

@c1-promo-2-cta-color: #D83D2E;
@c1-promo-2-cta-background: #EAB5D2;

@c1-promo-2-cta-size: 203px;
@c1-promo-2-cta-size-1679: 12vw;
@c1-promo-2-cta-size-431: 43.5vw;

// @c1-promo-2-cta-size: 288px;
// @c1-promo-2-cta-size-1679: 17vw;
// @c1-promo-2-cta-size-431: 50vw;
