@import "../../var.less";

@c1-promo-2-h2-color: #fff;
@c1-promo-2-h2-color-431: @c1-promo-2-h2-color;
@c1-promo-2-h2-font-family: @souv !important;
@c1-promo-2-h3-color: #fff;
@c1-promo-2-h3-color-431: @c1-promo-2-h3-color;
@c1-promo-2-width: 35%;
@c1-promo-2-top: 50%;
@c1-promo-2-top-431: 138vw;
@c1-promo-2-the-flex-top-431: 138vw;
@c1-promo-2-transform: translate(0%, -50%);
@c1-promo-2-left: 5%;
@c1-promo-2-cta-color: #47363D;
@c1-promo-2-cta-background: #F3DD4E;
@c1-promo-2-cta-size: 203px;
@c1-promo-2-cta-size-1679: 12vw;
@c1-promo-2-cta-size-431: 43.5vw;
