.details-promo {
    @media screen and (max-width: 767px) {
        width: 95%;
    }

    @media screen and (max-width: 430px) {
        display: block;
        transition: all .5s;
        // height: 50%;
        position: fixed;
        z-index: 9999;
        width: 100%;
        top: -150%;
        border: 1px solid;
    }

    &.activate {
        top: 0;
    }

    display: none;
    background: #fff;
    width: 700px;
    margin: 0 auto;

    .details-container {
        margin: 27px;
        padding: 20px 0;
        background: #fff;

        h2 {
            letter-spacing: 1px;
            font-family: gilroy-bold;
        }

        p {
            font-family: gilroy-regular;
        }

        .close-fancy {
            display: block;
            text-align: center;
        }
    }
}