@shipping-promoBg: #7997A5;
@shipping-promoColor1: #F5D7DD;
@shipping-promoColor2: #fff;
@shipping-promoColor3: #F5D7DD;


&.shipping-promo {
    background: @shipping-promoBg;

    span {
        &.first {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 4vw;
            }

            color: @shipping-promoColor1;

            i {
                font-style: normal;
                color: @shipping-promoColor2;
            }
        }

        &.second {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 4vw;
            }

            color: @shipping-promoColor2;
        }

        &.third {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 4vw;
            }

            color: @shipping-promoColor3;
            // text-decoration:underline;
        }

        &.shop-now {
            i {
                color: @shipping-promoColor2;
            }
        }

        &.details {
            a {
                color: @shipping-promoColor3;
            }
        }
    }
}
