@import 'var.less';
@school-days-promoBg: #A2655C;
@school-days-promo-Bg-2: #DFB6B2;
@school-days-promoColor1: #fff;
@school-days-promoColor2: #FFFFFF;
@school-days-promoColor3: #fff;
@school-days-promoDetails: #fff;

&.school-days-promo {
    background: @school-days-promoBg;
    // background-image: linear-gradient(to right, @school-days-promoBg , @school-days-promo-Bg-2);
    // display: none;

    span {
        &.first {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 3vw;
                flex-basis: 100%;
                // display: block;
                // display: none;
            }

            color: @school-days-promoColor1;
            font-family: @gilroyb;

            i {
                color: @school-days-promoColor3;
                font-style: normal;
                // font-size: 8px;
            }

            a {
                color: @school-days-promoColor1;
            }
        }

        &.second {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                // font-size: 2.8vw;
                font-size: 3vw;
                // display: none;
            }

            color: @school-days-promoColor2;
            font-family: @gilroyb;
            // text-decoration:underline;

            i {
                color: @school-days-promoColor3;
                font-style: normal;
                // font-size: 8px;
            }

            a {
                color: @school-days-promoColor1;
            }
        }

        &.third {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                // font-size: 2.8vw;
                font-size: 3vw;
                display: inline-block;
            }

            color: @school-days-promoColor3;
            font-family: @gilroyb;
            // text-decoration:underline;

            i {
                color: @school-days-promoColor3;
                font-style: normal;
                // font-size: 8px;
            }


            a {
                color: @school-days-promoColor3;
            }

            u {
                color: @school-days-promoColor2;

                &:after {
                    @media screen and (max-width: 430px) {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: -10%;
                    }

                    left: 0;
                }
            }
        }

        &.shop-now {
            i {
                color: @school-days-promoColor2;
            }
        }

        &.details {
            a {
                color: @school-days-promoDetails;
            }
        }
    }
}