@promo3Bg: #F9EBE5;
@promo3Color1: #1A5B55;
@promo3Color2: #702F4D;
@promo3Color3: #1A5B55;

&.promo3 {
    background: @promo3Bg;

    span {
        &.first {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 4vw;
                // display: none;
            }

            i {
                font-style: normal;
                color: @promo3Color2;
            }

            color: @promo3Color1;
        }

        &.second {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                // font-size: 2.5vw;
                font-size: 4vw;
            }

            i {
                font-style: normal;
                color: @promo3Color2;
            }

            color: @promo3Color2;
        }

        &.third {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                // font-size: 2.8vw;
                font-size: 4vw;
            }

            i {
                font-style: normal;
                color: @promo3Color2;
            }

            u {
                color: @promo3Color3;

                &:after {
                    @media screen and (max-width: 430px) {
                        width: 47%;
                        left: 0vw;
                    }

                    width: 100%;
                    right: 0 !important;
                }

            }

            color: @promo3Color3;
            // text-decoration:underline;
        }

        &.shop-now {
            i {
                color: @promo3Color2;
            }
        }

        &.details {
            a {
                color: @promo3Color3;
            }
        }
    }
}