@shipping-promoBg: #40687A;
@shipping-promoColor1: #fff;
@shipping-promoColor2: #F5D7DD;
@shipping-promoColor3: #fff;
@shipping-fontSize: 3vw;


&.shipping-promo {
    background: @shipping-promoBg;

    span {
        &.first {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: @shipping-fontSize;
            }

            color: @shipping-promoColor1;

            i {
                @media screen and (max-width: 430px) {
                    // display: none;
                }

                font-style: normal;
                color: @shipping-promoColor2;
            }
        }

        &.second {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: @shipping-fontSize;
            }

            color: @shipping-promoColor1;

            i {
                @media screen and (max-width: 430px) {
                    // display: none;
                }

                font-style: normal;
                color: @shipping-promoColor2;
            }
        }

        &.third {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: @shipping-fontSize;
            }

            color: @shipping-promoColor3;
            // text-decoration:underline;

            i {
                @media screen and (max-width: 430px) {
                    // display: none;
                }

                font-style: normal;
                color: @shipping-promoColor2;
            }
        }

        &.shop-now {
            i {
                color: @shipping-promoColor2;
            }
        }

        &.details {
            a {
                color: @shipping-promoColor3;
            }
        }
    }
}