@import 'var.less';
@import 'classes.less';

.container-promo-header {
	h1 {
		@media screen and (max-width: 1679px){
			font-size: 2.9vw;
		}
		@media screen and (max-width: 430px){
			font-size: 7.5vw;
			line-height: 8vw;
			text-align:center;
			margin: 4vw 0;
		}
		font-family: @souv;
		font-size: 48px;
		line-height: 21px;
		letter-spacing: 0.5px;
		color: #47363D;
		margin: 1.5vw 0;
	}

	p {
		@media screen and (max-width: 1679px){
			font-size: 1.3vw;
			line-height: 1.7vw;
		}
		@media screen and (max-width: 430px){
			font-size: 4.5vw;
			line-height: 6vw;
			text-align:center;
		}
		font-family: @souv;
		font-size: 22px;
		line-height: 27px;
		color: #47363D;
	}
}