.customer-service-2 {
  font-size: 1rem;
}

.shipping-tables {
  width: 100%;
}

.shipping-tables td,.shipping-tables th {
  border: 1px solid #000;
  padding: 1rem;
}

@media screen and (max-width:414px) {
  .shipping-tables td,  .shipping-tables th {
    padding: 0;
    text-align: center;
  }
}

.shipping-tables td.holiday,.shipping-tables th.holiday {
  color: #be1d22;
}