@import "../var.less"; // @import "promo1.less";
@graphics-font-color: #47363D;
@graphics-cta-color: @graphics-font-color;
@graphics-background: #D5AC38;

.graphics {
  @media screen and (max-width: 1679px) {
    min-height: 35vw !important;
  }

  @media screen and (max-width:430px) {
    padding: 8% 0;
    // background: #FDF5F2;
    min-height: 169vw !important;
  }

  padding: 3% 0;
  min-height:604px !important;

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 3.3vw;
    }

    @media screen and (max-width:430px) {
      font-size: 7.5vw;
      line-height: 9vw;
      margin: 0 0 6%;
    }

    font-family: @gilroyr;
    color: @graphics-font-color;
    font-size: 54px;
    line-height: normal;
    margin: 0 0 4%;

    // letter-spacing: 0.25em;
    // text-transform: capitalize;
    span {
      @media screen and (max-width:430px) {
        display: block;
      }

      position: relative;

      a {
        @media screen and (max-width:430px) {
          left: 0;
          top: 0;
        }

        color: @graphics-font-color;
        left: 3%;
        //top: -20%;
        top: -.5vh;
      }
    }
  }

  div {
    @media screen and (max-width: 1679px) {
      column-gap: 3vw;
    }

    @media screen and (max-width: 430px) {
      flex-wrap: wrap;
      column-gap: 6vw;
      row-gap: 6vw;
      justify-content: center;
    }

    display: flex;
    text-align: center;
    column-gap: 44px;

    a {
      @media screen and (max-width: 430px) {
        flex-basis: 42%;
        // padding: 0 4%;
        // margin: 0 0 10%;
      }

      flex-basis: 25%;
      // padding: 0 2%;
      text-decoration: none;

      img {}

      span {
        color: #47363D;
        margin: 10% 0 0;

        i {
          @media screen and (max-width: 430px) {
            display: none;
          }

          font-style: normal;
        }

        &.mobile {
          @media screen and (max-width: 430px) {
            display: inline-block;
          }
        }
      }
    }
  }
}