@import "../../var.less";
@c1-dresses-h2-font-family: @gilroyb !important;
@c1-dresses-h2-color: #fff;
@c1-dresses-h2-color-430: #fff;
@c1-dresses-h3-color: #47363D;
@c1-dresses-h3-color-430: #fff;
@c1-dresses-p-font-family: @gilroyr !important;
@c1-dresses-p-color: #fff;
@c1-dresses-transform: translate(-50%, -50%);
@c1-dresses-top: 76%;
@c1-dresses-top-431: 20vw;
@c1-dresses-left: 50%;
@c1-dresses-cta-color: #fff;
@c1-dresses-cta-background: #4765A1;
// @c1-dresses-cta-size: 203px;
// @c1-dresses-cta-size-1679: 12vw;
// @c1-dresses-cta-size-431: 43.5vw;

// @c1-dresses-cta-size: 296px;
// @c1-dresses-cta-size-1679: 17vw;
// @c1-dresses-cta-size-431: 53.5vw;

@c1-dresses-cta-size: 275px;
@c1-dresses-cta-size-1679: 17vw;
@c1-dresses-cta-size-431: 42.5vw;

@c1-p-text-shadow: none;