@import "../var.less";

@c2-font-color: #fff;
@c2-h2-color: #47363D;
@c2-h3-color: #fff;
@c2-p-color: #47363D;
@c2-cta-color: #fff;
@c2-cta-background: #608A8A;

@c2-bullets-color: #fff;
@c2-bullets-color-hover: #47363D;

@c2-1-h2-color: #47363D;
@c2-1-h3-color: #fff;
@c2-1-cta-color: #fff;
@c2-1-cta-background: #608A8A;
@c2-1-top: 32%;

@c2-2-h2-color: @c2-1-h2-color;
@c2-2-h3-color: #fff;
@c2-2-cta-color: #fff;
@c2-2-cta-background: @c2-1-cta-background;
@c2-2-top: @c2-1-top;

@c2-3-h2-color: @c2-1-h2-color;
@c2-3-h3-color: #fff;
@c2-3-cta-color: #fff;
@c2-3-cta-background: @c2-1-cta-background;
@c2-3-top: @c2-1-top;
@c2-3-top-430: 89vw !important;

@c2-4-h2-color: #fff;
@c2-4-h3-color: #fff;
@c2-4-cta-color: #fff;
@c2-4-cta-background: @c2-1-cta-background;

@c2-5-h2-color: #fff;
@c2-5-h3-color: #fff;
@c2-5-cta-color: #fff;
@c2-5-cta-background: #99B6D6;
