@import "var.less";

.cta-border {
  @media screen and (max-width: 1679px) {}
  @media screen and (max-width: 428px) {}
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  font-family: @gilroyb;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 14%;
}

.desktop {
  @media screen and (max-width: 428px) {
    display: none;
  }
}

.mobile {
  @media screen and(max-width: 428px) {
    display: block;
  }
  display: none;
}