@red: #FF1744;

.promos {
	display: none !important;
}

.main-title {
	// display: none;
}

.category-page .nav .side-nav ul li .links ul li a {
	color: @red;
}

.category-page .nav .side-nav ul li h2 {}

.category-page .nav .side-nav ul li .links ul li a.active::before {
	background: @red;
}

.category-page .nav .side-nav ul li .links ul li a.active {
	color: @red;
}

.category-page .nav .side-nav ul li .links ul li a:hover::before {
	background: @red;
}

.category-page .nav .side-nav ul li .links ul li ul.sub li.active a {
	color: @red;
}

.category-page .nav .side-nav ul li .links ul li ul.sub li.active a::before {
	background: @red;
}

.category-page .content h1.main-title {
	text-transform: capitalize;
}