.container-black-friday {
	position: relative;

	div {
		@media screen and (max-width:428px) {
			width: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
		@media screen and (max-width:320px) {
			// top: 0;
		}
		position: absolute;
		top: 50%;
		width: 66%;
		left: 21%;
		transform: translate(0, -50%);
		display: flex;
		// justify-content: space-evenly;
	}
}