@import 'var.less';
@import 'classes.less';
@red: #FF1744;
@cta1-color: #fff;
@cta1-background: #685FA6;
@cta2-color: #2F2F2F;
@cta2-background: #59C0B7;
@cta3-color: #fff;
@cta3-background: #90A2D0;
@cta4-color: #2F2F2F;
@cta4-background: #E0B0CF;
@cta5-color: #2F2F2F;
@cta5-background: #FFF97B;

.container-black-friday {
	position: relative;

	div {
		@media screen and (max-width:414px) {
			position: absolute;
			top: 17%;
			width: 100%;
			left: 0;
			text-align: center;
		}
		@media screen and (max-width:320px) {
			// top: 0;
		}
		position: absolute;
		top: 39%;
		width: 76%;
		left: 29%;

		a {
			@media screen and (max-width:414px) {
				margin: 0 0 4%;
				padding: 3%;
			}
			margin: 0 1% 0 0;
			padding: 1% 2%;

			span {
				@media screen and (max-width: 414px) {
					display: none;
				}
			}

			&.cta-girl,
			&.cta1 {
				@media screen and (max-width:414px) {
					// left: -2%;
					left: -3%;
				}
				color: @cta1-color;
				background: @cta1-background;
			}

			&.cta-girl {
				@media screen and (max-width:414px) {
					left: -3%;
				}
			}

			&.cta-boy,
			&.cta2 {
				@media screen and (max-width:414px) {
					// left: 2%;
					left: 0;
				}
				color: @cta2-color;
				background: @cta2-background;
			}

			&.cta-boy {
				@media screen and (max-width:414px) {
					left: 0;
				}
			}

			&.cta-tween,
			&.cta3 {
				@media screen and (max-width:414px) {
					// left: -2%;
					left: 3%;
				}
				color: @cta3-color;
				background: @cta3-background;
			}

			&.cta-tween {
				@media screen and (max-width:414px) {
					left: 3%;
				}
			}

			&.cta-baby-girl,
			&.cta4 {
				@media screen and (max-width:414px) {
					// left: 2%;
					left: -2%;
				}
				color: @cta4-color;
				background: @cta4-background;
			}

			&.cta-baby-girl {
				@media screen and (max-width:414px) {
					left: -2%;
					width: 38%;
				}
				@media screen and (max-width:320px) {
					width: 40%;
				}
			}

			&.cta-baby-boy,
			&.cta-last,
			&.cta5 {
				@media screen and (max-width: 414px) {
					left: 2%;
				}
				color: @cta5-color;
				background: @cta5-background;
			}

			&.cta-baby-boy {
				@media screen and (max-width:414px) {
					left: 2%;
					width: 38%;
				}
				@media screen and (max-width:320px) {
					width: 40%;
				}
			}

			&.last {
				@media screen and (max-width:414px) {
					width: 77%;
					left: 0 !important;
				}
			}
		}

		&.cta-length-3 {
			a {
				@media screen and (max-width:414px) {
					width: 38%;
				}

				&.cta-last {
					@media screen and (max-width:414px) {
						left: 0;
					}
				}
			}
		}

		&.cta-length-4 {
			a {
				@media screen and (max-width:414px) {
					width: 38%;
				}

				&.cta-last.cta-toddler-boy,
				&.cta-last.cta-toddler-girl {
					@media screen and (max-width: 414px) {
						width: 52%;
					}
				}

				&.cta1,
				&.cta3 {
					@media screen and (max-width:414px) {
						left: -2%;
					}
				}

				&.cta-last,
				&.cta2 {
					@media screen and (max-width:414px) {
						left: 2%;
					}
				}
			}
		}

		&.cta-length-5 {
			a {
				&.cta-baby-boy,
				&.cta-baby-girl,
				&.cta-boy,
				&.cta-girl,
				&.cta-last {
					@media screen and (max-width: 414px) {
						width: 38%;
					}
				}

				&.cta-last.cta-toddler-boy,
				&.cta-last.cta-toddler-girl {
					@media screen and (max-width: 414px) {
						width: 52%;
					}
				}

				&.cta-girl {
					@media screen and (max-width: 414px) {
						left: -2%;
					}
				}

				&.cta-boy {
					@media screen and (max-width: 414px) {
						left: 2%;
					}
				}

				&.cta-baby-girl {
					@media screen and (max-width: 414px) {
						left: -2%;
					}
				}

				&.cta-baby-boy {
					@media screen and (max-width: 414px) {
						left: 2%;
					}
				}

				&.cta-last {
					@media screen and (max-width: 414px) {
						left: 2%;
					}
				}
			}
		}
	}
}

.main-title {
	// display: none;
}

.category-page .nav .side-nav ul li .links ul li a {
	color: @red;
}

.category-page .nav .side-nav ul li h2 {}

.category-page .nav .side-nav ul li .links ul li a.active::before {
	background: @red;
}

.category-page .nav .side-nav ul li .links ul li a.active {
	color: @red;
}

.category-page .nav .side-nav ul li .links ul li a:hover::before {
	background: @red;
}

.category-page .nav .side-nav ul li .links ul li ul.sub li.active a {
	color: @red;
}

.category-page .nav .side-nav ul li .links ul li ul.sub li.active a::before {
	background: @red;
}

.category-page .content h1.main-title {
	text-transform: capitalize;
}