@import 'var.less';
@import 'classes.less';

&.select-styles {
    @media screen and (max-width:430px) {
        // padding: 12% 0;
    }

    // background: #FDF5F2;
    // padding: 4% 0 0;
    // display: flex;

    h2 {
        @media screen and (max-width: 1679px) {
            font-size: 3.1vw;
        }

        @media screen and (max-width:430px) {
            margin: 0 0 4%;
            font-size: 7vw;
            line-height: 9vw;
        }

        font-family: @souv;
        font-size: 52px;
        // line-height: 50px;
        text-align: center;
        text-transform: capitalize;
        color: #47363D;
        display:block;
        padding: 0;
        margin: 0 0 2%;
        letter-spacing: 0;
    }

    p {
        @media screen and (max-width: 1679px) {
            font-size: 1vw;
        }

        @media screen and (max-width:430px) {
            margin: 0 0 5%;
            font-size: 3vw;
            // line-height: 9vw;
        }


        font-family: @gilroyb;
        font-size: 12px;
        // line-height: 15px;
        text-align: center;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #47363D;
        padding: 0;
        margin: 0 0 2%;

    }

    .the-content.select-styles {
        @media screen and (max-width: 430px) {
            // width: 100%;
            flex-wrap:wrap;
            
            //4 ITEMS IN THE ROW
            justify-content: space-evenly;
        }

        top:0;
        width:100%;
        left:0;
        transform: translate(0);
        // display: flex;

        a {
            @media screen and (max-width:430px){
                //4 ITEMS IN THE ROW
                flex-basis: 48%;
                padding: 0%;
                margin: 0 0 1%;

                // 5 ITEMS IN THE ROW
                // flex-basis: 33%;
                // padding: .5%;
                // margin: 0 0 4%;
            }
            //4 ITEMS IN THE ROW
            flex-basis: 25%;

            //5 ITEMS IN THE ROW
            // flex-basis: 20%;

            position: relative;
            padding: 0 .3%;

            &.cta2 {
                @media screen and (max-width: 430px){
                    // 5 ITEMS IN THE ROW
                    // margin: 0 2% 4% 0;
                }
            }

            .the-cta {
                position: absolute;
                bottom: 5%;
                width: 100%;
                text-align: center;

                span {
                    color: #fff;
                }
            }
        }



        // width: 54%;

        .the-grid {
            @media screen and (max-width: 430px) {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 6%;
            }

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 3%;

            a {
                @media screen and (max-width: 430px) {
                    // flex-basis: 34%;
                }

                background: #2FAB9D;
                color: #fff;
            }
        }
    }
}