.container-promo-header {
	position: relative;

	div {

		&.the-content {
			@media screen and (max-width:428px) {
				width: 100%;
				left: 50%;
				transform: translate(-50%, 0%);
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				top: 36%;
			}

			@media screen and (max-width:320px) {
				// top: 0;
			}

			position: absolute;
			top: 50%;
			width: 100%;
			left: 32%;
			transform: translate(0, -50%);
			display: flex;
			// column-gap: 2%;
			// justify-content: space-evenly;

			.the-grid {}
		}
	}
}