@import 'var.less';
@import 'classes.less';

.container-promo-header {
	position: relative;
	// background: #F9EBE5;

	// @import 'select-styles.less';
	@import 'baby-warehouse.less';

	// h2 {
	// 	@media screen and (max-width: 1679px) {
	// 		font-size: 1.1vw;
	// 		letter-spacing: .3vw;
	// 	}

	// 	@media screen and (max-width: 430px) {
	// 		font-size: 4vw;
	// 		letter-spacing: 1vw;
	// 		padding: 8vw 0 0;
	// 	}

	// 	font-size: 18px;
	// 	line-height: 28px;
	// 	font-family: @gilroyb;
	// 	color: #A291B9;
	// 	text-align: center;
	// 	text-transform: uppercase;
	// 	letter-spacing: 4px;
	// 	padding: 1vw 0 0;
	// 	display:none;
	// }

	div {

		&.the-content {
			@media screen and (max-width:430px) {
				width: 100%;
				left: 50%;
				transform: translate(-50%, 0%);
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				top: 36%;
				flex-wrap: wrap;
			}

			@media screen and (max-width:320px) {
				// top: 0;
			}

			// position: absolute;
			top: 50%;
			width: 81%;
			left: 50%;
			transform: translate(-50%, 0%);
			display: flex;
			position:relative;
			// column-gap: 2%;
			justify-content: center;

			.the-grid {}

			a {
				@media screen and (max-width: 430px) {
					flex-basis: 33%;
				}

				flex-basis: 25%;
			}

			&.sale {
				@media screen and (max-width: 430px) {
					width: 100%;
				}

				width: 67.5%;
			}

			&.boys {
				@media screen and (max-width: 430px) {
					width: 100%;
				}

				width: 67.5%;

				a {
					@media screen and (max-width: 430px) {
						flex-basis: 33%;
					}

					flex-basis: 20%;
				}
			}

			&.baby-girl {
				@media screen and (max-width: 430px) {
					width: 100%;
				}

				width: 81%;
			}
		}
	}
}