.leggings {
  background: #fff;
  opacity: 0;
  transition: all 1s;
  position: relative;
}

.leggings .glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.leggings .glide * {
  box-sizing: inherit;
}

.leggings .glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}

.leggings .glide {
  position: unset;
}

.leggings li {
  position: relative;
}

.leggings .glide {
  max-width: 1290px;
  margin: 0 auto;
}

@media screen and (max-width:430px) {
  .leggings div[data-glide-el="controls"] {
    display: none;
  }
}

.leggings .width-300 {
  justify-content: center;
}

.leggings .width-300 li {
  width: 300px;
}

@media screen and (max-width:1679px) {
  .leggings .width-300 li {
    width: 18vw;
  }
}