.bottoms-container {
  clear: both;
}

.bottoms-container ul {
  list-style-type: none;
  display: flex;
}

.bottoms-container ul li {
  flex-basis: 25%;
}

@media screen and (max-width:768px) {
  .bottoms-container ul li {
    text-align: center;
  }
}

.bottoms-container ul li a {
  font-family: gilroy-bold;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: .25em;
  text-transform: uppercase;
  border-bottom: 1px solid #47363D;
  padding: 0 0 1%;
  color: #47363D;
  text-decoration: none;
}

@media screen and (max-width:414px) {
  .bottoms-container ul li a {
    font-size: 10px;
    line-height: 28px;
    letter-spacing: 4px;
  }
}