@import 'var.less';
@import 'classes.less';
@red: #FF1744;
@cta1-color: #fff;
@cta1-background: #E493CD;
@cta2-color: #fff;
@cta2-background: #4A556B;
@cta3-color: #fff;
@cta3-background: #58CCAD;
@cta4-color: #fff;
@cta4-background: #363B48;
@cta5-color: #fff;
@cta5-background: #58718F;
@cta6-color: #fff;
@cta6-background: #C1D065;

.container-black-friday {

	div {
		@media screen and (max-width: 430px) {}

		a {
			@media screen and (max-width: 1679px) {
				width: 12vw;
			}

			@media screen and (max-width:430px) {
				width: 43vw;
				margin: 0 0 4vw;
			}

			color: @cta1-color;
			width: 201px;

			&.cta1 {
				@media screen and (max-width:430px) {}

				// color: @cta1-color;
				background: @cta1-background;
			}

			&.cta2 {
				@media screen and (max-width:430px) {}

				// color: @cta1-color;
				background: @cta2-background;
			}

			&.cta3 {
				@media screen and (max-width:430px) {}

				// color: @cta3-color;
				background: @cta3-background;
			}

			&.cta4 {
				@media screen and (max-width:430px) {}

				// color: @cta4-color;
				background: @cta4-background;
			}

			&.cta5 {
				@media screen and (max-width:430px) {}

				// color: @cta4-color;
				background: @cta5-background;
			}

			&.cta6 {
				@media screen and (max-width:430px) {}

				// color: @cta5-color;
				background: @cta6-background;
			}
		}
	}
}