@import "../var.less";
@slideshow-font-color: #47363D;

@slideshow-1-h2-color: #2FAB9D;
@slideshow-1-cta-background: @slideshow-1-h2-color;

@slideshow-2-h2-color: #B75F96;
@slideshow-2-cta-background: @slideshow-2-h2-color;

@slideshow-3-h2-color: #E195C1;
@slideshow-3-cta-background: @slideshow-3-h2-color;

@slideshow-4-h2-color: #006A6E;
@slideshow-4-cta-background: @slideshow-4-h2-color;

@slideshow-5-h2-color: #F48080;
@slideshow-5-cta-background: @slideshow-5-h2-color;

@slideshow-h3-color: @slideshow-font-color;

@slideshow-p-color: @slideshow-font-color;

@slideshow-cta-color: #fff;
@slideshow-cta-background: #F1FF50;
