@import "../var.less";
@slideshow-font-color: #47363D;

@more-fun-in-the-sun-h2-color: #F27045;
@more-fun-in-the-sun-cta-background: @more-fun-in-the-sun-h2-color;

@prints-charming-h2-color: #31AB9D;
@prints-charming-cta-background: @prints-charming-h2-color;

@all-in-the-details-h2-color: #98B6D7;
@all-in-the-details-cta-background: @all-in-the-details-h2-color;

@now-for-adults-h2-color: #FD8D92;
@now-for-adults-cta-background: @now-for-adults-h2-color;

@extra-protection-h2-color: #B689C0;
@extra-protection-cta-background: @extra-protection-h2-color;

@slideshow-h3-color: @slideshow-font-color;

@slideshow-p-color: @slideshow-font-color;

@slideshow-cta-color: #fff;
@slideshow-cta-background: #F1FF50;

@bullets-color: #A36D52 !important;
@bullets-color-hover: #4765A1 !important;
