@import "../../var.less";

@c2-4-h2-color: #fff;
@c2-4-h2-text-align: center;
@c2-4-h3-color: #fff;
@c2-4-width: auto;
@c2-4-top: 50%;
@c2-4-top-431: 138vw;
@c2-4-left: 4%;
@c2-4-p-text-align: center;
@c2-4-cta-color: #fff;
@c2-4-cta-background: #2967B0;
@c2-4-cta-size: 288px;
@c2-4-cta-size-1679: 17vw;
@c2-4-cta-size-431: 67vw;
@c2-4-h2-font-family: @gilroyb !important;
@c2-4-transform: translate(0%, -50%);