@import "../var.less";
@c1-font-color: #fff;
@c1-h2-color: #fff;
@c1-h3-color: #fff;
@c1-p-color: #fff;
@c1-cta-color: #fff;
@c1-cta-background: #47363D;
@text-shadow: 0 0 10px rgba(0,0,0,0.5);

@c1-bullets-color: #fff;
@c1-bullets-color-hover: #47363D;

@import 'vars-promo/vars-promo.less';
@import 'vars-promo-2/vars-promo-2.less';
@import 'vars-rewear/vars-rewear.less';
@import 'vars-dresses/vars-dresses.less';
@import 'vars-new-arrivals/vars-new-arrivals.less';
@import 'vars-1/vars-1.less';
@import 'vars-2/vars-2.less';
@import 'vars-3/vars-3.less';
@import 'vars-4/vars-4.less';
@import 'vars-5/vars-5.less';

