// @freeShippingBg: #FDF5F2;
@freeShippingColor: #FFF;
@freeShippingBg: #4F6EB1;
// @freeShippingColor: #47363D;

.free-shipping-150 {
  background: @freeShippingBg;
  margin: 0 auto;
  //no promo
  // position: relative;
  //during promo
  position: fixed;
  padding: 0.1% 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  // display: none;

  .promos {
    background: @freeShippingBg;
    display: block !important;

    .promos-wrap {
      .promo2 {

        display: flex;
        justify-content: center;
        align-items: center;

      }

    }
  }

  a {
    text-decoration: none;
  }

  h2 {
    @media screen and (max-width: 1679px){
      font-size: 1.09vw;
    }
    @media screen and (max-width: 430px) {
      font-size: 2.8vw;
      line-height: 4vw;
    }

    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: @freeShippingColor;
    width:100%;

    span {
      @media screen and (max-width: 810px) {
        display: block;
      }
    }
  }
}


//zendesk
// #launcher {
//   @media screen and (max-width:1024px) {
//     bottom: 6% !important;
//   }
//   @media screen and (max-width:430px) {
//     bottom: 9% !important;
//   }
//   bottom: 3% !important;
// }