@promo3Bg: #58CCAD;
@promo3Color1: #373A49;
@promo3Color2: #fff;
@promo3Color3: #373A49;

&.promo3 {
    background: @promo3Bg;

    span {
        &.first {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
                // display: none;
            }

            color: @promo3Color1;
        }

        &.second {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.5vw;
            }

            i {

                &:first-of-type {
                    @media screen and (max-width: 430px) {
                        color: @promo3Color1;
                        display: inline;
                    }

                    color: @promo3Color1;
                }

                &:nth-of-type(2) {
                    @media screen and (max-width: 430px) {
                        // color: @promo3Color2;
                    }

                    color: @promo3Color2;
                }

                &:last-of-type {
                    @media screen and (max-width: 430px) {
                        display: inline;
                        color: @promo3Color2;
                    }

                    color: @promo3Color3;
                }

                &.mobile {
                    // display: inline !important;
                }

                font-style: normal;
            }

            color: @promo3Color2;
        }

        &.third {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
            }

            color: @promo3Color3;
            // text-decoration:underline;
        }

        &.shop-now {
            i {
                color: @promo3Color2;
            }
        }

        &.details {
            a {
                color: @promo3Color3;
            }
        }
    }
}