@promo1Bg:  #B23C46;
@promo1Color1: #fff;
@promo1Color2: #E2CA9B;
@promo1Color3: @promo1Color1;
@promo1Details: #fff;

&.promo1 {
    background: @promo1Bg;

    span {
        &.first {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
            }

            color: @promo1Color1;

            a {
                color: @promo1Color1;
            }
        }

        &.second {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
            }

            color: @promo1Color2;
            // text-decoration:underline;

            a {
                color: @promo1Color2;
            }
        }

        &.third {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
            }

            color: @promo1Color3;
            // text-decoration:underline;

            a {
                color: @promo1Color3;
            }
        }

        &.shop-now {
            i {
                color: @promo1Color2;
            }
        }

        &.details {
            a {
                color: @promo1Details;
            }
        }
    }
}