@import 'var.less';
@promo1Bg:  #FFE2DC;
@promo1Color1: #5D9FB1;
@promo1Color2: #6AB791;
@promo1Color3: #5D9FB1;
@promo1Details: #5D9FB1;

&.promo1 {
    background: @promo1Bg;
    // display: none;

    span {
        &.first {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
            }

            color: @promo1Color1;
            font-family: @gilroyb;

            a {
                color: @promo1Color1;
            }
        }

        &.second {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
            }

            color: @promo1Color2;
            font-family: @gilroyb;
            // text-decoration:underline;

            i {
                color: #fff;
                font-style: normal;
            }

            a {
                color: @promo1Color2;
            }
        }

        &.third {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
            }

            color: @promo1Color3;
            font-family: @gilroyb;
            // text-decoration:underline;

            a {
                color: @promo1Color3;
            }
        }

        &.shop-now {
            i {
                color: @promo1Color2;
            }
        }

        &.details {
            a {
                color: @promo1Details;
            }
        }
    }
}