@import 'var.less';
@promo2Bg: #363B48;
@promo2Color1: #C1D065;
@promo2Color2: #fff;
@promo2Color3: #C1D065;


&.promo2 {
    background: @promo2Bg;
    display:none;

    span {
        &.first {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
                display: block;
            }

            color: @promo2Color1;
            font-family: @gilroybl;
        }

        &.second {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
                display: block;
            }

            color: @promo2Color2;
            font-family: @gilroybl;
            // text-decoration: underline;
        }

        &.third {
            @media screen and (max-width: 1679px) {
                font-size: 1.2vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 2.8vw;
                display: block;
            }

            color: @promo2Color3;
            font-family: @gilroybl;
            // text-decoration:underline;
        }

        &.shop-now {
            i {
                color: @promo2Color2;
            }
        }

        &.details {
            @media screen and (max-width:430px) {
                top: 78%;
            }

            a {
                color: @promo2Color3;
            }
        }
    }
}