@promo1Bg: #365451;
@promo1Color1: #fff;
@promo1Color2: #DEED88;
@promo1Color3: @promo1Color1;
@promo1Details: @promo1Color1;
@promo2Bg: #f2efe3;
@promo2Color1: #d29217;
@promo2Color2: #065191;
@promo2Color3: #47363d;
@promo3Bg: #fff0f1;
@promo3Color1: #f66d67;
@promo3Color2: #d0a052;
@promo3Color3: #f66d67;

.header-banner {
  //background: @promo1Bg;
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.promos {
  // max-width: 1680px;
  // margin: 0 auto;
  // position: relative;
  display: none;
  background: @promo1Bg;

  .promos-wrap {
    max-width: 1680px;
    margin: 0 auto;
    position: relative;
  }

  .hp-promo,
  .the-promo {
    @media screen and (max-width: 1679px) {
      height: 3.9vw;
    }

    @media screen and (max-width: 428px) {
      // padding: 2% 0;
      height: 19vw;
    }

    // background: @backgroundColor;
    text-align: center;
    height: 65px;

    // padding: 2% 0;
    // padding: 0.8% 0;
    // display:none;
    // .see-details {
    //  display: block;
    //  text-align: center;
    // }
    a {
      text-decoration: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    span,
    span>a {
      @media screen and (max-width:1024px) {
        font-size: 16px;
        // line-height: 18px;
      }

      @media screen and (max-width:810px) {
        font-size: 12px;
        line-height: 18px;
      }

      @media screen and (max-width:428px) {
        font-size: 2.8vw;
        line-height: 4.2vw;
      }

      position: relative;
      font-family: gilroy-bold;
      // font-size: 12px;
      // line-height: 18px;
      // font-size: 25px;
      // line-height: 30px;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      &.span-wrap {
        left: 0;
      }

      &.first {
        @media screen and (max-width: 428px) {
          left: 0;
          display: block;
        }

        // left: -1%;
        // color: @fontColor1;
        position: relative;
        font-family: gilroy-bold;
      }

      &.second {
        @media screen and (max-width: 428px) {
          // display: block;
        }

        // color: @fontColor2;
      }

      &.third {
        @media screen and (max-width: 428px) {
          left: 0;
          display: inline;
        }

        left: 0;
      }

      &.shop-now {
        @media screen and (max-width: 428px) {
          left: 0;
        }

        left: 1%;
        text-align: center;
        border: none;
        position: relative;
        top: 0;

        i {
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 2px;
          font-family: gilroy-bold;
          text-transform: uppercase;
          font-style: normal;
          text-decoration: none;
          // color: #768ca3;
        }
      }

      &.details {
        @media screen and (max-width: 810px) {
          // left: 86%;
          // display: none;
        }

        @media screen and (max-width: 428px) {
          // left: 78%;
          left: 46%;
          top: 70%;
          transform: translate(-50%, 0);
          // position: relative;
          // display: block;
          // margin: 2% 0 0;
        }

        left: 91%;
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;

        a {
          @media screen and (max-width:810px) {
            font-size: 12px;
          }

          font-size: 15px;
          line-height: 18px;
          // color: #fff;
          text-decoration: none;
          font-family: gilroy-regular;
          text-transform: capitalize;
          letter-spacing: 0;
        }
      }
    }

    img {
      max-width: 100%;
    }

    &.promo1 {
      background: @promo1Bg;

      span {
        &.first {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 428px) {
            font-size: 2.8vw;
          }

          color: @promo1Color1;

          a {
            color: @promo1Color1;
          }
        }

        &.second {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 428px) {
            font-size: 2.8vw;
          }

          color: @promo1Color2;

          a {
            color: @promo1Color2;
          }
        }

        &.third {
          a {
            color: @promo1Color3;
          }

          color: @promo1Color3;
        }

        &.shop-now {
          i {
            color: @promo1Color2;
          }
        }

        &.details {
          a {
            color: @promo1Details;
          }
        }
      }
    }

    &.promo2,
    &.promo3 {
      display: none;
    }

    &.promo2 {
      background: @promo2Bg;

      span {
        &.first {
          color: @promo2Color1;
        }

        &.second {
          color: @promo2Color2;
        }

        &.shop-now {
          i {
            color: @promo2Color2;
          }
        }

        &.details {
          a {
            color: @promo2Color3;
          }
        }
      }
    }

    &.promo3 {
      background: @promo3Bg;

      span {
        &.first {
          color: @promo3Color1;
        }

        &.second {
          color: @promo3Color2;
        }

        &.shop-now {
          i {
            color: @promo3Color2;
          }
        }

        &.details {
          a {
            color: @promo3Color3;
          }
        }
      }
    }
  }
}