@promo1Bg: #F5968A;
@promo1Color1: #FFF;
@promo1Color2: #4F4344;
@promo1Color3: @promo1Color1;
@promo1Details: #fff;

@promo2Bg: #0088A2;
@promo2Color1: #fff;
@promo2Color2: #F3DD4F;
@promo2Color3: @promo2Color1;

@promo3Bg: #DE737B;
@promo3Color1: #fff;
@promo3Color2: #F6D3CB;
@promo3Color3: #ffff;

@shipping-promoBg: #00A5B6;
@shipping-promoColor1: #F3DD4E;
@shipping-promoColor2: #fff;
@shipping-promoColor3: #ffff;

.header-banner.homepage {
  max-width: 100%;
}

.header-banner {
  //background: @promo1Bg;
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


//? ON PDP PAGES REMOVING THE MARGIN BOTTOM OF THE SLIDER VERSION OF PROMO
.site-header .promos .bx-wrapper {
  margin-bottom: 0;
}

//? SHOW & HIDE CLONE OF .PROMOS 
header.site-header {
  .promos {
    display: none;
  }

  &.fixed {
    // height: auto;

    .promos {
      @media screen and (max-width: 991px) {
        display: none;
      }

      display: block;
    }

    .site-header-inner.container,
    .site-header-inner.homepage {
      background: #fff;
    }
  }
}

//? CHANGE THE TOP OF THE MOBILE FILTERS
/*
.category-page .content .mobile-filter-toggle-wrapper.fixed,
  .search-page .content .mobile-filter-toggle-wrapper.fixed {
    @media screen and (max-width: 991px){
      top: 10% !important;
    }
    @media screen and (max-width: 768px){
      // top: 9% !important;
    }
    @media screen and (max-width: 600px){
      top: 12% !important;
    }
    @media screen and (max-width: 430px){
      top: 15% !important;
    }
    @media screen and (max-width: 414px){
      top: 19% !important;
    }
    @media screen and (max-width: 411px){
      top: 17% !important;
    }
    @media screen and (max-width: 390px){
      top: 17% !important;
    }
    @media screen and (max-width: 376px){
      top: 21% !important;
    }
    @media screen and (max-width: 320px){
      top: 25% !important;
    }
   
  }
*/

.promos {
  // max-width: 1680px;
  // margin: 0 auto;
  // position: relative;
  // display: none;
  // background: @promo1Bg;

  .promos-wrap {
    // max-width: 1680px;
    margin: 0 auto;
    position: relative;
  }


  .the-promo {
    @media screen and (max-width: 1679px) {
      // height: 3.9vw;
    }

    @media screen and (max-width: 430px) {
      // padding: 2% 0;
      // height: 22vw;
      height: 65px;
    }

    // background: @backgroundColor;
    text-align: center;
    height: 65px;
    position:relative;

    //? for slideshow
    width:100% !important;

    // padding: 2% 0;
    // padding: 0.8% 0;
    // display:none;
    // .see-details {
    //  display: block;
    //  text-align: center;
    // }
    a {
      @media screen and (max-width: 430px) {
        // top: 44%;
      }

      text-decoration: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    span,
    span>a {
      @media screen and (max-width:1024px) {
        font-size: 16px;
        // line-height: 18px;
      }

      @media screen and (max-width:810px) {
        font-size: 12px;
        line-height: 18px;
      }

      @media screen and (max-width:430px) {
        font-size: 2.8vw;
        line-height: 4vw;
      }

      position: relative;
      font-family: gilroy-bold;
      // font-size: 12px;
      // line-height: 18px;
      // font-size: 25px;
      // line-height: 30px;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      &.span-wrap {
        left: 0;

        //! FOR PROMO BANNERS WITH NO URLS
        // text-decoration: none;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // width: 100%;
      }

      &.first {
        @media screen and (max-width: 430px) {
          left: 0;
          // display: none;
        }

        // left: -1%;
        // color: @fontColor1;
        position: relative;
        font-family: gilroy-bold;
      }

      &.second {
        @media screen and (max-width: 430px) {
          // display: block;
          display: inline;
        }

        // color: @fontColor2;
        i {

          &:first-of-type {
            @media screen and (max-width: 430px) {
              color: @promo2Color2;
            }

            color: @promo2Color1;
          }

          &:nth-of-type(2) {
            @media screen and (max-width: 430px) {
              color: @promo2Color1;
            }

            color: @promo2Color2;
          }

          &:last-of-type {
            @media screen and (max-width: 430px) {}

            color: @promo2Color3;
          }

          &.mobile {
            // display: inline !important;
          }

          font-style: normal;
        }
      }

      &.third {
        @media screen and (max-width: 430px) {
          // left: 0;
          display: none;
        }

        // left: 0;
      }

      &.shop-now {
        @media screen and (max-width: 430px) {
          left: 0;
        }

        left: 1%;
        text-align: center;
        border: none;
        position: relative;
        top: 0;

        i {
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 2px;
          font-family: gilroy-bold;
          text-transform: uppercase;
          font-style: normal;
          text-decoration: none;
          // color: #768ca3;
        }
      }

      &.details {
        @media screen and (max-width: 810px) {
          // left: 86%;
          // display: none;
        }

        @media screen and (max-width: 430px) {
          // left: 78%;
          left: 50%;
          // top: 74%;
          top: 70%;
          transform: translate(-50%, 0);
          // position: relative;
          // display: block;
          // margin: 2% 0 0;
        }

        left: 91%;
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;

        a {
          @media screen and (max-width:810px) {
            font-size: 12px;
          }

          font-size: 15px;
          line-height: 18px;
          // color: #fff;
          text-decoration: none;
          font-family: gilroy-regular;
          text-transform: capitalize;
          letter-spacing: 0;
          top:0;
          left:0;
        }
      }
    }

    img {
      max-width: 100%;
    }

    &.promo1 {
      background: @promo1Bg;

      span {
        &.first {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
          }

          color: @promo1Color1;

          a {
            color: @promo1Color1;
          }
        }

        &.second {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
          }

          color: @promo1Color2;
          // text-decoration:underline;

          a {
            color: @promo1Color2;
          }
        }

        &.third {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
          }

          color: @promo1Color3;
          // text-decoration:underline;

          a {
            color: @promo1Color3;
          }
        }

        &.shop-now {
          i {
            color: @promo1Color2;
          }
        }

        &.details {
          a {
            color: @promo1Details;
          }
        }
      }
    }


    &.promo2 {
      background: @promo2Bg;

      span {
        &.first {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
          }

          color: @promo2Color1;
        }

        &.second {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
          }

          color: @promo2Color2;
          // text-decoration: underline;
        }

        &.third {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
          }

          color: @promo2Color3;
          // text-decoration:underline;
        }

        &.shop-now {
          i {
            color: @promo2Color2;
          }
        }

        &.details {
          a {
            color: @promo1Details;
          }
        }
      }
    }

    &.promo3 {
      background: @promo3Bg;

      span {
        &.first {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
            display: none;
          }

          color: @promo3Color1;
        }

        &.second {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.5vw;
          }

          i {

            &:first-of-type {
              @media screen and (max-width: 430px) {
                color: @promo3Color1;
                display: inline;
              }
  
              color: @promo3Color2;
            }
  
            &:nth-of-type(2) {
              @media screen and (max-width: 430px) {
                // color: @promo3Color2;
              }
  
              color: @promo3Color2;
            }
  
            &:last-of-type {
              @media screen and (max-width: 430px) {
                display: inline;
                color: @promo3Color2;
              }
  
              color: @promo3Color3;
            }
  
            &.mobile {
              // display: inline !important;
            }
  
            font-style: normal;
          }

          color: @promo3Color2;
        }

        &.third {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
          }

          color: @promo3Color3;
          // text-decoration:underline;
        }

        &.shop-now {
          i {
            color: @promo3Color2;
          }
        }

        &.details {
          a {
            color: @promo1Details;
          }
        }
      }
    }

    &.shipping-promo {
      background: @shipping-promoBg;

      span {
        &.first {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
          }

          color: @shipping-promoColor1;
        }

        &.second {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
          }

          color: @shipping-promoColor2;
        }

        &.third {
          @media screen and (max-width: 1679px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 430px) {
            font-size: 2.8vw;
          }

          color: @shipping-promoColor3;
          // text-decoration:underline;
        }

        &.shop-now {
          i {
            color: @shipping-promoColor2;
          }
        }

        &.details {
          a {
            color: @promo1Details;
          }
        }
      }
    }
  }
}