.sailthru-h2 {
	text-align: center;
	color: #47363D;
	font-family: 'Gilroy-Regular';
	font-size: 26px;
	font-size: 1.625rem;
	line-height: 39px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0;
	display: none;
}

.mobile {
	@media screen and (max-width: 415px) {
		display: block;
	}
	display: none;
}

.sailthru-list {
	list-style-type: none;
	// display: flex;
	// flex-wrap: wrap;
	a {
		text-decoration: none;
	}

	li {
		// flex-basis: 10%;
		// padding: 1%;
		a {
			img {}
		}

		h3 {
			margin: 5px 0 0;
			line-height: 21px;
			text-align: left;

			a {
				color: #47363D;
				font-family: 'Gilroy-Bold';
				font-size: 14px;
				font-size: 0.875rem;
				line-height: 21px;
				letter-spacing: 0.5px;
				text-decoration: none;
			}
		}

		p {
			color: #47363D;
			font-family: 'Gilroy-Regular';
			font-size: 14px;
			font-size: 0.875rem;
			line-height: 21px;
			letter-spacing: 0.5px;
			margin: 5px 0;

			span {
				&.sale_price {
					color: #D94D52;
				}
			}
		}
	}
}

.sailthru-pdps {
	.bx-wrapper {
		.bx-next,
		.bx-prev {
			background: none !important;
			text-decoration: none !important;

			span {
				display: block;
				text-indent: initial;
				font-size: 20px;
				font-size: 1.25rem;
			}
		}
	}
}