@import "../../var.less";

@c1-5-h2-font-family: @gilroyb !important;

@c1-5-h2-color: #fff;
@c1-5-h3-color: #fff;
@c1-5-p-color: #fff;
@c1-5-h3-color: #fff;

@c1-5-h3-font-size: 18px;
@c1-5-h3-letter-spacing: 4px;
@c1-5-h3-font-size-1679: 1.1vw;
@c1-5-h3-letter-spacing-1679: .4vw;

// @c1-5-text-shadow: 0 0 10px rgba(0,0,0,0.5);
@c1-5-text-shadow: none;

@c1-5-top: 48%;
@c1-5-left: 4%;
@c1-5-h3-top-430: 139vw;

@c1-5-the-flex-top-430: 37vw;

@c1-5-transform: translate(0%, -50%);

@c1-5-width: 35%;

@c1-5-cta-color: #fff;
@c1-5-cta-background: #205D7D;

@c1-5-cta-size: 203px;
@c1-5-cta-size-1679: 12vw;
@c1-5-cta-size-431: 43.5vw;
