@import "../../var.less";

@c1-5-h2-color: #fff;
@c1-5-h3-color: #fff;
@c1-5-font-family: @gilroyb !important;
@c1-5-top: 50%;
@c1-5-left: 50%;
@c1-5-transform: translate(-50%, -50%);
@c1-5-width: 50%;
@c1-5-cta-color: #4765A1;
@c1-5-cta-background: #E2E12A;
@c1-5-cta-size: 203px;
@c1-5-cta-size-1679: 12vw;
@c1-5-cta-size-431: 43.5vw;
