@import "../../var.less";

@c1-5-h2-font-family: @souv !important;

@c1-5-h2-color: #47363D;
@c1-5-h3-color: #833F30;
@c1-5-p-color: #47363D;
@c1-5-h3-color: #833F30;

@c1-5-h3-font-size: 31px;
@c1-5-h3-letter-spacing: 6.2px;
@c1-5-h3-font-size-1679: 1.9vw;
@c1-5-h3-letter-spacing-1679: .4vw;

@c1-5-text-shadow: none;

@c1-5-top: 50%;
@c1-5-left: 50%;
@c1-5-h3-top-430: 139vw;

@c1-5-the-flex-top-430: 71vw;

@c1-5-transform: translate(-50%, -50%);

@c1-5-width: 50%;

@c1-5-cta-color: #fff;
@c1-5-cta-background: #47363D;

@c1-5-cta-size: 203px;
@c1-5-cta-size-1679: 12vw;
@c1-5-cta-size-431: 43.5vw;
