@import 'var.less';
@c1-color: #437282;
@c1-cta-color: #E3918C;

.c1 {
  @media screen and (max-width:428px) {
    //background: @background;
  }
  position: relative;

  a {
    text-decoration: none;
  }

  .the-content {
    @media screen and (max-width:428px) {
      width: 100%;
      top: 5%;
      left: 0;
      //position: relative;
      padding: 0 0 9%;
    }
    position: absolute;
    top: 12%;
    left: 39%;
    width: 22%;
    text-align: center;

    img {
      margin: 0 0 10%;
      width: 30%;
    }

    h2 {
      @media screen and (max-width:428px) {
        // display: none;
        margin: 0 0 6%;
      }
      color: @c1-color;
    }

    p {
      @media screen and (max-width:428px) {
        margin: 4% auto 0;
        width: 66%;
      }
      margin: 6% auto 0;
      width: 79%;
      color: @c1-color;
    }

    div {
      @media screen and (max-width: 1679px) {
        margin: 5% 0 0;
      }
      @media screen and (max-width:428px) {
        margin: 7% 0 0;
        text-align: center;
      }
      margin: 7% 0 0;

      a {
        color: @c1-cta-color;
        position: relative;

        &.cta1 {
          left: -4%;
        }

        &.cta2 {
          left: 4%;
        }

        &.cta3 {
          left: -4%;
        }

        &.cta4 {
          left: 4%;
        }
      }

      span {
        color: @c1-cta-color;
      }
    }
  }
}