@c2-color: #F7AB98;
@c2-cta-color: #437282;

.c2 {
  @media screen and (max-width:428px) {
    padding: 8% 0 18%;
  }
  padding: 4% 5%;
  flex-basis: 100%;
  text-align: center;

  h2 {
    @media screen and (max-width: 1679px) {
      font-size: 1.7vw;
    }
    @media screen and (max-width:428px) {
      font-size: 5vw;
    }
    text-transform: uppercase;
    font-family: gilroy-bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.25em;
    color: @c2-color;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    a {
      @media screen and (max-width:428px) {
        flex-basis: 50%;
      }
      flex-basis: 25%;
      color: @c2-cta-color;

      span {
        @media screen and (max-width:428px) {
          margin: 7% 0 0;
        }
        margin: 3% 0 0;
      }
    }
  }
}