@import 'var.less';
@c3-h2-color: #E2908C;
@c3-color1: #E2908C;
@c3-color2: #6D8995;
@c3-color3: #6D8995;
@c3-color4: #E2908C;
@c3-background: #FDF5F2;

.c3 {
  @media screen and (max-width: 414px) {
    padding: 12% 0 6%;
  }
  padding: 4% 13%;
  background: @c3-background;
  text-align: center;

  h2 {
    @media screen and (max-width: 414px) {}
    color: @c3-h2-color;
    margin: 0 0 5%;
  }

  div {
    display: flex;
    flex-wrap: wrap;

    a {
      &.cell1 {
        h3,
        p {
          color: @c3-color1;
        }

        p {
          width: 70%;
        }
      }

      &.cell2 {
        h3,
        p {
          color: @c3-color2;
        }

        p {
          width: 70%;
        }
      }

      &.cell3 {
        h3,
        p {
          color: @c3-color3;
        }

        p {
          width: 72%;
        }
      }

      &.cell4 {
        h3,
        p {
          color: @c3-color4;
        }

        p {
          width: 78%;
        }
      }

      &.cell1,
      &.cell2,
      &.cell3,
      &.cell4 {
        p {
          @media screen and (max-width: 414px) {
            width: 100%;
            padding: 0 2%;
          }
        }
      }
      @media screen and (max-width:414px) {
        flex-basis: 100%;
      }
      flex-basis: 50%;
      text-decoration: none;

      img {
        @media screen and (max-width: 414px) {
          padding: 3%;
        }
        // display: block;
        padding: 0 3%;
      }

      h3 {
        @media screen and (max-width: 1679px) {
          font-size: 1.7vw;
        }
        @media screen and (max-width:414px) {
          font-size: 5.3vw;
        }
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        font-family: @gilroyb;
        margin: 5% 0 2%;
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.1vw;
          line-height: 1.4vw;
        }
        @media screen and(max-width:414px) {
          font-size: 3.8vw;
          line-height: 4.4vw;
        }
        font-size: 18px;
        line-height: 22px;
        width: 68%;
        margin: 0 auto 5%;
      }
    }
  }
}