@import 'var.less';

.c4 {
    position: relative;

    .the-content {
        @media screen and (max-width: 414px) {
            width: 100%;
            top: 6%;
            left: 0;
        }

        position: absolute;
        top: 29%;
        left: 39%;
        width: 22%;
        text-align: center;

        h2 {
            @media screen and (max-width: 414px) {
                width: 100%;
                margin: 0 auto;
                color: @ctaColor;
            }

            width: 90%;
            margin: 0 auto;
            color:#fff;
        }

        p {
            @media screen and (max-width: 414px) {
                margin: 144% auto 0;
                width: 67%;
            }

            margin: 6% auto 0;
            width: 79%;
            color: @ctaColor;
        }

        div {
            @media screen and (max-width: 414px) {
                margin: 3% 0 0;
                text-align: center;
            }

            margin: 11% 0 0;

            span {
                color: @ctaColor;

            }
        }
    }
}