.sc-102xyuw-2.hlRZpQ,
.sc-102xyuw-2.dwIbpT,
.sc-102xyuw-2.bvrpNz,
.sc-1k5wq32-0.cCKYjo, .sc-1glg9ch-3.iFzDLz {
    font-family: souvenirstd-light;
    letter-spacing: .2em;
}



#crl8-gallery-LWL680Gu-multisize-grid .oMYOY *,
#crl8-gallery-LWL680Gu-multisize-grid-modal .oMYOY *,
#crl8-gallery-LWL680Gu-multisize-grid-uploader .oMYOY *,
#crl8-product-carousel .hhzOON *,
#crl8-product-carousel-modal .hhzOON *,
#crl8-product-carousel-uploader .hhzOON *,
#crl8-homepage-carousel .ePeBGZ,
#crl8-homepage-carousel-modal .ePeBGZ,
#crl8-homepage-carousel-uploader .ePeBGZ {
    font-family: souvenirstd-light;
    letter-spacing: .1em;
}

//home page curalate

.sc-102xyuw-2.bvrpNz {
    @media screen and (max-width: 1679px) {
        font-size: 1.6vw;
        line-height: 1.6vw;
    }

    @media screen and (max-width:414px) {
        font-size: 6vw;
        margin: 12% 0 0;
    }

}

.sc-16vgk2j-0.sc-1717v0r-2.aZQbX {
    @media screen and (max-width: 1679px) {
        font-size: 1vw !important;
    }

    @media screen and (max-width: 768px) {
        // padding: 0 0 1%;
        // font-size: 2vw;
    }

    @media screen and (max-width: 414px) {
        font-size: 4vw !important;
    }

    font-family: gilroy-bold !important;
    letter-spacing: 0.2em;
    border-bottom: 2px solid !important;
    padding: 0 0 0.1% !important;
    font-size: 15px !important;
    line-height: 28px !important;
}

div[data-crl8-container-id="homepage"] {
    padding: 2% 0;
    background: #fff;
}