.desktop {
    @media screen and (max-width: 414px) {
        display: none;
    }
}

.mobile {
    @media screen and (max-width: 414px) {
        display: inline;
    }

    display: none;
}

.content-wrap {
    @media screen and (max-width: 414px) {
        margin: 0 0 4%;
    }

    margin: 0 0 2%;
    text-align: center;

    img {
        max-width: 100%;
    }
}