@import "../../var.less";

@c1-promo-h2-font-family: @kalakala !important;
@c1-promo-h2-color: #fff;
@c1-promo-h2-color-430: #fff;
@c1-promo-h2-font-size-430: 19vw;
@c1-promo-h2-line-height-430: 9vw !important;
@c1-promo-h3-font-size: 32px;
@c1-promo-h3-font-size-1679: 2vw;
@c1-promo-h3-font-size-430: 3.5vw;
@c1-promo-h3-color: #fff;
@c1-promo-h3-color-430: #fff;
@c1-promo-h3-line-height-430: 5vw;
@c1-promo-transform: translate(-50%, -50%) !important;
@c1-promo-top: 50%;
@c1-promo-left: 50%;
@c1-promo-right: 8%;
@c1-promo-the-flex-430: 27vw;
@c1-promo-cta-color: #fff;
@c1-promo-cta-color-430: @c1-promo-cta-color;
@c1-promo-cta-background:  #3F4549;
@c1-promo-cta-background-430: @c1-promo-cta-background;
@c1-promo-cta-size: 203px;
@c1-promo-cta-size-1679: 12vw;
@c1-promo-cta-size-430: 32.5vw;
@c1-promo-cta-height-430: 7vw;