@import "../../var.less";

@c1-promo-h2-font-family: @gilroyb !important;
@c1-promo-h2-color: #fff;
@c1-promo-h2-color-431: @c1-promo-h2-color;
@c1-promo-h2-font-size-431: 19vw; 
@c1-promo-h2-line-height-431: 9vw !important; 
@c1-promo-h3-color: @c1-promo-h2-color;
@c1-promo-h3-color-431: @c1-promo-h3-color;
@c1-promo-h3-line-height-431: 5vw;
@c1-promo-transform: translate(0%, -55%) !important;
@c1-promo-top: 50%;
@c1-promo-left: 63%;
@c1-promo-right: 8%;
@c1-promo-top-431: 137vw;
@c1-promo-cta-color: #fff;
@c1-promo-cta-color-431: @c1-promo-cta-color;
@c1-promo-cta-background: #4261A6;
@c1-promo-cta-background-431: @c1-promo-cta-background;
@c1-promo-cta-size: 203px;
@c1-promo-cta-size-1679: 12vw;
@c1-promo-cta-size-431: 43.5vw;
