@import "../../var.less";

@c1-promo-h2-font-family: @dumpling !important;
@c1-promo-h2-color: #fff;
@c1-promo-h2-color-430: #fff;
@c1-promo-h2-font-size-430: 10vw !important;
@c1-promo-h2-line-height-430: 9vw !important;
@c1-promo-h3-font-size: 39px;
@c1-promo-h3-font-size-1679: 2.3vw;
@c1-promo-h3-font-size-430: 7vw !important;
@c1-promo-h3-color: #fff;
@c1-promo-h3-color-430: #fff;
@c1-promo-h3-line-height-430: normal;
@c1-promo-p-color: #47363D;
@c1-promo-p-font-size-430: 4.6vw;
@c1-promo-transform: translate(-50%, -50%) !important;
@c1-promo-top: 48%;
@c1-promo-left: 21%;
@c1-promo-right: 8%;
@c1-promo-width: 27%;
@c1-promo-the-flex-430: 133vw;
@c1-promo-cta-color: #fff;
@c1-promo-cta-color-430: @c1-promo-cta-color;
@c1-promo-cta-background: #F4BD67;
@c1-promo-cta-background-430: @c1-promo-cta-background;
@c1-promo-cta-size: 203px;
@c1-promo-cta-size-1679: 12vw;
@c1-promo-cta-size-430: 37.5vw;
@c1-promo-cta-height-430: 7vw;