// @import "var.less";

.c3 {
  @media screen and (max-width: 431px) {
    flex-wrap: wrap;
    // background: #E8C3CA;
    padding: 0;
  }

  display: flex;
  padding: 0;
  text-align: center;
  // background: @background;
  // flex-wrap: wrap;

  // @import "c3-3-column.less";
  @import "c3-full.less";

}