@import "../var.less";
@c2-font-color: #fff;
@c2-cta-color: #fff;
@c2-cta-background: #4261A6;
@c2-h3-color-430: @c2-font-color;


.c2 {
    @media screen and (max-width: 430px) {
        flex-wrap: wrap;
        // background: #E8C3CA;
        padding: 0;
    }

    padding: 0;
    text-align: center;
    position:relative;

    // flex-wrap: wrap;
    div {
        @media screen and (max-width:1679px) {
            padding: 1vw;
        }
        @media screen and (max-width:430px) {
            padding: 0;
        }

        text-align: center;
        box-sizing: border-box;
        flex-basis: 34%;
        // flex-basis: 50%;
        padding: 0 1vw;
        position: relative;

        a {
            text-decoration: none;
        }

        h3 {
            @media screen and (max-width: 1679px) {
                letter-spacing: .2vw;
            }
            @media screen and (max-width:430px) {
                // color: @c2-h3-color-430;
                letter-spacing: 1vw;
            }
            letter-spacing: 4px;
        }

        h2 {
            @media screen and (max-width: 1679px) {
                font-size: 4.8vw;
                line-height: 4.8vw;
            }

            @media screen and (max-width:430px) {
                font-size: 9vw;
                line-height: 9vw;
                // color: @c2-cta-background;
                margin: 8vw 0;
                // line-height: 10.5vw;
            }

            font-family: @souv;
            font-size: 80px;
            text-transform: capitalize;
            line-height: 80px;
            // letter-spacing: 0.1rem;
            color: @c2-font-color;
            margin: 4% 0;
            // text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
            // text-align:left;
        }

        p {
            @media screen and (max-width: 1679px) {
                font-size: 1.5vw;
                // line-height: 1.7vw;
            }

            @media screen and (max-width: 430px) {
                font-size: 6vw;
                // line-height: 7.4vw;
                margin: 0 0 8vw;
                display: none;
            }

            // text-align: left;
            margin: 4% auto;
            color: @c2-font-color;
            text-transform: none;
            font-size: 25px;
            line-height: normal;
            // width: 100%;
            font-family: @souv;
            // text-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
        }

        &.the-content {
            @media screen and (max-width: 430px) {
                width: 100%;
                // margin: 10% 0 0 !important;
                top: 26vw;
                // left:0;
            }

            margin: 0;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: auto;

            h2 {
                @media screen and (max-width: 1679px) {}

                @media screen and (max-width:430px) {}
            }

            

            div {
                @media screen and (max-width: 430px) {
                    // display: flex;
                    // flex-wrap: wrap;
                    // justify-content: center;
                    // margin: 110% 0 0;
                    top: 93vw;
                }


                margin: 0;

                a {
                    @media screen and (max-width:1679px) {
                        width: 16vw;
                    }

                    @media screen and(max-width: 430px) {
                        width: 48vw;
                    }

                    background: @c2-cta-background;
                    color: @c2-cta-color;   
                    width: 265px;
                }
            }
        }

    }
}