@import "var.less";
@c1-font-color: #fff;
@c1-h2-color: #fff;
@c1-p-color: #fff;
@c1-cta-color: #fff;
@c1-cta-background: #31AB9D;

.c1 {
  @media screen and (max-width: 430px) {}

  position: relative;
  width: 100%;


  div {
    &.the-content {
      @media screen and (max-width: 430px) {
        width: 100%;
        left: 0;
        top: 11vw;
        transform: translateX(0);

      }

      position: absolute;
      top: 50%;
      width: 29%;
      left: 8%;
      transform: translate(0%, -49%);
      text-align: center;

      a,
      a,
      h2,
      p {
        // color: @c1-font-color;
        font-family: @souv;
        margin: 0 auto;
      }

      h3 {
        @media screen and (max-width: 1679px) {
          font-size: 1.1vw;
          line-height: 1.6vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 4.2vw;
          // margin: 8vw 0 0;
          color: #fff;
        }

        color: @c1-font-color;
        font-family: @gilroyb;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0 0 1vw;
      }

      h2 {
        @media screen and (max-width: 1679px) {
          font-size: 5vw;
          line-height: 5vw;
        }

        @media screen and (max-width: 430px) {
          line-height: 12vw;
          font-size: 12vw;
          margin: 4% 0;

        }

        // margin: 5% 0 0;
        text-transform: capitalize;
        color: @c1-h2-color;
        line-height: 80px;
        // font-family: @souv;
        font-family: @gilroyb;
        font-size: 80px;
        margin: 0;
        // letter-spacing: 0.25em;
      }

      p {
        @media screen and (max-width: 1679px) {
          font-size: 1.5vw;
          line-height: 2vw;
        }

        @media screen and (max-width: 430px) {
          font-size: 4vw;
          line-height: 6vw;
          width: 100%;
          margin: 5% auto;
          text-shadow: none;
          color: @c1-p-color;
          display: none;
        }

        margin: 1vw auto;
        color: #fff;
        text-transform: none;
        font-size: 25px;
        line-height: 30px;
        // letter-spacing: 1px;
        width: 100%;
        font-family: @souv;
        // text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
      }

      div {
        @media screen and (max-width: 430px) {
          row-gap: 4vw;
          column-gap: 4vw;
          top: 91vw;
          position: absolute;
        }

        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        row-gap: 1vw;
        column-gap: 1vw;
        justify-content: center;

        a {
          @media screen and (max-width: 1679px) {
            width: 12vw;
          }

          @media screen and (max-width: 430px) {
            width: 42.5vw;
          }

          font-family: @gilroyb;
          color: @c1-cta-color;
          background: @c1-cta-background;
          width: 203px;
          margin:0;

          &.cta1 {
            @media screen and (max-width: 430px) {}

          }

          &.cta2 {
            @media screen and (max-width: 430px) {}


          }

          &.cta3 {
            @media screen and (max-width: 430px) {}
          }
        }
      }
    }
  }
}