@import '../var.less';
@import '../classes.less';
@red: #FF1744;
@cta1-color: #fff;
@cta1-background: #8F4786;
@cta2-color: #fff;
@cta2-background: #EC5051;
@cta3-color: #fff;
@cta3-background: #EE8484;
@cta4-color: #fff;
@cta4-background: #EE8484;
@cta5-color: #fff;
@cta5-background: #8FA3BC;
@cta6-color: #fff;
@cta6-background: #E5E5E5;

.container-promo-header {

	div {
		&.the-content {
			@media screen and (max-width:430px) {
				width: 100%;
				transform: translate(-50%, 0%);
				top: 36%;
				left: 50%;
			}

			width: auto;
			left: 42%;
			top: 50%;
			transform: translate(0%, -50%);

			.the-5th-cta {
				@media screen and (max-width: 430px) {
					display: block;
					margin: 0 0 6vw;
				}

				display:none;

				a {
					color: @cta1-color;

					&.cta1 {
						@media screen and (max-width:430px) {
							// margin: 0;
							// display:none;
						}

						// color: @cta4-color;
						background: @cta1-background;
					}

				}
			}

			.the-grid {
				@media screen and (max-width: 430px) {
					grid-template-columns: repeat(2, 1fr);
					grid-template-rows: repeat(1, 1fr);
					column-gap: 5%;
					row-gap: 12%;
					// top:40%;
				}

				grid-template-columns: repeat(5, 1fr);
				grid-template-rows: repeat(1, 1fr);
				column-gap: 2%;
				// row-gap: 0%;

				a {
					@media screen and (max-width: 1679px) {
						// font-size: 0.9vw;
						// width: 11.1vw;
						// height: 2.6vw;
					}

					@media screen and (max-width:430px) {
						// font-size: 3.3vw;
						// width: 24vw;
						// height: 11vw;
						// margin: 0 3% 3% 0;
					}

					color: @cta1-color;
					// margin: 0 2% 0 0;
					// width: 186px;
					// height: 43px;

					&.cta1 {
						@media screen and (max-width:430px) {
							// margin: 0 4% 4% 0;
						}

						// color: @cta1-color;
						background: @cta1-background;
						// margin: 0 2% 0 0;
					}

					&.cta2 {
						@media screen and (max-width:430px) {
							// margin: 0 0 4% 0;
						}

						// color: @cta1-color;
						background: @cta2-background;
						// margin: 0 2% 0 0;
					}

					&.cta3 {
						@media screen and (max-width:430px) {
							// margin: 0 4% 4% 0;
						}

						// color: @cta3-color;
						background: @cta3-background;
						// margin: 0 2% 0 0;
					}

					&.cta4 {
						@media screen and (max-width:430px) {
							// margin: 0 0 4% 0;
						}

						// color: @cta4-color;
						background: @cta4-background;
						// margin: 0 2% 0 0;
					}

					&.cta5 {
						@media screen and (max-width:430px) {
							// margin: 0;
							// display:none;
						}

						// color: @cta4-color;
						background: @cta5-background;
					}

					&.cta6 {
						@media screen and (max-width:430px) {
							margin: 0;
						}

						// color: @cta5-color;
						background: @cta5-background;
					}
				}
			}
		}
	}
}