@import "../var.less";
@c6-h2-font-color: #fff;
@c6-h2-font-color-430: @c6-h2-font-color;
@c6-h3-font-color: @c6-h2-font-color;
@c6-p-color: @c6-h2-font-color;
@c6-font-color: @c6-h2-font-color;
@c6-cta-color: #fff;
@c6-cta-background: #31AB9D;

.c6 {
    @media screen and (max-width: 430px) {
        padding: 0;
        // background: @background;
    }

    // text-align: center;
    position:relative;
    min-height: auto;
    // flex-wrap: wrap;
    // background: #FDF5F2;

    div {

        @media screen and (max-width:1679px) {
            padding: 2vw 1vw 1vw;
        }

        @media screen and (max-width:430px) {
            padding: 0;
        }

        overflow: hidden;
        padding:0;
        position: relative;

        a {
            text-decoration: none;
        }

        .the-content {
            @media screen and (max-width:430px) {
                width: 100%;
                left: 0;
                text-align: center;
                top: 12vw;
                transform: translate(0);
                padding: 1vw 0 0;
                height: 100%;
            }

            // margin: 7% 0 0;
            text-align: center;
            width: auto;
            left: 64%;
            top: 50%;
            transform: translate(0%, -50%);
            position:absolute;

            h2 {
                @media screen and (max-width: 1679px) {
                    font-size: 5vw;
                    line-height: 5vw;
                }

                @media screen and (max-width: 430px) {
                    font-size: 7vw;
                    margin: 0 0 5vw;
                    text-align: center;
                    font-size: 10vw;
                    line-height: 10vw;
                }

                @media screen and (max-width:320px) {
                    // margin: 4% 0 0;
                }

                // text-align: left ;
                // letter-spacing: 4px;
                // text-transform: capitalize;
                color: @c6-h2-font-color;
                font-size: 54px;
                line-height: normal;
                font-family: @souv ;
                margin: 0 0 1vw;
                text-shadow: 0 0 14px rgba(0, 0, 0, .3);
            }

            h3 {
                @media screen and (max-width: 1679px) {
                    font-size: 1.1vw;
                    line-height: 1.6vw;
                }

                @media screen and (max-width: 430px) {
                    font-size: 4.2vw;
                    margin: 0 0 4vw;
                    color: #fff;
                    text-align: center;
                }

                color: @c6-h3-font-color;
                font-family: @gilroyb;
                font-size: 18px;
                line-height: 28px;
                // text-align: left ;
                letter-spacing: 4px;
                text-transform: uppercase;
                margin: 0 0 1vw;
                text-shadow: 0 0 14px rgba(0, 0, 0, .3);
            }

            p {
                @media screen and (max-width: 1679px) {
                    font-size: 1.5vw;
                    line-height: 1.7vw;
                }

                @media screen and (max-width: 430px) {
                    font-size: 4.5vw;
                    line-height: normal;
                    // margin: 0 0 8vw;
                    // display: none;
                }

                // text-align: left;
                margin: 4% auto;
                color: @c6-p-color;
                text-transform: none;
                font-size: 25px;
                line-height: 30px;
                width: 100%;
                font-family: @souv;
                // text-shadow: 0 0 14px rgba(0, 0, 0, .3);
            }

            div {
                @media screen and (max-width: 430px) {
                    margin: 2vw 0 0;
                }

                a {
                    @media screen and (max-width: 1679px) {}

                    @media screen and (max-width: 430px) {}

                    font-family: @gilroyb;
                    color: @c6-cta-color;
                    background: @c6-cta-background;

                }
            }

        }

    }
}