@bf-font-color: #E493CD !important;
@cm-font-color: #556A82 !important;
@hfs-font-color: #A18CBA !important;
// @new-font-color: #436FC1 !important;
@new-font-color: #58CCAD !important;
@sale-font-color: #FF0009 !important;


.black-friday {
	float: none !important;
	color: @bf-font-color;

	&:hover:before {
		background-color: @bf-font-color;
		;
	}

	li {
		padding: 10px 0 10px 10px !important;

		a {
			color: @bf-font-color;

			&:hover:before {
				background-color: @bf-font-color;
			}
		}
	}
}

.holiday-flash-sale-nav {

	color: @hfs-font-color;
	text-transform: uppercase !important;

	&:before {
		// content: '✨' !important;
		// position: relative !important;
		// left: 0 !important;
		// top: 0 !important;
		// opacity: 1 !important;
		// height: auto !important;
		// background: none !important;
		// display: inline !important;
	}

	&:after {
		// content: '✨';
	}

	&:hover:before {
		// content: '' !important;
		background-color: @hfs-font-color;
	}
	
}

//? MOBILE MENU CSS FONT COLORS
.bf-font-color-mobile {
	color: @bf-font-color;

	&:hover:before {
		background-color: @bf-font-color;
	}
}

.cm-font-color-mobile {
	color: @cm-font-color;

	&:hover:before {
		background-color: @cm-font-color;
	}
}

.new-arrivals-font-color-mobile {
	color: @new-font-color;
}

.sale-font-color-mobile {
	color: @sale-font-color;
}



.cta-border {
	@media screen and (max-width: 1679px) {
		font-size: 0.9vw;
	}

	@media screen and (max-width: 430px) {
		font-size: 3vw;
		// padding: 3% 0;
		// width: 36%;
	}

	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	// padding: 2.5% 4%;
	font-family: gilroy-bold;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.2em;
	color: #FFFFFF;
	// width: 14%;
}

.a {
	@media screen and (max-width: 1679px) {
		width: 10.7vw;
		height: 2.7vw;
	}

	@media screen and (max-width: 430px) {
		width: 43.5vw;
		height: 11vw;
		padding: 0;
	}

	width: 180px;
	height: 45px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	position: relative;
}

.kidizen-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 9999;
	opacity: 0.5;
}

.kidizen-content {
	@media screen and (max-width: 1679px) {
		width: 39vw;
		height: 25vw;
	}

	@media screen and (max-width: 430px) {
		width: 100vw;
		height: 116vw;
		top: 11%;
		left: 0;
		transform: translate(0);
	}

	position: fixed;
	width: 649px;
	height: 420px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FDF5F2;
	z-index: 99999;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	img {
		&.kidizen-close {
			position: absolute;
			top: 5%;
			right: 3%;
			filter: contrast(0%);

			&:hover {
				cursor: pointer;
			}
		}

		&.tea-rewear-logo {
			@media screen and (max-width: 1679px) {
				width: 24vw;
			}

			@media screen and (max-width: 430px) {
				width: 83vw;
			}

			width: 403px;
		}
	}

	p {
		@media screen and (max-width: 1679px) {
			font-size: 1.4vw;
			line-height: 2vw;
			// letter-spacing: 0.6vw;
		}

		// @media screen and (max-width: 810px) {
		//   font-size: 2.9vw;
		//   line-height: 4.1vw;
		// }
		@media screen and (max-width: 430px) {
			font-size: 5.6vw;
			line-height: 8vw;
		}

		font-family: gilroy-regular;
		font-size: 24px;
		line-height: 34px;
		text-align: center;
		// letter-spacing: 0.01em;
		// color: #FFFFFF;
		flex-basis: 100%;
	}

	a {
		@media screen and (max-width:1679px) {
			width: 13vw;
		}

		@media screen and (max-width: 430px) {
			width: 51vw;
		}

		background: #E8E511;
		width: 219px;
		color: #47363D;

		&:hover {
			// color: #fff;
		}
	}
}

.desktop {
	@media screen and (max-width: 430px) {
		display: none;
	}
}

.mobile {
	@media screen and(max-width: 430px) {
		display: block;
	}

	display: none;
}

.promo-submenu {
	@media screen and (max-width:810px) {
		font-size: 0.875rem !important;
	}
}

.flex-menu {
	display: flex !important;
	flex-wrap: nowrap !important;
	padding: 2% 3% !important;
	justify-content: space-between;
}

.panel,
.panel-1,
.panel-2,
.panel-3,
.panel-4 {
	width: auto !important;
	float: none !important;
	display: flex !important;
	flex-wrap: nowrap !important;
	justify-content: center;
	flex-basis: 100% !important;

	ul {
		float: none !important;
		width: auto !important;
		flex-basis: 100% !important;
		padding: 0 !important;

		li {
			a {
				@media screen and (max-width: 1679px) {
					font-size: 0.9vw !important;
					line-height: 1vw !important;
				}

				// &.kidizen-url {
				// 	&:hover {
				// 		&:before {
				// 			bottom: 0 !important;
				// 		}
				// 	}
				// }

				&.sale {

					// color: #C1D065 !important;
					font-family: gilroy-bold !important;

					&:hover:before {

						// background-color: #C1D065 !important;
					}
				}
			}
		}
	}
}

.panel-2,
.panel-3,
.panel-4 {
	padding: 0 0 0 1vw !important;
}

.panel-3 {
	flex-basis: 161% !important;
}

.new.arrivals {
	color: #436FC1 !important;
	// color: #58CCAD !important;
	font-family: gilroy-bold !important;

	&:hover:before {
		background-color: #436FC1 !important;
		// background-color: #58CCAD !important;
	}
}

.panel-1 {
	// flex-basis: 30% !important;
	border-right: 1px solid #B2BAC4;
	// ul {
	// 	padding: 0 !important;
	// }
	// ul:nth-of-type(1) {
	// width: 50%;
	// }
	// ul.category {
	// padding: 0 !important;
	// }
}

.panel-2 {
	// flex-basis: 20% !important;
	border-right: 1px solid #B2BAC4;

	&.panel-sale,
	ul {
		// padding: 0 0 0 5% !important;
		// flex-basis: 50% !important;
		// &.category {
		// padding: 0 0 0 19% !important;
		// }
	}
}

.panel-3 {
	// flex-basis: 30% !important;
}

.panel-4 {
	// flex-basis: 20% !important;
	border-right: 1px solid #B2BAC4;
	flex-wrap: wrap !important;
}

header .site-header-inner .site-nav-submenu div div .menu .panel ul.category.first::before {
	content: none !important;
}

header .site-header-inner .site-nav-submenu div div .menu .panel ul li a:hover {
	font-family: gilroy-bold !important;
}

header .site-header-inner .site-nav-submenu div.bar {
	display: flex;
	justify-content: center;
	padding: 0;
}

header .site-header-inner .site-nav-submenu {
	@media screen and (max-width: 430px) {
		display: none;
	}

}

header.fixed {
	@media screen and (max-width: 430px) {
		height: 70px;
	}
}

header .site-header-inner .nav .site-nav-links li {
	white-space: nowrap;
}

.nav.col-s-12.col-xs-12.col-xxs-12 {
	@media screen and (max-width: 834px) {
		display: none;
	}
}

// @media (min-width: 1024px) {
// 	.flex-menu {
// 		display: flex !important;
// 		flex-wrap: wrap;
// 		padding: 2% 0 2% 50px !important;
// 	}
//
// 	.panel-1 {
// 		flex-basis: inherit;
// 		border-right: 1px solid #B2BAC4;
//
// 		ul.category {
// 			width: 208px;
// 		}
// 	}
//
// 	.panel-2 {
// 		flex-basis: 315px;
//
// 		ul.category {
// 			padding: 0 0 0 72px !important;
// 		}
// 	}
//
// 	.panel-3 {
// 		flex-basis: 20%;
// 	}
//
// 	.panel ul.category-sale {
// 		width: 208px !important;
// 	}
// }