@import "var.less";
@c2-first-font-color: #0B3C81;
@c2-first-cta-color: #fff;
@c2-first-cta-background: #3862AA;
@c2-second-font-color: #fff;
@c2-second-cta-color: #fff;
@c2-second-cta-background: #F3A600;
@c2-third-font-color: #fff;
@c2-third-cta-color: #FFF;
@c2-third-cta-background: #59BF98;

.c2 {
  @media screen and (max-width: 428px) {
    flex-wrap: wrap;
    padding: 0;
    // background: @background;
  }
  display: flex;
  // padding: 0 0 0.8%;
  text-align: center;
  // flex-wrap: wrap;
  div {
    &.first,
    &.second,
    &.third {
      @media screen and (max-width:428px) {
        flex-basis: 100%;
      }
      text-align: center;
      padding: 0;
      box-sizing: border-box;
      flex-basis: 34%;
      position: relative;

      a {
        text-decoration: none;
      }

      .the-content {
        @media screen and (max-width:428px) {}
        position: absolute;
        bottom: 10%;
        width: 100%;

        div {
          @media screen and (max-width:428px) {}

          a {
            @media screen and (max-width: 1679px) {
              width: 15.6vw;
            }
            @media screen and (max-width:428px) {
              width: 61.6vw;
            }
            width: 262px;
          }
        }
      }
    }

    &.first {
      .the-content {
        div {
          a {
            @media screen and (max-width:428px) {}
            color: @c2-first-cta-color;
            background: @c2-first-cta-background;

            &.cta1 {}

            &.cta2 {}

            &.cta3 {}
          }
        }
      }
    }

    &.second {
      @media screen and (max-width: 428px) {}

      .the-content {
        div {
          a {
            color: @c2-second-cta-color;
            background: @c2-second-cta-background;

            &.cta1 {
              @media screen and (max-width: 428px) {}
            }

            &.cta2 {
              @media screen and (max-width: 428px) {}
            }
          }
        }
      }
    }

    &.third {
      .the-content {
        div {
          a {
            color: @c2-third-cta-color;
            background: @c2-third-cta-background;

            &.cta1 {}

            &.cta2 {}
          }
        }
      }
    }
  }
}