@import "var.less";
@c3-first-font-color: #fff;
@c3-first-cta-color: #fff;
@c3-first-cta-background:  #EC5053;
@c3-second-font-color: #FFF;
@c3-second-cta-color: #FFF;
@c3-second-cta-background: #3862AA;
@c3-third-font-color: #fff;
@c3-third-cta-color: #FF6EB7;

.c3 {
  @media screen and (max-width: 428px) {
    flex-wrap: wrap;
  }
  display: flex;
  text-align: center;
  // flex-wrap: wrap;
  div {
    &.first,
    &.second,
    &.third {
      @media screen and (max-width:428px) {
        flex-basis: 100%;
      }
      text-align: center;
      box-sizing: border-box;
      // flex-basis: 33.5%;
      flex-basis: 50%;
      padding: 0;
      position: relative;

      a {
        text-decoration: none;
      }

      .the-content {
        @media screen and (max-width: 428px) {}
        margin: 0;
        position: absolute;
        bottom: 10%;
        width: 100%;

        div {
          @media screen and (max-width: 428px) {}
          @media screen and (max-width: 376px) {}

          a {
            @media screen and (max-width:1679px) {
              width: 20.7vw;
            }
            @media screen and (max-width: 1024px) {}
            @media screen and(max-width: 428px) {
              width: 61.6vw;
            }
            width: 347px;
            color: @c3-first-cta-color;
            background: @c3-first-cta-background;
          }
        }
      }
    }

    &.first {
      @media screen and (max-width: 428px) {
        // padding: 10% 0 0;
        // background: #FDF5F2;
        position: relative;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
      }
      order: 2;
      flex-basis: 67%;
      // padding: 1.7% 1% 0;
      // flex-basis: 67%;
      & > a {
        @media screen and (max-width:428px) {
          width: 100%;
          display: inline-block;
          order: 2;
        }
      }

      .the-content {
        @media screen and (max-width: 428px) {}

        div {
          @media screen and (max-width: 428px) {}
          @media screen and (max-width: 375px) {}

          a {
            @media screen and (max-width: 428px) {}
            // color: @c3-first-cta-color;
            // background: @c3-first-cta-background;

            &.cta1 {
              @media screen and (max-width:428px) {}
            }

            &.cta2 {
              @media screen and (max-width:428px) {}
            }

            &.cta3 {
              @media screen and (max-width:428px) {}
            }

            &.cta4 {
              @media screen and (max-width:428px) {}
            }
          }
        }
      }
    }

    &.second {
      @media screen and (max-width: 428px) {}
      order: 1;
      flex-basis:33.5%;

      .the-content {
        @media screen and (max-width: 428px) {}

        div {
          @media screen and (max-width: 428px) {}

          a {
            // color: @c3-second-cta-color;
            // background: @c3-second-cta-background;

            &.cta1 {
              @media screen and (max-width: 428px) {}
            }

            &.cta2 {
              @media screen and (max-width: 428px) {}
            }

            &.cta3 {
              @media screen and (max-width: 428px) {}
            }

            &.cta4 {
              @media screen and (max-width: 428px) {}
            }
          }
        }
      }
    }

    &.third {
      @media screen and (max-width: 428px) {}

      .the-content {
        @media screen and (max-width: 428px) {}

        div {
          @media screen and (max-width: 428px) {}

          a {
            // color: @c3-third-cta-color;

            &.cta1 {}

            &.cta2 {}
          }
        }
      }
    }
  }
}