@import "var.less";
@c4-background: #FDF5F2;
@c4-first-font-color: #fff;
@c4-first-cta-color: #fff;
@c4-first-cta-background: #EC5053;
@c4-second-font-color: #fff;
@c4-second-cta-color: #fff;
@c4-second-cta-background: #59BF98;

.c4 {
  @media screen and (max-width: 428px) {
    flex-wrap:wrap;
  }
  display: flex;
  // flex-wrap: wrap;

  div {
    &.first,
    &.second {
      @media screen and (max-width: 428px) {
        flex-basis: 100%;
      }
      padding: 0;
      text-align: center;
      flex-basis: 50%;
      position: relative;
    }

    &.the-content {
      @media screen and (max-width: 428px) {}
      position: absolute;
      bottom: 10%;
      text-align: center;
      margin: 0;
      width: 100%;
      left: 0;
      // transform: translateY(-50%);
      a,
      p,
      span {
        @media screen and (max-width: 428px) {
          color: #fff;
        }
      }

      div {
        @media screen and (max-width: 428px) {}

        a {
          @media screen and (max-width: 1679px) {
            width: 21.3vw;
          }
          @media screen and (max-width: 428px) {
            width: 83.6vw;
          }
          width: 358px;
          color: @c4-first-cta-color;
          background: @c4-first-cta-background;
        }
      }
    }

    &.first {
      @media screen and (max-width: 428px) {}
      order:2;
      flex-basis: 67%;

      .the-content {
        @media screen and (max-width: 428px) {}

        h2 {
          @media screen and (max-width: 428px) {}
          color: @c4-first-font-color;
        }

        div {
          @media screen and (max-width: 428px) {}

          a {
            @media screen and (max-width:428px) {}
            // color: @c4-first-cta-color;
            // background: @c4-first-cta-background;

            &.cta1 {}

            &.cta2 {}
          }
        }
      }
    }

    &.second {
      @media screen and (max-width: 428px) {}
      order: 1;
      flex-basis:33.5%;

      .the-content {
        @media screen and (max-width: 428px) {}

        h2 {
          @media screen and (max-width: 428px) {
            color: #fff;
          }
          color: @c4-second-font-color;
        }

        div {
          @media screen and (max-width: 428px) {}

          a {
            @media screen and (max-width: 428px) {}
            // color: @c4-second-cta-color;
            // background: @c4-second-cta-background;

            &.cta1 {}
          }
        }
      }
    }
  }
}