.the-dresses-slider {
  background: #fff;
  opacity: 0;
  transition: all 1s;
  position: relative;
}

.the-dresses-slider .glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.the-dresses-slider .glide * {
  box-sizing: inherit;
}

.the-dresses-slider .glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}

.the-dresses-slider .glide {
  position: unset;
}

.the-dresses-slider img {
  display: block;
}

.the-dresses-slider li {
  position: relative;
}

.the-dresses-slider .width-300 {
  justify-content: center;
}

.the-dresses-slider .width-300 li {
  width: 300px;
}

@media screen and (max-width:1679px) {
  .the-dresses-slider .width-300 li {
    width: 18vw;
  }
}