@import 'var.less';
@div-color2: #6D8995;
@div-color1: #FAF3E1;
@div-color3: #E3918C;

img {
  width: 100%;
}

.the-urls {
  @media screen and (max-width: 1679px){
    height: 11vw;
  }
  @media screen and (max-width: 428px){
    flex-wrap:wrap;
    height: 100vw;
  }
  display:flex;
  background: @div-color1;
  text-align: center;
  align-items: center;
  height: 184px;
  
  div {
    @media screen and (max-width: 428px){
      flex-basis: 100%;
    }
    flex-basis: 34%;

    h2 {
      color: @div-color2;
      margin: 0 0 4%;
      font-family: @gilroyb;
    }

    a {
      color: @div-color3;
    }

  }
}
