.careers-welcome,
.the-job {
	a {
		color: #cc0033;
	}

	b,
	i {}

	b {}

	i {}

	div {
		span {}
	}

	h1,
	h2,
	h3 {
		@media screen and (max-width: 414px) {
			margin: 0 0 4%;
		}
		// font-family: souvenirstd-light;
		// font-weight: bold;
		margin: 0 0 1%;
	}

	h1 {
		// @media screen and (max-width:1679px) {
		// 	font-size: 4vw;
		// }
		// @media screen and (max-width: 414px) {
		// 	font-size: 50px;
		// }
		// font-size: 50px;
	}

	h2,
	h3 {
		// 	@media screen and (max-width: 1679px) {
		// 		font-size: 2vw;
		// 	}
		// 	@media screen and (max-width: 414px) {
		// 		font-size: 36px;
		// 		line-height: 46px;
		// 	}
		// 	font-size: 36px;
		// 	line-height: 40px;
	}

	b,
	h3 {}

	div,
	li,
	p {
		// @media screen and (max-width: 1679px) {
		// 	font-size: 1.3vw;
		// 	line-height: 2vw;
		// }
		@media screen and (max-width: 414px) {
			// font-size: 18px;
			// line-height: 24px;
			margin: 0 0 4%;
		}
		// font-size: 20px;
		// line-height: 30px;
		// font-family: gilroy-regular;
		margin: 0 0 1%;
	}

	.jobs-list,
	.the-job {
		ul {}

		li {
			@media screen and (max-width: 414px) {
				margin: 0 0 10%;
			}
			list-style-type: none;

			a {
				display: block;
			}

			span {
				@media screen and (max-width:737px) {
					display: block;
				}
				display: inline-block;

				&:last-of-type {
					@media screen and (max-width:737px) {
						float: none;
					}
					// float: right;
				}
			}
		}
	}
}

.the-job {
	h2 {
		span {
			@media screen and (max-width:737px) {
				display: block;
			}

			&:last-of-type {
				@media screen and (max-width:737px) {
					float: none;
					margin: 10px 0 0;
				}
				display: inline-block;
				float: right;
			}
		}
	}

	.job-footer {
		margin: 10px 0;
	}
}