@import "../../var.less";

@c2-5-h2-color: #fff;
@c2-5-h3-color: #fff;
@c2-5-top: 50%;
@c2-5-left: 1%;
@c2-5-cta-color: #fff;
@c2-5-cta-background: #EC5152;
@c2-5-cta-size: 278px;
@c2-5-cta-size-1679: 17vw;
@c2-5-cta-size-431: 64.5vw;
