@import 'vars.less';
@background-color1: #075B55;
@background-color2: #F9EBE5;
@cta-background-color: #DEED88;
@cta-font-color: #075B55;
@h1-font-color1: #DEED88;
@h1-font-color2: #F9EBE5;
@font-color: #B9D1B9;
@a-font-color: #DEED88;
@official-rules-color: #F9EBE5;

.content-wrap {
	@media screen and (max-width:428px) {
		// padding: 11% 0;
	}
	display: flex;
	flex-wrap: wrap;
	// background: @background;
	// padding: 4% 0;
	div {
		text-align: center;

		&.first,
		&.second,
		&.third {
			@media screen and (max-width: 428px) {
				flex-basis: 100% !important;
			}
			flex-basis: 33%;
			display: flex;
			flex-wrap: wrap;
		}

		&.first {
			@media screen and (max-width: 428px) {
				order: 1;
				padding: 10% 0;
			}
			// flex-basis: 39%;
			background: @background-color1;
			order: 2;
			display: block;

			h1 {
				@media screen and (max-width: 428px) {
					margin: 0;
				}
				margin: 16.5% 0 0;

				span {
					display: block;
					// letter-spacing: 0.2em;
					&.spread {
						@media screen and (max-width:1679px) {
							font-size: 2.2vw;
						}
						@media screen and (max-width: 428px) {
							font-size: 13vw;
							line-height: 13vw;
						}
						font-family: @souv;
						color: @h1-font-color1;
						margin: 0 0 1%;
					}

					&.giveaway {
						@media screen and (max-width:1679px) {
							font-size: 3.6vw;
						}
						@media screen and (max-width: 428px) {
							font-size: 14vw;
						}
						font-family: gilroy-bold;
						color: @h1-font-color2;
						letter-spacing: 0.1em;
						font-size: 60px;
					}
				}
			}

			p {
				@media screen and (max-width: 1679px) {
					font-size: 1vw;
					line-height: 1.4vw;
				}
				@media screen and (max-width: 428px) {
					// font-size: 3.9vw;
					// line-height: 3.1vw;
					margin: 0 0 6%;
					font-size: 4vw;
					line-height: 5vw;
				}
				font-family: gilroy-regular;
				font-size: 16px;
				line-height: 24px;
				color: @font-color;
				margin: 0 0 4%;
				letter-spacing: 0.04em;

				span {
					@media screen and (max-width: 1679px) {
						font-size: 1.2vw;
						// line-height: 1.1vw;
					}
					@media screen and (max-width: 428px) {
						// font-size: 3.9vw;
						font-size: 18px;
					}
					color: @a-font-color;
					font-family: gilroy-bold;
					font-size: 20px;
					// line-height: 21px;
					text-decoration: none;
				}

				&.prep {
					@media screen and (max-width: 428px) {
						// margin: 11% 0 0;
					}
					margin: 4.5% auto 0;
				}

				&.official {
					// margin: 7% 0 0;
					a {
						@media screen and (max-width:1679px) {
							font-size: 1.3vw;
						}
						@media screen and (max-width: 428px) {
							font-size: 4.5vw;
						}
						color: @official-rules-color;
						font-family: gilroy-bold;
						letter-spacing: 0.2em;
						text-decoration: none;
					}
				}

				&.fine-print {
					@media screen and (max-width:1679px) {
						font-size: 0.9vw;
						line-height: 1.2vw;
					}
					@media screen and (max-width: 428px) {
						font-size: 3vw;
						line-height: 4vw;
					}
					font-size: 14px;
					font-style: italic;
					margin: 1% 0 0;
					line-height: 20px;
				}
			}

			a {
				@media screen and (max-width: 1679px) {
					font-size: 1.3vw;
					// line-height: 1.1vw;
				}
				@media screen and (max-width: 428px) {
					// font-size: 3.9vw;
					font-size: 5vw;
				}
				color: @a-font-color;
				font-family: gilroy-bold;
				font-size: 22px;
				line-height: 1.5em;
				text-decoration: none;
				letter-spacing: 0.2em;
				text-transform: uppercase;

				&.enter-to-win {
					@media screen and (max-width: 1679px) {
						font-size: 1.2vw;
						width: 15vw;
						height: 3vw;
					}
					@media screen and (max-width: 428px) {
						// font-size: 4.7vw;
						// margin: 10% 0;
						// padding: 3% 9%;
						font-size: 4.5vw;
						width: 59vw;
						height: 12vw;
					}
					font-family: gilroy-bold;
					font-size: 20px;
					line-height: 24px;
					letter-spacing: 0.2em;
					color: @cta-font-color;
					background: @cta-background-color;
					text-transform: uppercase;
					// padding: 2% 5% 1.5%;
					// margin: 7% 0 6.5%;
					// display: inline-block;
					display: flex;
					width: 252px;
					height: 50px;
					justify-content: center;
					align-items: center;
					margin: 7% auto;
				}
			}
		}

		&.second {
			@media screen and (max-width: 428px) {
				// padding: 11% 5% 0;
				order: 2;
			}
			order: 1;
			justify-content: right;
		}

		&.third {
			@media screen and (max-width:428px) {
				order: 3;
				min-height: 428px;
			}
			background: @background-color2;
			order: 3;
			justify-content: center;
			align-items: center;

			img {
				@media screen and (max-width:1679px) {
					width: 11.6vw;
				}
				@media screen and (max-width:428px) {
					width: 47vw;
				}
				width: 296px;
			}
		}
	}
}