@import 'vars.less';

.content-wrap {
	@media screen and (max-width:428px) {
		// padding: 11% 0;
		flex-wrap: wrap;
	}
	display: flex;
	// flex-wrap: wrap;
	background: @background;
	// padding: 4% 0;
	div {
		text-align: center;

		&.first,
		&.second,
		&.third {
			@media screen and (max-width: 428px) {
				flex-basis: 100% !important;
			}
			flex-basis: 34%;
		}

		&.first {
			@media screen and (max-width: 428px) {}
			// flex-basis: 39%;
			order: 2;

			h1 {
				@media screen and (max-width: 1679px) {
					line-height: 3.5vw;
				}
				@media screen and (max-width: 428px) {
					// margin: 0;
					line-height: 10vw;
				}
				margin: 5.5% 0 0;
				letter-spacing: 0.2rem;

				span {
					display: block;
					// letter-spacing: 0.2em;
					&.spread {
						@media screen and (max-width:1679px) {
							font-size: 2.2vw;
						}
						@media screen and (max-width: 428px) {
							font-size: 8vw;
						}
						// font-family: @souv;
						font-family: gilroy-bold;
						color: @h1-font-color;
						// margin: 0 0 1%;
					}

					&.giveaway {
						@media screen and (max-width:1679px) {
							font-size: 3.6vw;
						}
						@media screen and (max-width: 428px) {
							font-size: 10vw;
						}
						// font-family: gilroy-bold;
						font-family: @souv;
						color: @h1-font-color;
						letter-spacing: 0.1em;
						font-size: 50px;
					}
				}
			}

			p,
			ul {
				@media screen and (max-width: 1679px) {
					font-size: 1.2vw;
					line-height: 1.4vw;
				}
				@media screen and (max-width: 428px) {
					// font-size: 3.9vw;
					// line-height: 3.1vw;
					margin: 0 0 6%;
					font-size: 4vw;
					line-height: 5.5vw;
				}
				font-family: gilroy-regular;
				font-size: 20px;
				line-height: 24px;
				color: @p-font-color;
				margin: 0 0 4%;
				letter-spacing: 0.04em;

				span {
					@media screen and (max-width: 1679px) {
						font-size: 1.2vw;
						// line-height: 1.1vw;
					}
					@media screen and (max-width: 428px) {
						// font-size: 3.9vw;
						font-size: 18px;
					}
					color: @p-font-color;
					font-family: gilroy-bold;
					font-size: 20px;
					// line-height: 21px;
					text-decoration: none;
				}

				&.prep {
					@media screen and (max-width: 428px) {
						// margin: 11% 0 0;
					}
					margin: 4.5% auto 0;
				}

				&.official {
					color: @h1-font-color;
					// margin: 7% 0 0;
					a {
						@media screen and (max-width:1679px) {
							font-size: 1.3vw;
						}
						@media screen and (max-width: 428px) {
							font-size: 20px;
						}
						color: @h1-font-color;
						font-family: gilroy-bold;
						letter-spacing: 0.2em;
						text-decoration: none;
					}
				}

				&.fine-print {
					@media screen and (max-width:1679px) {
						font-size: 0.9vw;
						line-height: 1.2vw;
					}
					@media screen and (max-width: 428px) {
						font-size: 14px;
						line-height: 18px;
					}
					font-size: 14px;
					font-style: italic;
					margin: 1% 0 0;
					line-height: 20px;
				}
			}

			a {
				@media screen and (max-width: 1679px) {
					// font-size: 1.3vw;
					// line-height: 1.1vw;
				}
				@media screen and (max-width: 428px) {
					// font-size: 3.9vw;
					// font-size: 21px;
				}
				// color: @p-font-color;
				// font-family: gilroy-bold;
				// font-size: 22px;
				// line-height: 21px;
				// text-decoration: none;
				// letter-spacing: 0.2em;
				// text-transform: uppercase;
				&.enter-to-win {
					@media screen and (max-width: 1679px) {
						font-size: 1.2vw;
						width: 15vw;
						height: 3vw;
					}
					@media screen and (max-width: 428px) {
						font-size: 4.7vw;
						width: 59vw;
						height: 12vw;
					}
					font-family: gilroy-bold;
					font-size: 20px;
					line-height: 24px;
					letter-spacing: 0.2em;
					color: @cta-font-color;
					background: @cta-background-color;
					text-transform: uppercase;
					margin: 6% 0;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					text-decoration: none;
					width: 252px;
					height: 50px;
				}
			}

			h2 {
				@media screen and (max-width: 1679px) {
					font-size: 1.1vw;
				}
				@media screen and (max-width: 428px) {
					font-size: 4vw;
				}
				color: @h1-font-color;
				text-transform: uppercase;
				font-size: 18px;
				line-height: 24px;
				letter-spacing: 0.2em;
				margin: 0;
			}
		}

		&.second {
			@media screen and (max-width: 428px) {
				padding: 11% 5% 0;
				display: none;
			}
			// flex-basis: 61%;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			order: 1;

			div {
				&:first-of-type {
					@media screen and (max-width: 428px) {
						flex-basis: 100%;
						margin: 0 0 7%;
					}
					flex-basis: 36%;
				}

				&:last-of-type {
					@media screen and (max-width: 428px) {
						flex-basis: 100%;
						padding: 0;
					}
					flex-basis: 64%;
					padding: 0 3.6%;

					img {
						&.desktop {
							&:first-of-type {
								display: inline-block;
								margin: 0 0 6%;
							}
						}

						&.mobile {
							&.this-margin {
								margin: 0 0 6%;
							}
						}
					}
				}
			}
		}

		&.third {
			order: 3;
			text-align: right;

			img {
				width: 100%;
			}
		}
	}
}