@yellow: #F7FF8F;
@green: #8EDBC9;
@pink: #FDD3E9;
@blue: #3C6591;
@background: #282B54;
@souv: souvenirstd-light;
@gilroyb: gilroy-bold;
@gilroyr: gilroy-regular;

.mobile {
	@media screen and(max-width: 414px) {
		display: block;
	}
	display: none;
}

.desktop {
	@media screen and (max-width: 414px) {
		display: none !important;
	}
}

.ref {
	@media screen and (max-width: 414px) {
		//onload
		top: 11%;
		//scroll
		// top: 5.3%;
		left: 0;
		transform: translateX(0);
	}
	position: absolute;
	opacity: 0.5;
	//onlaod
	// top: 13.3%;
	//scroll
	top: 8.8%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
	//display:none;
}