@souv: souvenirstd-light;
@gilroyb: gilroy-bold;
@gilroyr: gilroy-regular;

.mobile {
	@media screen and(max-width: 428px) {
		display: block;
	}
	display: none;
}

.desktop {
	@media screen and (max-width: 428px) {
		display: none !important;
	}
}