.dept-bf a {
  color: #D05F9A !important;
}

.dept-warehouse a {
  color: #FF1744 !important;
}

.dept-clearance a,.dept-sale a {
  color: #FF1744 !important;
}

.dept-new-arrivals a {
  color: #436FC1 !important;
}

.dept-select-styles a {
  color: #B589BE !important;
}