.dept-bf a {
  color: #E493CD !important;
}

.dept-warehouse a {
  color: #FF1744 !important;
}

.dept-sale a {
  color: #C2D05E !important;
}

.dept-sale:hover .line {
  border-color: #C2D05E !important;
}

.dept-clearance a {
  color: #FF1744 !important;
}

.dept-clearance:hover .line {
  border-color: #FF1744 !important;
}

.dept-new-arrivals a {
  color: #58CCAD !important;
}

.dept-select-styles a {
  color: #0088A2 !important;
}

.dept-select-styles:hover .line {
  border-color: #0088A2 !important;
}