@import "../var.less";
@c2-new-arrivals-h2-font-family: @master !important;
@c2-new-arrivals-h2-color: #fff;
@c2-new-arrivals-h2-color-431: #fff;
@c2-new-arrivals-h3-color: #fff;
@c2-new-arrivals-h3-color-431: @c2-new-arrivals-h3-color;
@c2-new-arrivals-p-color: #fff;
@c2-new-arrivals-p-font-family: @gilroyr !important;
@c2-new-arrivals-transform: translate(-50%, -50%);
@c2-new-arrivals-top: 50%;
@c2-new-arrivals-top-431: 149vw;
@c2-new-arrivals-left: 16%;
@c2-new-arrivals-width: 34%;
@c2-new-arrivals-width-1678: 37%;
@c2-new-arrivals-the-flex-width: auto;
@c2-new-arrivals-the-flex-top-431: 112vw;
@c2-new-arrivals-cta-color: #fff;
@c2-new-arrivals-cta-background: #4261A6;
@c2-new-arrivals-cta-background-430: @c2-new-arrivals-cta-background;
// @c2-new-arrivals-cta-size: 203px;
// @c2-new-arrivals-cta-size-1679: 12vw;
// @c2-new-arrivals-cta-size-431: 36.5vw;
@c2-new-arrivals-cta-size: 275px;
@c2-new-arrivals-cta-size-1679: 17vw;
@c2-new-arrivals-cta-size-431: 42.5vw;
