.cta-drop-down {
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-wrap: wrap;

    a {
        @media screen and (max-width: 768px) {
            font-size: 0.7rem;
            flex-basis: 46%;
        }

        @media screen and (max-width:320px) {
            font-size: 0.7rem;
            margin: 0 0.6rem 0.6rem 0;
        }

        position: relative;
        padding: 0.75rem 1.25rem;
        box-sizing: border-box;
        display: inline-block;
        flex-basis: 48%;
        text-transform: uppercase;
        margin: 0 1rem 1rem 0;
        text-align: center;
        background: #f9f2e1;
        color: #fff;
        text-decoration: none;
        font-family: gilroy-bold;
        letter-spacing: 2px;

        &:nth-of-type(even) {
            margin-right: 0;
        }

        &.newborn-cta,
        &.sale-cta {
            flex-basis: 99%;
            margin: 0;
        }
    }
}